div.book {
  /* --------------------------------------
   *  Define how counters are incremented
   * --------------------------------------
   */

  /* -------------------------------------
   *  All the rules for elements need to be prefixed
   *  according to slightly different rules
   *  - Preface isn't numbered
   *  - Chapters are numbered
   *  - Appendixes are lettered
   *
   * ie: "Figure 4.3" in chapters but "Figure A3" in an appendix
   * -------------------------------------
   */

  /* -------------------------------------
 *  The bulk of numbering!
 *
 *
 *  To handle slight variations in prefixing:
 *  @part-label is used in page headers ie "Chapter 3"
 *  @part-counter is the prefix to things like "Table A4"
 *  @part-target is CSS3 for making links to elements
 *  @part-separator is the little dot in "Table 4.3"
 * -------------------------------------
 */

}
div.book div.chapter {
  counter-increment: chapter;
}
div.book > div.preface {
  counter-reset: section figure subfigure table equation example exercise footnote toc-section stats-lab;
  /* ------------------------------------------
   *  Increment the counter for statistics lab
   * -------------------------------------------
   */

  /* --------------------------------------
   *  Define where counters are displayed
   * --------------------------------------
   */

  /* ------------------------------------------
   *  Display the counter for statistics lab
   * -------------------------------------------
   */

}
div.book > div.preface .statistics.lab {
  counter-increment: stats-lab;
}
div.book > div.preface .statistics.lab:not(.labeled) {
  counter-increment: stats-lab;
}
div.book > div.preface .statistics.lab.labeled {
  counter-increment: none;
}
div.book > div.preface .statistics.lab > .title:not(.labeled)::before {
  content: "" "" "" "" counter(stats-lab) " " "";
}
div.book div.chapter {
  counter-reset: section figure subfigure table equation example exercise footnote toc-section stats-lab;
  /* ------------------------------------------
   *  Increment the counter for statistics lab
   * -------------------------------------------
   */

  /* --------------------------------------
   *  Define where counters are displayed
   * --------------------------------------
   */

  /* ------------------------------------------
   *  Display the counter for statistics lab
   * -------------------------------------------
   */

}
div.book div.chapter .statistics.lab {
  counter-increment: stats-lab;
}
div.book div.chapter .statistics.lab:not(.labeled) {
  counter-increment: stats-lab;
}
div.book div.chapter .statistics.lab.labeled {
  counter-increment: none;
}
div.book div.chapter .statistics.lab > .title:not(.labeled)::before {
  content: "" "" counter(chapter, decimal) "." counter(stats-lab) " " "";
}
div.book > div.appendix {
  counter-reset: section figure subfigure table equation example exercise footnote toc-section stats-lab;
  /* ------------------------------------------
   *  Increment the counter for statistics lab
   * -------------------------------------------
   */

  /* --------------------------------------
   *  Define where counters are displayed
   * --------------------------------------
   */

  /* ------------------------------------------
   *  Display the counter for statistics lab
   * -------------------------------------------
   */

}
div.book > div.appendix .statistics.lab {
  counter-increment: stats-lab;
}
div.book > div.appendix .statistics.lab:not(.labeled) {
  counter-increment: stats-lab;
}
div.book > div.appendix .statistics.lab.labeled {
  counter-increment: none;
}
div.book > div.appendix .statistics.lab > .title:not(.labeled)::before {
  content: "" "" counter(appendix, upper-latin) "" counter(stats-lab) " " "";
}
