@import url('ccap-biology.less');

.x-feature (@color, @bg-color, @file, @type: svg ) {
  &::before {
    background-position: bottom left;
  }
}

.abstract,
.end-of-book-solutions {
  display: none;
}

.learning-objectives {
  border: 2pt solid @green;
  margin: 1em 0em;
  padding: .50em;
  page-break-inside: avoid;
  page-break-before: avoid;
}


//AP bio specific
.visual-connection, .ap-everyday, .ap-science-practices {
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .exercise {
    margin: 0;
     .title {
      font-size: 15px;
    }
  }
}
.visual-connection {
  page-break-inside: avoid;
  .x-feature(black, @cream, Visual_Connection_feature, png);
  &::before {
    width: 600px;
    height: 71px;
  }
}
.ap-everyday {
  page-break-inside: avoid;
  .x-feature(black, @cream, Everyday_AP_feature, png);
  &::before {
    width: 825px;
    height: 57px;
  }
}
.ap-science-practices {
  page-break-inside: avoid;
  .note {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    > div.title { padding-bottom: 5px; }
    .exercise  {
      .title {
        margin: 0 0 0 0;
        padding: 0;
      }
    }
  }
  .x-feature(black, @cream, AP_Scientific_Practices_feature, png);
  &::before {
    width: 825px;
    height: 60px;
  }
}

//AP bio specific
.ap-test-prep > .title {
  column-span: all; margin-top: 1em;
}
.os-teacher {
  display: none;
}

.cnx-eoc {
  .x-column-count(1);
}
