 /* Styles used when generating a PDF from xhtml+css
 ***************************************************/
@teal: #003333;
@light-green: #ccffcc;
@cream: #ffffcc; // for key concepts background
@tuscany: #cc6633;
@green: #336633;
@brown:#663300;
@orange: #ffcc00;
@gray: #cccccc;
@blue: blue;
@column: 3.5in;

@import url('ccap-base.less');
@import url('ccap-numbering.less');


/****** after thorough testing move this to base.less *********/
.float-top { float:top; }
.float-bottom { float:bottom; }
	

.chapter {
  .x-column-count(2);
  text-align: justify;
} 


.span-all {
  column-span: all !important;
  -webkit-column-span: all !important;	
}

.title { text-align: left !important; }

a { color:black; }

/****** unit page ******/

/*.part {
page-break-before:always;
page-break-after: always;
.title { color: @green; }
}*/
div.part > div.titlepage:first-child{display:none;}
/**********************/

/****** Features ******/
// The args are title color, background color, and path to SVG
.evolution  { .x-feature(black, @cream, CNX_BioMaj_Evolution); }
.scientific { .x-feature(black, @cream, CNX_BioMaj_Scienctific); }
.everyday   { .x-feature(black, @cream, CNX_BioMaj_Everyday); }
.careers    { .x-feature(black, @cream, CNX_BioMaj_Career); }

 
 //hack for heading/svg
  
//pulls only exercises that contain "biology" in the id attribute rewrite using .art class
.art{
  background-color: @cream;	
  page-break-inside: avoid;
  padding:.5em;
  > div.body > p{   //styles art connections title
    padding-left: .25em;   	
    font: x-large  arial,sans-serif;
    text-align: left;
  }   	
  &:before{
    content: url(ccap-biology/CNX_BioMaj_Art.svg); //sets the svg as the header of the exercise
    max-width: 3.95in;    
    margin-top: -.25in;
  }
  
  .title{
    padding-left: 1em;
    .caption{ padding:1em; } 
  } 
  .problem{ padding: 1em; }
   
  .solution{ display:none; } //hide solution in this feature and pull to the EOC
}

/*end of Art Feature*/
auto
div.exercise > div.title{ display:none; }  //hide exercise title overrides docbook

.x-feature (@color, @bg-color, @svg){
  background-color: @bg-color;

  &.span-all {
   .body { columns:2; }
  }
    
  &:before {
    padding-top: 0.65in; //0.75 + margin-top. 0.75in is from the SVG files
    background-repeat: no-repeat;
    background-position: top left;
    background-position: top outside;
    page-break-inside: avoid;
    page-break-after: avoid;	
  	background-color: white;
    content: "";
    display:block;
    // the following are tweaked so the overlays really do over lay
    margin-left: -1.05em;
    margin-right: -1.05em;
    margin-top: -0.03in;
  }
 
  .title {
    text-align: left !important;
    font-size: x-large;
    margin: .25em 0;
    max-width: @column;
    color: black;
  }
  

  &:before {
    background-image: url("ccap-biology/@{svg}.svg");
    column-span: 1 !important;
  } 
}

/************************ Elements that are Features but Special Styled*********************/
.interactive { 
   
  .x-feature(black, none, CNX_BioMaj_Link); 
   
  &:before {
    background-repeat: no-repeat;
    background-position: top left;
    background-position: top outside;
    page-break-inside: avoid;
    page-break-after: avoid;	
    background-color: white;
    //content: "";
    display:block;
    padding-bottom:.15in;    
  }  
      
  img {
    float:right;
    // the following are tweaked so the overlays really do over lay						      
    margin-left: -.75em;
    margin-right: -1.05em;
    margin-top: -6.5em;
  }  

  a {
    color:@tuscany;
    font-weight: bold;
  }			  
}	
              

/*********************** Table of Contents ********************/

.book .toc {
		
  > .title {
    color:black;
    font-weight: bold;
    padding-bottom: .25em;
    margin-bottom:.50em;
    border-bottom: 1px solid @tuscany;		
  }

  .target-preface {
    font-weight: bold;
    color: @green;
  }
	
  .target-chapter, .target-appendix, .target-index, .target-part {  //this code could be simplified 
    font-weight: bold;
    color: @green;
    display:inline !important; 
    
    &:before { display:none !important; }
  }

  .target-section .cnx-gentext-section {
    color:black !important;
    display: inline; //set to inline to display 1.1, 1.2 section numbers
  }	 

  .target-chapter .cnx-gentext-chapter { display: inline; }

  > ul > li { padding-bottom: .5em; } 
  > ul > li li { padding-bottom: 0 !important; } 
  .target-appendix .cnx-gentext-appendix { display:inline; }
}

/* "Key Concepts" Introduction Table */  

.chapter .toc {
  border: thick solid @green;
  background-color: @cream;
  
  > .title {
    margin-bottom: .5em;
    content: "Chapter Sections";
    background-color: @green;
    color: white;
    font-weight: bold;
    text-align: center !important;
    border: 0;
 }
  
  .toc-section {
    margin-bottom:.5em;	
    margin-left: .5em;
    padding:0em 1em;
    text-indent: -2.5em; //this is to give the illusion that the second line of a section title is indented
    
  > a.target-section {
    color:black;
     
  .cnx-gentext-n {
      padding: .15em;     
    
  &:after { content: ":";}/*add : to key concepts BIO Review Issue #9*/
      
 }
 /*remove . from key cappendixoncepts BIO Review Issue #9*/
 .cnx-gentext-autogenerated {display:none !important;}
 }   
}   

  > ul li .toc-section {padding: .25em; }
 
  /*removes summary from key concepts # 16 code */
  .toc-section ul {
    display:none;
 }
}
	
.cnx-eoc p,p:nth-of-type(1) { text-indent: 0em; }

p {
  font-family: Liberation Serif, serif, STIXGeneral, STIXSizeOneSym, STIXSize1;  
  /* subsequent paragraphs are indented */
  text-indent: 2em;
}

.footnote {
  margin: 2em;
  font-style: italic;
  color: black !important;	
}

.glossary {
  // End-of-chapter material should start on a new page 
  page-break-before: always;

  .title {
    /* Change "Glossary" to "Key Terms" */
    content: "Key Terms";
    color: @green;
    font-size: x-large !important;
    padding: 0em !important;
    display: block !important;
  }  

  // Remove ":"  
  dt::after {
    content: " " !important;
  }
}


div.cnx-eoc {
  > .title {  
    display: none;
  }
  
  // ccap-base sets this so override it here
  a {
    font-size: x-large !important;
    color: @green !important;
  }
	
  .cnx-gentext-t { color:@green !important; }	
	
  .cnx-gentext-t {
    color: black;   //EOC | needs to be separated to style separately
    content: "| " content();    
  }  
}


/* Indent margins on lists */.gitignore
.cnx-eoc .problem .orderedlist {
  margin-left: 4em;
}

.cnx-eoc.references p { text-indent: 0em; }

body { font-size: 9.5pt; }

.span-all img {
   column-span:all !important;
   -webkit-column-span: all !important;
}

img { max-width: 3.50in; } //sets the image with for single column


.chapter h1.title {
  column-span: all !important; 
  font-size: 4em; /* x-large; */
  font-weight: bold;
  text-align: left !important;
  color: @green;
 
  .cnx-gentext-n {
    font-weight: bold;
    padding-right: 0em;
    color: @green;
  }

  .cnx-gentext-t {
    &::before {
      content: "| ";
      color: black;
    }
  }
}

a { font-weight: normal; }

.toc > li > ul a { color: #0061AA; }

h1, h2, h3 {
  margin: 0.5em 0em;
  text-align: left !important; //overides text alignment set in
}

h2 {
  color: @green;
  font-size: x-large;
  .cnx-gentext-n { color: @green; }

  // Separate the section number and title with a pipe
  .cnx-gentext-t::before {
    color: black;    
    content: "| ";
  }

  &::before { color: @green; }
   	
  .toc-section > ul > li {
    display: block;
    string-set: cnx-objectives content();
  }  	
}

h3 {
  color: @green;
  font-size:large;
  font-weight: bold;
}
h4 {
  color: @green;
  font-style:italic;
}

blockquote {
  color: @gray;
  font-size: 150%;
  
  &::before, &::after {
    font-weight: bold;
    color: black;
  }

  &::before { content: "\201C" /* open-quote */; }
  &::after { content: "\201D" /* close-quote; */; }
}


  
.introduction {
  column-gap: 2.5em !important;
  .splash {
    column-span:all;
  	-webkit-column-span:all;
  	width: 100% !important;
    max-width: none !important;
 }
} 

div.introduction h3.title {
  content: "Introduction";
  font-size: x-large;
}

/*Tables*/

.table{ 
  
table {
  background-color: @light-green;      
  margin: 0;
  border-style: 5px solid orange;
  
}

caption {
  padding-top: .5em;
  caption-side:bottom;
  font-weight:bold;
  color: @green;
  border-top: 5px solid @green;
}



th{
background-color: black;
color:white;
font-size: medium;
}
  
 


.table caption {
  caption-side: bottom;
}

}
/* these are overwrites for tables should be tidied up  */

div.table-caption.caption{
margin-top: 1em;
string-set: caption-top content();
display:none;
}

div.table{
margin: 0;
padding:0;

 &:before{
 content:string(caption-top);
 color:white;
 font-weight:bold;
 background-color: @green;
 display:inline-block;
 margin-top: 1em;
 margin-right:-.65em;
 padding: .25em;
 text-align: left !important; 
 font-size: large;
 }
}


table{border-style:none !important}



/*End of Tables*/

.figure {
  &.span-all {
    column-span: all !important;
    > .caption { text-align:center; }
  }

  > .title {
    display: inline;
    color: @tuscany;
    font-weight: bold;
    font-size: small;
  }

  > .caption {
    display: inline;
    font-weight: bold;
    font-size: small;
  }
  
  .subfigure {
    /* test for redundancy should inherit from parent figure remove/test */
    &.span-all {
      column-span: all !important;   
      padding: 1em;
    }

    > .title {
      display: inline;
      font-weight: bold;
      font-size: small;
    }

    > .label {
      display: inline;
      font-weight: bold;
    }
  }
}

.note > .title { border-bottom: 0px; }


/* These are end-of-chapter collected solutions */
.solutions {
  display: block; // Since they're disabled in ccap-physics
  color: gray;
  float: bottom;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  
  a {
    color: gray;
    //font-weight: bold;
  }

  * {
    display: inline;
  }
    
  > div {
    margin: 0em 0.5em;
    
    &.title {
      border: 0em; // remove the underscore
    }
  }
}	