@import url('refactor/l10n/en.less');
@import url('ccap-biology.less');

.x-feature (@color, @bg-color, @file, @type: svg ) {
  &::before {
    background-position: bottom left;
  }
}

.abstract,
.end-of-book-solutions {
  display: none;
}

.learning-objectives {
  border: 2pt solid @green;
  margin: 1em 0em;
  padding: .50em;
  page-break-inside: avoid;
  page-break-before: avoid;
}

.exercise {
  margin: 0.5em 0;
  font-size: 9.5pt;
  font-family: @font-family-bio;

  p {
    font-size: 9.5pt;
    font-family: @font-family-bio;
  }

  img {
    display: block;
    margin: 1em auto;
    max-width: 6in;
    max-height: 5.5in;
  }
}

.exercise .problem {
  li {
    margin-bottom: 0.5em;

    p {
      margin-bottom: 0;
    }
  }

  .table table tr:first-child th:first-child {
    color: black !important;
    background-color: @cream !important;
    font-size: small;
    border-style: none !important;
    border-top: @table-border !important;
    border-bottom: @table-border !important;
    text-align: center !important;
  }

  table {
    page-break-inside: auto;
    // If a table spans more than 1 page then put caption on all following pages
    prince-caption-page: all;
    border: 0 !important;
    border-bottom: @table-border !important;
    border-collapse: collapse;
    margin: 1.5em auto;

    caption {
      padding-top: .5em;
      padding-bottom: 1em;
      font-weight: bold;
      color: @green;
      caption-side: bottom;
    }

    td {
      border-bottom: @table-border;
      padding: 0.25em;
      border-right: @table-border;

      &:last-child {
        border-right: none;
      }
    }

    tr { page-break-inside: avoid;}

    th {
      color: black;
      background-color: @cream;
      font-size: small;
      border-style: none !important;
      border-top: @table-border !important;
      border-bottom: @table-border !important;
      text-align: center !important;
      font-weight: bold;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 1em;
      padding-right: 1em;
      border-color: black !important;
    }

    //handle lists inside tables
    .itemizedlist {
      margin: 0; //reset
      list-style-type: none; //no bullets for lists inside tables
      > .listitem > p { font-family: @font-family !important; } //overrides bio p font use font-family from base
    }
  }

  div.orderedlist {
    margin: 0;
  }

  ol.orderedlist {
    margin: 0.5em 0 0.5em 4em;

    li p { margin-left: 0; }
  }
}

//AP bio specific
.visual-connection, .ap-everyday, .ap-science-practices {
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .exercise {
    margin: 0;
     .title {
      font-size: 15px;
    }
  }
}
.visual-connection {
  page-break-inside: avoid;
  .x-feature(black, @cream, Visual_Connection_feature, png);
  &::before {
    width: 600px;
    height: 71px;
  }
}
.ap-everyday {
  page-break-inside: avoid;
  .x-feature(black, @cream, Everyday_AP_feature, png);
  &::before {
    width: 825px;
    height: 57px;
  }
}
.ap-science-practices {
  page-break-inside: avoid;
  .note {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    > div.title { padding-bottom: 5px; }
    .exercise  {
      .title {
        margin: 0 0 0 0;
        padding: 0;
      }
    }
  }
  .x-feature(black, @cream, AP_Scientific_Practices_feature, png);
  &::before {
    width: 825px;
    height: 60px;
  }
}

//AP bio specific
.ap-test-prep > .title {
  column-span: all; margin-top: 1em;
}
.science-practice  {
  > .section > .title {
    display: none;
  }
}
.os-teacher {
  display: none;
}

.cnx-eoc {
  .x-column-count(1);
}
