
// This file recreates the inline styling which was applied in the old table2epub.xsl
// transform. These inline style rules contained !important and made it impossible
// to customize table styling in OpenStax textbooks. 

// This file is provided in order to provide the same styling for the older CCAP textbooks
// now that the xsl transforms have been updated to remove style="" from table tags.

div.table {
  table {
    border: 1px solid;
  }
}

table > tbody > tr > td > table {
  border: 0 !important;
  margin: 0 !important;
}

td.entrytbl {
  height: 100%;
  padding: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;

  > table {
    height: 100%; 
    border: 0 !important;
    margin: 0 !important;
  }
}

.widetable {
  width: 100%;
}

.tablecell {
  border-left: 0 !important; 
  border-top: 0 !important;
}

.text-align-center {
  text-align: center !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-right {
  text-align: right !important;
}


.colsep-off {
  border-right: 0 !important;
}
.colsep-on {
  border-right: 1px solid;
}
.rowsep-off {
  border-bottom: 0 !important;
}
.rowsep-on {
  border-bottom: 1px solid;
}

.frame-none {
  border-width: 0 !important;
}
.frame-sides {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}
.frame-top {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
}
.frame-bottom {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
}
.frame-topbot {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}