@import url('ccap-physics.less');

.chapter > .introduction > .toc {
  a {
    margin:0em;
    padding:0em;
  }
  .toc-section {
    padding: 0.25em 0em;
    margin: 0em 1em 0em 0.5em;
    .abstract {
      display:none;
    }
  }
}

div.colophon.end-of-book-solutions {
  display:block;
}

.cnx-eoc .ap-test-prep {
  .x-column-count(2);
  page-break-before:auto;
  }