@Appendix:  "Appendix";
@Chapter:   "Chapter";
@Equation:  "Equation ";
@Example:   "Example ";
@Exercise:  "Exercise ";
@Figure:    "Figure ";
@Note:      "Note ";
@Preface:   "Preface";
@Section:   "Section ";
@Table:     "Table ";

#l10n {
  .page-title(@part;    @counter; @title) {}
  .page-title(preface;  @counter; @title) { string-set: cnx-header @DEBUG_START @Preface  " " @counter " | " @title @DEBUG_END; }
  .page-title(chapter;  @counter; @title) { string-set: cnx-header @DEBUG_START @Chapter  " " @counter " | " @title @DEBUG_END; }
  .page-title(appendix; @counter; @title) { string-set: cnx-header @DEBUG_START @Appendix " " @counter " | " @title @DEBUG_END; }

  // Internal mixins that are used to prefix the label on a piece of content.
  // Some Examples:
  //
  // - Note in a chapter is labeled `Note 2.7`
  // - Figure in an Appendix is labeled `Figure B4`
  // `.x-content-counter(@part;    @before; @after) {}`
  .x-content-counter(@part;    @before; @after) {}
  .x-content-counter(preface;  @before; @after) { content: @DEBUG_START @before @after @DEBUG_END; }
  .x-content-counter(chapter;  @before; @after) { content: @DEBUG_START @before counter(chapter, decimal) "." @after @DEBUG_END; }
  .x-content-counter(appendix; @before; @after) { content: @DEBUG_START @before counter(appendix, upper-latin) @after @DEBUG_END; }

  .label(@part;     equation;     @counter;         ) { .x-content-counter(@part; "("; @counter ")"); }
  .label(@part;     example;      @counter;         ) { .x-content-counter(@part; @Example; @counter " "); }
  .label(@part;     exercise;     @counter;         ) { .x-content-counter(@part; @Exercise; @counter " "); }
  .label(@part;     figure;       @counter;         ) { .x-content-counter(@part; @Figure; @counter " "); }
  .label(@part;     problem;      @counter; end-part) { content: @DEBUG_START @counter "." @DEBUG_END; }
  .label(@part;     section;      @counter;         ) { .x-content-counter(@part; ""; @counter " "); }
  .label(@part;     section;      @counter; end-part) { .x-content-counter(@part; ""; @counter " "); }
  // TODO: This should probably ONLY be for end-part solutions.
  .label(default;   solution;     @counter;         ) { content: @DEBUG_START @counter @DEBUG_END; }
  .label(@part;     solution;     @counter; @context) { content: @counter; }
  .label(@part;     subfigure;    @counter;         ) { content: @DEBUG_START "(" @counter ") " @DEBUG_END; }
  .label(@part;     table;        @counter;         ) { .x-content-counter(@part; @Table; @counter " "); }
  .label(@part;     toc-section;  @counter;         ) { .x-content-counter(@part; ""; @counter " "); }

  // Links to other pieces of content require looking up the target-counter instead of just the counter.
  .x-content-target-counter(@part;    @before; @after) {}
  .x-content-target-counter(preface;  @before; @after) { content: @DEBUG_START @before "" "" @after @DEBUG_END; }
  .x-content-target-counter(chapter;  @before; @after) { content: @DEBUG_START @before target-counter(attr(href), chapter) "." @after @DEBUG_END; }
  .x-content-target-counter(appendix; @before; @after) { content: @DEBUG_START @before target-counter(attr(href), appendix, upper-latin) "" @after @DEBUG_END; }

  .xref-label(@part;  equation;   @counter) { .x-content-target-counter(@part; "Equation "; @counter); }
  .xref-label(@part;  example;    @counter) { .x-content-target-counter(@part; @Example;  @counter); }
  .xref-label(@part;  exercise;   @counter) { .x-content-target-counter(@part; @Exercise; @counter); }
  .xref-label(@part;  figure;     @counter) { .x-content-target-counter(@part; @Figure;   @counter); }
  .xref-label(@part;  section;    @counter) { }
  .xref-label(@part;  subfigure;  @counter; @subcounter) {
    .xref-label(@part; figure; @counter @subcounter);
  }
  .xref-label(@part;  table;      @counter) { .x-content-target-counter(@part; @Table;    @counter); }
  .xref-label(toc;    appendix;   @counter) { content: @DEBUG_START "Appendix " @counter @DEBUG_END ": "; }
  .xref-label(toc;    chapter;    @counter) { content: @DEBUG_START "Chapter " @counter @DEBUG_END; }

  .content-string(check-understanding;          eob-solutions)  { content: "Check Your Understanding"; }
  .content-string(review-conceptual-questions;  eob-solutions)  { content: "Conceptual Questions"; }
  .content-string(review-problems;              eob-solutions)  { content: "Problems"; }
  .content-string(additional-problems;          eob-solutions)  { content: "Additional Problems"; }
  .content-string(review-challenge;             eob-solutions)  { content: "Challenge Problems"; }
  .content-string(checkpoint;                   eob-solutions)  { content: "Checkpoint"; }
  .content-string(quick-check;                  eob-solutions)  { content: "Quick Check"; }
  .content-string(introduction;                 page-title)     { content: "Introduction"; }
  .content-string(chapter-outline;              page-title)     { content: "Chapter Outline"; }
  .content-string(learning-objectives;          page-title)     { content: "Learning Objectives"; }
  .content-string(key-terms;                    page-title)     { content: "Key Terms"; }
  .content-string(key-equations;                page-title)     { content: "Key Equations"; }
  .content-string(key-concepts;                 page-title)     { content: "Key Concepts"; }
  .content-string(summary;                      page-title)     { content: "Summary"; }
  .content-string(exercises;                    page-title)     { content: "Exercises"; }
  .content-string(review-exercises;             page-title)     { content: "Review Exercises"; }
  .content-string(review-questions;             page-title)     { content: "Review Questions"; }
  .content-string(section-exercises;            page-title)     { content: "Section Exercises"; }
  .content-string(practice-test;                page-title)     { content: "Practice Test"; }
  .content-string(answer-key;                   page-title)     { content: "Answer Key"; }
  .content-string(try-it;                       page-title)     { content: "Try It"; }
  .content-string(appendix;                     page-title)     { content: "Appendix "; }
  .content-string(chapter;                      page-title; @title) {
    content: "Chapter " @title;
  }
  .content-string(chapter-review;               page-title; @counter) {
    content: "Chapter " counter(@counter, decimal) " Review";
  }
  .content-string(chapter-review-exercises;     page-title; @counter) {
    content: "Chapter " counter(@counter, decimal) " Review Exercises";
  }
  .content-string(chapter-practice-test;        page-title; @counter) {
    content: "Chapter " counter(@counter, decimal) " Practice Test";
  }
  .content-string(definition;                   note-title)     { content: "Definition: "; }
  .content-string(step;                         step-list-item; @counter) { content: "Step " counter(@counter, decimal) ". "; }
  .content-string(example; problem-title; @example; @chapter; @title) {
    content: "Example " counter(@chapter, decimal) "." counter(@example) " " @title;
  }
  .content-string(number-chapter; figure; @figure; @chapter) {
    content: "Figure " counter(@chapter, decimal) "." counter(@figure) " ";
  }
  .content-string(number-appendix; figure; @figure; @appendix) {
    content: "Figure " counter(@appendix, upper-alpha) counter(@figure);
  }
  .content-string(solution;     solution-title) { content: "Solution"; }
  .content-string(open-quote;   blockquote)     { content: "\201C"; }
  .content-string(close-quote;  blockquote)     { content: "\201D"; }
  .content-string(book-url;     page-footer; @url) {
    content: "This OpenStax book is available for free at " @url;
  }

  .named-string(@key; answer-key; page-title) { string-set: @key "Answer Key"; }
  .named-string(@key; references; page-title) { string-set: @key "References"; }
  .named-string(@key; page-title; index) { string-set: @key "Index"; }
  .named-string(@key; page-title; preface) { string-set: @key "Preface"; }
  .named-string(@key; page-title; chapter; @counter; @title) {
    string-set: @key "Chapter " counter(@counter, decimal) " | " @title;
  }
  .named-string(@key; page-title; appendix; @counter) {
    string-set: @key "Appendix " counter(@counter, upper-latin);
  }
}
