docbook-xsl*
lib/*
bin/*
*.pyc
include
*.pdf
*.epub
tempdir
*~
tools/bin
tools/lib
.Python
/local

/docbook-xsl/
/node_modules/
/testing/
/config.yml

# Artifacts from creating Unit test files
tests-output/*-diff.xhtml
tests-output/*.xhtml-unformatted
tests-output/*-new.xhtml
tests-output/tempdir-*
