docbook-xsl-*
lib/*
bin/*
*.pyc
include
*.pdf
*.epub
tempdir
*~
tools/bin
tools/lib
.Python

/node_modules/
/testing/
/config.yml


/css/*.css.map

/data/*
/out/*.pdf
/out/*-temp/

/venv/
/oer.exports.egg-info/
/dist/
/build/


# test-ccap temp files (when running tests)
/test-ccap/m-*/_autogen-svg2png-*.png
/test-ccap/m-*/index.standalone.dbk
/test-ccap/collection.dbk
/test-ccap/cover.png
