/* -------------------------
 * Global styles for the introduction page
 * ------------------------
 */
//remove chapter outline
div.abstract {
  display: none;
}

div.chapter {
  //chapter introduction
  > .introduction {
    //#part>#introduction>.style();
    > .title {
      .titles-h2-style-icon(@svg-icon: @intro-icon);
      //#part>#introduction>#title>.style();
    }

    .chapter-objectives {
      display: none;
    }
    //chapter outline
    > .toc {
      width: 100%;

      > ul {
        border-left: 2px solid rgba(196, 206, 187, 0.3);
        margin: 0;
        // padding-left: 0.75em; 9px computed value
        .scale-padding(6, padding-left);
        border-left: 4px solid #F4F4F4;
        >li {
          text-indent:-2em;
        }
      }

      > .title {
        //#part>#introduction>#chapter  -outline>#title>.style();
        page-break-before: avoid;
        page-break-before: avoid;
        #l10n>.content-string(chapter-outline; page-title);
        .titles-h2-style();
        text-align: left;

      }
      // li::marker {
      //     content: url(ccap-astronomy/LO.svg);
      //     width: 20px;
      //     height: 16px;
      //     padding-right: 2px;
      // }
      .toc-section {
        .cnx-gentext-t {
          color: @chapter-outline-sections-color;
          font-weight: normal;
        }

        .cnx-gentext-n {
          // #content>#list>.number('unordered'; introduction; chapter-outline);
          color: @chapter-outline-number-color;

          &::after {
            content: "";
          }
        }
        // overide hyperlink medium blue color

        .cnx-gentext-t {
          //TODO
          color: @chapter-outline-link-color;
        }
      }
    }
  }
}
