/* -------------------------
 * Global styles for the introduction page
 * ------------------------
 */
//remove chapter outline
div.abstract {
  display: none;
}

div.chapter {
  //chapter introduction
  > .introduction {
    //#part>#introduction>.style();
    // margin-top: -0.80in; //issue #3057
    > .title {
      .titles-h2-style-icon(@svg-icon: @intro-icon);
      // //#part>#introduction>#title>.style();
      // color: @primary-color;
      // margin-bottom: 1em;
      // content: initial;
      // &::before {
      //     //#part>#introduction>#title>.style('intro-icon'; any);
      //     background: @intro-icon;
      //     background-size: 23px 27px;
      //     height: 38px;
      //     top: 12px;
      //     padding-right: 13px;
      // }
    }

    .chapter-objectives {
      display: none;
    }
    //chapter outline
    > .toc {
      width: 100%;

      > ul {
        border-left: 2px solid rgba(196, 206, 187, 0.3);
        margin: 0;
        padding-left: 0.75em;
        border-left: 4px solid #F4F4F4;
      }

      > .title {
        //#part>#introduction>#chapter  -outline>#title>.style();
        page-break-before: avoid;
        page-break-before: avoid;
        content: @cnx-string-chapter-outline;
        .titles-h2-style();
        // color: @chapter-outline-title-color;
        text-align: left;
        // // font-family: @font-family;
        // // padding: 0em;
        // // .scale-padding(1,
        // // margin-bottom);
        // // .font-scale(2);
      }
      // li::marker {
      //     content: url(ccap-astronomy/LO.svg);
      //     width: 20px;
      //     height: 16px;
      //     padding-right: 2px;
      // }
      .toc-section {
        .cnx-gentext-t {
          color: @chapter-outline-sections-color;
          font-weight: normal;
        }

        .cnx-gentext-n {
          // #content>#list>.number('unordered'; introduction; chapter-outline);
          color: @chapter-outline-number-color;

          &::after {
            content: "";
          }
        }
        // overide hyperlink medium blue color

        .cnx-gentext-t {
          //TODO
          color: @chapter-outline-link-color;
        }
      }
    }
  }
}
