/* -------------------------
 * End of chapter customizations
 * ------------------------
 */
/* -------------------------
  * Key Terms
  * ------------------------
  */
.chapter .glossary {
  //#part>#glossary>.style(chapter);
  #utils>#pb>.before(always);
  display: inline;

  .titlepage h2 {
    // #part>#glossary>#title>.style(chapter);
    .titles-h2-style-icon(@svg-icon: @key-terms-icon);
    .cnx-gentext-glossary.cnx-gentext-t {
      content: @cnx-string-key-terms;
    }
  }

  dl {
    //#part>#glossary>.style(chapter);
    display: inline;
    dt {
      //#part>#glossary>.term(chapter);
      .font-scale(0);
      .line-height();

      &::after {
        content: " ";
      }
    }
    dd {
      // #part>#glossary>.definition(chapter);
      .font-scale(0);
      .line-height();
      .scale-padding(5, padding-left);
      text-indent: -27px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

&.key-terms {
  .listitem {
    list-style: none;
  }
  .section .title {
    padding: 0px; //overide from base-skeleton
  }
  .hideEocSectionTitle();
}

.cnx-eoc {
  .scale-padding(4, margin-bottom);
  > .title {
    span {
      .font-scale(2);
      padding-left: 0;
      font-family: @font-family-titles;
    }
  }
  /* -------------------------
   * Summary
   * ------------------------
   */
  .section {
    .title a:link {
      .font-scale(0);
      .link-no-border-style (@eoc-subtitles-color); //overriding .link-style
      border-bottom: none;
    }
  }
  .exercise {
    .scale-padding(-1, margin-bottom);
    .scale-padding(-1, margin-top);

    ol,
    ul {
      .scale-padding(1, padding-left);
    }
  }
  &.key-terms {
    .listitem p {
      margin-bottom: 0;
    }
  }
  &.summary {
    //#part>#chapter-end>#summary>.style();
    > .title {
      // #part>#chapter-end>#summary>#title>.style();
      span {
        // override a * selector...
        padding-left: 0;
        .font-scale(2);
      }
    }
    > .section > .title {
      //#part>#chapter-end>#summary>#subtitle>.style(any; chapter-end; section);
      display: block;
    }
    > .section .title > a {
      // #part>#chapter-end>#summary>#title>.link();
      font-family: @font-family;
      .font-scale(0);
      .link-no-border-style(@eoc-subtitles-color);
    }
  }
  /* -------------------------
   * EOC Solutions
   * ------------------------
   */

  &.figure-credits {
    .section {
      .font-scale(-1);
    }
  }
  &.cnx-solutions {
    //slots & skeleton below to be converted if necessary
    //     //#content>#solution>.style(@kind; chapter);
    //     > .section .title > a { #content>#solution>#title>.link(); }
    //     p:nth-of-type(1) { margin-top: 1em; }
    //   }
    //   .problem ol {
    //     #content>#list>.style(any; any; problem; exercise);
    //   }
    //   .problem::before {
    //     #content>#problem>.number(@kind; chapter-end);
    //   }
    //   .empty {
    //     display: hidden; // hide, but count, empty elements.
    //     #content>#section>.style("empty"; chapter-end);
    //   }
    //   .exercise div.body div.problem .figure { #content>#figure>.style(any; chapter-end; exercise); }
  }
  &.suggested-resources > div.section > div.body {
    p,
    table > tr > td {
      text-indent: -1em;
      // padding-left: 10px;
      .scale-padding(-1, padding-left);
    }
  }
}
.handle-eoc-sections(".key-terms", @eoc-assessment-icon);
.handle-eoc-sections(".section-summary", @eoc-summary-icon);
.handle-eoc-sections("summary", @eoc-summary-icon);
.handle-eoc-sections(".references", @eoc-references-icon);
.handle-eoc-sections(".figure-credits", @eoc-figure-credit-icon);
.handle-eoc-sections(".cnx-solutions", @hide-eoc-section: true);
