/* -------------------------
 * End of chapter customizations
 * ------------------------
 */

.chapter .glossary {
  //#part>#glossary>.style(chapter);
  #utils>#pb>.before(always);
  display: inline;

  .titlepage h2 {
    // #part>#glossary>#title>.style(chapter);
    .titles-h2-style-icon(@svg-icon: @key-terms-icon);
    .cnx-gentext-glossary.cnx-gentext-t {
      content: @cnx-string-key-terms;
    }
  }

  dl {
    //#part>#glossary>.style(chapter);
    display: inline;
    margin-left: 0;
    dt {
      //#part>#glossary>.term(chapter);
      .font-scale(0);
      .standard-line-height();

      &::after {
        content: " ";
      }
    }
    dd {
      // #part>#glossary>.definition(chapter);
      .font-scale(0);
      .standard-line-height();
      .scale-padding(3, padding-left);
      text-indent: -27px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

&.key-terms {
  .listitem {
    list-style: none;
  }
  .section .title {
    padding: 0px; //overide from base-skeleton
  }
  .hideEocSectionTitle();
}

div.cnx-eoc {
  .scale-padding(4, margin-bottom);
  > .title {
    span {
      .titles-h2-style();
      bookmark-level: none;
    }
  }

  .section {
    .title a:link {
      .font-scale(0);
      .link-no-border-style (@eoc-subtitles-color); //overriding .link-style
      border-bottom: none;
    }
  }
  .exercise {
    .scale-padding(-1, margin-bottom);
    .scale-padding(-1, margin-top);

    ol,
    ul {
      .scale-padding(1, padding-left);
      &[type="A"] {
        counter-reset: liTypeA;
        list-style-type: none;
        > li {
          counter-increment: liTypeA;
          &::before {
            content: counter(liTypeA, upper-latin) ".";
            position: relative;
            width: 0;
            left: -12px;
            display: inline-block;
          }
        }
      }
    }
  }
  &.key-terms {
    ul.itemizedlist {
      margin-left: 0;
      padding-left: 0;
    }

    .listitem p {
      margin-bottom: 0;
      .scale-padding(3, padding-left);
      em.glossterm {
        margin-left: -20.28px;
      }
    }
  }
  &.summary {
    //#part>#chapter-end>#summary>.style();
    > .title {
      // #part>#chapter-end>#summary>#title>.style();
      span {
        // override a * selector...
        padding-left: 0;
        .font-scale(2);
      }
    }
    > .section > .title {
      //#part>#chapter-end>#summary>#subtitle>.style(any; chapter-end; section);
      display: block;
    }
    > .section .title > a {
      // #part>#chapter-end>#summary>#title>.link();
      font-family: @font-family;
      .font-scale(0);
      .link-no-border-style(@eoc-subtitles-color);
    }
  }

  &.references {
    div.book div.chapter > & {
      counter-reset: references 0 eoc-section -1;
    }
    > .section > .body > .note {
      counter-increment: references;
      margin: 0;
      padding: 0 0 0 1.5rem;
      > .title {
        display: none;
      }
      > .body {
        margin: 0;
        padding: 0;
        .font-scale(-1);

        > a.link {
          font-size: inherit;
          display: inline-block;
          position: relative;
          left: -0.6rem;
          width: 0;

          &::before {
            content: counter(references) ".";
          }

          > span.token {
            display: none;
          }
        }

        span {
          font-size: inherit;
        }

      }
    }
  }

  &.figure-credits {
    .section {
      .font-scale(-1);
    }
  }
  /* -------------------------
   * EOC Solutions
   * ------------------------
   */
  &.cnx-solutions {
    //slots & skeleton below to be converted if necessary
    //     //#content>#solution>.style(@kind; chapter);
    //     > .section .title > a { #content>#solution>#title>.link(); }
    //     p:nth-of-type(1) { margin-top: 1em; }
    //   }
    //   .problem ol {
    //     #content>#list>.style(any; any; problem; exercise);
    //   }
    //   .problem::before {
    //     #content>#problem>.number(@kind; chapter-end);
    //   }
    //   .empty {
    //     display: hidden; // hide, but count, empty elements.
    //     #content>#section>.style("empty"; chapter-end);
    //   }
    //   .exercise div.body div.problem .figure { #content>#figure>.style(any; chapter-end; exercise); }
  }
  &.suggested-resources > div.section > div.body {
    p {
      overflow-wrap: break-word;
      white-space: normal;
      // This will need to be removed here and applied more broadly, 
      // A direct fix was made insead of a broad one because we didn't
      // want to blow anything up before the holidays.
      // white-space: normal is to override possible nowrap inheritence
    }
    table > tr > td {
      text-indent: -1em;
      // padding-left: 10px;
      .scale-padding(-1, padding-left);
    }
  }
}
.handle-eoc-sections(".key-terms", @key-terms-icon, @section-title: false);
.handle-eoc-sections(".assessment-questions", @eoc-assessment-icon);
.handle-eoc-sections(".section-summary", @eoc-summary-icon);
.handle-eoc-sections(".summary", @eoc-summary-icon);
.handle-eoc-sections(".references", @eoc-references-icon, @section-title: false);
.handle-eoc-sections(".figure-credits", @eoc-figure-credit-icon, @section-title: false);
.handle-eoc-sections(".cnx-solutions", @hide-eoc-section: true);
.handle-eoc-sections(".suggested-resources", @eoc-suggested-resources-icon);
.handle-eoc-sections(".critical-thinking", @eoc-thoughtprovoker-icon, @section-title: false);
