/* -------------------------
 * Example Elements Styling and Numbering
 * -------------------------
 */
.chapter .example {
  //#content>#example>.style(any);
  border-top: 0;
  border-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .notes( "Example " counter(chapter,decimal) "." counter(example) " ", @notes-title-color, #ebe9e9, none);

  > .title {
    // #content>#example>#title>.style(any);
    display: none;

    span::before {
      background-color: @example-bg-color;
      color: @example-title-color;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      padding: 0 1em;
    }
  }
}
