/* -------------------------
 * Module/page level Learning objectives
 * ------------------------
 */
div.book div.chapter .section.learning-objectives {
  .titlepage {
    color: @LO-title-color;
    .font-scale(2);
  }

  .section {
    margin-left: 0;
    .section {
      //margin-left: 2em;
      .scale-padding(1, margin-left);
    }
    max-width: 30%;
    display: inline-block;

    .titlepage {
      .font-scale(1);
      color: @LO-section-titles-color;
    }
  }
}
/* -------------------------
 * Module/page level titles
 * ------------------------
 */
div.chapter {
  .section {
    > .titlepage h2 {
      .titles-h2-style-numbered();
    }
    .section {
      > .titlepage h3 {
        .titles-h3-style();
      }
      .section {
        > .titlepage h4 {
          .titles-h4-style();
        }
        .section {
          > .titlepage h5 {
            .titles-h5-style();
          }
        }
      }
    }
  }
}
