/* -------------------------
 * Notes
 * ------------------------
 */
.chapter .note {
    width: 100%;
    a:link {
        .link-style (@note-link-color);
    }
    div.title {
        // margin-top: 15px;
        .scale-padding(1, margin-top);
    }
    &.link-to-learning {
        //#content>#note>.style('link-to-learning-new'; any);
        .notes(@cnx-string-link-to-learning,
        @quinary-color,
        #e6eaef,
        link-to-learning);
        div.mediaobject {
            display: none;
        }
    }
    .exercise {
        >.title,
        .solution::before {
            .font-scale(1);
        }
    }

    a {
        &.xref {
            prince-text-replace: "Section" @blank; //Remove "Section" text from links in notes.
        }
    }
    svg text {
        fill: @notes-body-text-color !important; //this is necessary to override the inline svg fill
    }
}
