.part > .titlepage {
  //hide chapter unit splash page
  display: none;
}
/* -------------------------
 * Chapter intro: splash image
 * -------------------------
 */
div.chapter {
  > .introduction {
    margin-top: -0.925in;
    > .figure.splash {
      position: relative;
      width: @full-bleed-width;
      margin-left: 0;
      transform: translate3d(-1in, 0, 0);
      margin-left: -0.125in;
      caption-side: bottom;
      padding-bottom: 0;
      margin-bottom: 15px;
      display: table;
      caption-side: bottom;

      //margin-top: -1.2in;

      &::before {
        background: @intro-folio-bg;
        background-size: 100% 122px;
        height: 122px;
        width: @full-bleed-width;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -1in;
        right: -1in;
      }
      > .title {
        display: none;
      }
      div.caption {
        width: 6.5in;
        display: table-caption;
        &::before {
          .font-scale(0);
          content: "Figure " counter(chapter, decimal) "." counter(figure) " ";
          display: inline;
          .caption-number-style();
        }
      }

      div.mediaobject {
        width: @full-bleed-width;
        border-left: none;
        height: 4.3in;
        position: relative;

        &::before {
          display: none;
        }

        &::after {
          width: 100%;
          content: ' ';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 70px;
          background-color: @splash-bottom-bar-color;
          border-top: @splash-bottom-bar-border-top;
        }

        img {
          width: @full-bleed-width;
          height: 3.58in;
          display: inline;
        }
      }
    }
  }
}
