/* -------------------------
 * Book TOC
 * ------------------------
 */
.book>.toc,
.book>.part>.toc {
    //#part>#toc>.style();
    counter-reset: toc-chapter-counter 0;
    a {
        //#part>#toc>#link>.style();
        //TODO variable
        color: @toc-links-color;
        text-align: left;
        &::after {
            //#part>#toc>#link>.number();
            content: target-counter(attr(href), page);
            padding-left: 15px;
        }
    }
    >.title {
        // #part>#toc>#title>.style();
        text-align: left;
        .font-scale(2);
        text-transform: uppercase;
        color: @toc-title-color;
        display: inline-block;
        font-family: @font-family;
        background: @toc-title-background;
        .scale-padding(1, padding-right);
        .scale-padding(6, padding-left);
        .scale-padding(-1, margin-left);
        .scale-padding(1, margin-bottom);
        padding-bottom: 9px;
        padding-top: 8px;
        background-size: 28px;
        ;
        &::before {
            // display: none;
            // content: @toc-title-icon;
            // padding-right: 15px;
            // margin-left: 10px;
        }
    }
    a.target-appendix {
        // #content>#link>.style('preface'; any; toc);
        .toc-titles-styles();
    }
    .toc-index,
    .toc-preface {
        //#content>#list>.item('preface'; any; toc);
        //.secondary-header-toc(); //margin-left: 46px;
        .scale-padding(2, padding-bottom);
        a.target-preface {
            .toc-titles-styles();
        }
        a.target-index {
            // #content>#link>.style('preface'; any; toc);
            .toc-titles-styles();
        }
        a.target-preface,
        a.target-index {
           /// should use
          ///.scale-padding(9, margin-left);
          /// but isn't precise enough to align properly, resorting to ugly
          margin-left: 53.921708px;
      }
    }
    .toc-chapter {
        //#content>#list>.item('chapter'; any; toc);
        counter-increment: toc-chapter-counter;
        .scale-padding(2,
        margin-bottom);
        .scale-padding(1,
        padding-bottom);
        .scale-padding(1,
        padding-top);
        &:nth-child(2n) {
            //#content>#list>.item('2n+1', 'chapter'; any; toc);
            background-color: @toc-odd-bg-color;
        }
        & when (@has-units = true){
          margin-left: -36.4px;
        }
        & when (@has-units = false) {
          margin-left: -12.1px;
        }
        &::before {
          .toc-square-number-styles();
          content: counter(toc-chapter-counter, decimal);    
        }
        a.target-chapter {
            // #content>#link>.style('chapter'; any; toc);
            .toc-titles-styles();
            width: 90%;
            display: inline-block;
        }
        .cnx-gentext-chapter {
            display: none;
        }
        >ul {
            //#content>#list>.style('chapter'; any; toc);
            border-left: 4px solid @toc-side-border-color;
            .scale-padding(9,
            margin-left);
            .scale-padding(1,
            margin-top);
            li {
                margin-left: 0;
            }
            li a span.cnx-gentext-n {
                font-weight: 700;
            }
            >li.toc-chapter:nth-child(2n+1) {
                //#content>#list>.item('2n+1', 'chapter'; any; toc);
                background-color: @toc-odd-bg-color;
            }
            >ul>li {
                margin: 0;
                .scale-padding(1,
                padding-top);
                .scale-padding(1,
                padding-right);
                .scale-padding(1,
                padding-bottom);
                padding-bottom: 0;
            }
        }
        .cnx-gentext-chapter.cnx-gentext-t {
            display: inline;
            float: left;
            max-width: 90%;
        }
        >.target-chapter::before {
            display: none;
        }
    }
    .toc-appendix {
        .scale-padding(1,
        padding-bottom);
        counter-increment: toc-appendix-counter; //#content>#link>.style('appendix'; any; toc);
        &::before {
            //#part>#toc>#chapter>.number('appendix'; any; toc);
            content: counter(toc-appendix-counter, upper-latin);
            .toc-square-number-styles();
        } //Needs to be a separate style for accounting toc and business-ethics toc. ethics has "parts" in toc which affect the icons in a way not present in accounting toc
        // .target-section {
        //   margin-left: 0;
        // }
        .cnx-gentext-autogenerated,
        .cnx-gentext-n {
            display: none;
        }
    } // .toc-appendix {
    //   > a.target-appendix {
    //     //#content>#link>.style('appendix'; any; toc);
    //     color: @primary-color;
    //     .scale-padding(1, margin-bottom);
    //     margin-left: .20em;
    //     font-size: 16px;
    //   }
    // }
    // > ul > li.toc-appendix > a.target-appendix::before {
    //   content: target-counter(attr(href), appendix, upper-latin) " ";
    // }
    // .toc-index > a.target-index {
    //   //#content>#link>.style('index'; any; toc);
    //   color: @primary-color;
    //   .scale-padding(1, margin-bottom);
    //   margin-left: 48px;
    //   font-size: 16px;
    // }
}
//UGLY overrides from base
.book>.toc>.title {
    border-bottom-width: 0;
    border-bottom-style: none;
}
