
@import url('themes/business-theme.less');

/* -------------------------
 * Accounting Strings
 * ------------------------
 */
@cnx-string-concepts-to-practice: "Concepts To Practice";
@cnx-string-continuing-application: "Continuing Application At Work";
@cnx-string-think-through: "Think Through";
@cnx-string-your-turn: "Your Turn";




/* -------------------------
 * Accounting Notes
 * ------------------------
 */
.chapter .note {
  &.concepts-practice {
    .notes(@cnx-string-concepts-to-practice, @secondary-color, #e6eaef, link-to-learning);
  }
  &.continuing-application {
    .notes(@cnx-string-continuing-application, @secondary-color, #e6eaef, link-to-learning);
  }
  &.think-through {
    .notes(@cnx-string-think-through, @secondary-color, #e6eaef, link-to-learning);
  }
  &.your-turn {
    .notes(@cnx-string-your-turn, @secondary-color, #e6eaef, link-to-learning);
  }
}


/* -------------------------
 * Unit Page
 * ------------------------
 */
div.part > div.titlepage { display: none; }



/* -------------------------
 * Tables - no corners & black lines
 * ------------------------
 */

 /* -------------------------
 * Accounting EOC
 * ------------------------
 */
.cnx-eoc {
    //custom numbering for Accouting
  &.multiple-choice-1 {
    .eocCustomCounters ("MC-1", mc1);
  }
  &.multiple-choice-2 {
    .eocCustomCounters ("MC-2", mc2);
  }
  &.multiple-choice-3 {
    .eocCustomCounters ("MC-3", mc3);
  }
  &.questions-1 {
    .eocCustomCounters ("Q-1", q1);
  }
  &.questions-2 {
    .eocCustomCounters ("Q-2", q2);
  }
  &.questions-3 {
    .eocCustomCounters ("Q-3", q3);
  }
  &.exercise-set-a1 {
    .eocCustomCounters ("EA-1", ea3);
  }
  &.exercise-set-a2 {
    .eocCustomCounters ("EA-2", ea2);
  }
  &.exercise-set-a3 {
    .eocCustomCounters ("EA-3", ea3);
  }
  &.exercise-set-b1 {
    .eocCustomCounters ("EB-1", eb1);
  }
  &.exercise-set-b2 {
    .eocCustomCounters ("EB-2", eb2);
  }
  &.exercise-set-b3 {
    .eocCustomCounters ("EB-3", eb3);
  }
  &.problems-set-a1 {
    .eocCustomCounters ("PA-1", pa1);
  }
  &.problems-set-a2 {
    .eocCustomCounters ("PA-2", pa2);
  }
  &.problems-set-a3 {
    .eocCustomCounters ("PA-3", pa3);
  }
  &.problems-set-b1 {
    .eocCustomCounters ("PB-1", pb1);
  }
  &.problems-set-b2 {
    .eocCustomCounters ("PB-2", pb2);
  }
  &.problems-set-b3 {
    .eocCustomCounters ("PB-3", pb3);
  }
  &.thought-provoker-1 {
    .eocCustomCounters ("TP-1", tp1);
  }
  &.thought-provoker-2 {
    .eocCustomCounters ("TP-2", tp2);
  }
  &.thought-provoker-3 {
    .eocCustomCounters ("TP-3", tp3);
  }
}

