
@import url('themes/business-theme.less');

//Accounting overrides
@table-content-color: @black;
@border-radius: 0;
/* -------------------------
 * Accounting Strings
 * ------------------------
 */
@book-title: accounting;
@cnx-string-concepts-to-practice: "Concepts To Practice";
@cnx-string-continuing-application: "Continuing Application At Work";
@cnx-string-think-through: "Think Through";
@cnx-string-your-turn: "Your Turn";
@cnx-string-ethical-considerations: "Ethical Considerations ";


/* -------------------------
 * Accounting Notes
 * ------------------------
 */
.chapter .note {
  &.link-to-learning {
    //#content>#note>.style('link-to-learning-new'; any);
    .notes(@cnx-string-link-to-learning, @quinary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0, @border-top-left-radius: 0, @border-top-right-radius: 0);
  }
  &.your-turn {
    .notes(@cnx-string-your-turn, @secondary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0, @border-top-left-radius: 0, @border-top-right-radius: 0);
  }
  &.concepts-practice {
    .notes(@cnx-string-concepts-to-practice, @primary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0, @border-top-left-radius: 0, @border-top-right-radius: 0);
  }
  &.continuing-application {
    .notes(@cnx-string-continuing-application, @primary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0, @border-top-left-radius: 0, @border-top-right-radius: 0);
  }
  &.think-through {
    .notes(@cnx-string-think-through, @primary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0,@border-top-left-radius: 0, @border-top-right-radius: 0);
  }
  &.ethical-considerations {
    .notes(@cnx-string-ethical-considerations, @primary-color, #e6eaef, link-to-learning, @border-bottom-left-radius: 0, @border-bottom-right-radius: 0,@border-top-left-radius: 0, @border-top-right-radius: 0);
  }
}
/* -------------------------
 * Unit Page
 * ------------------------
 */
div.part > div.titlepage { display: none; }

 /* -------------------------
 * Accounting EOC
 * ------------------------
 */
.cnx-eoc {
    //custom numbering for Accounting
  &.multiple-choice {
    .eocCustomCounters ("MC", mc1);
  }

  &.questions {
    .eocCustomCounters ("Q", q1);
  }

  &.exercise-set-a {
    .eocCustomCounters ("EA", ea1);
  }

  &.exercise-set-b {
    .eocCustomCounters ("EB", eb1);
  }

  &.problems-set-a {
    .eocCustomCounters ("PA", pa1);
  }

  &.problems-set-b {
    .eocCustomCounters ("PB", pb1);
  }

  &.thought-provoker {
    .eocCustomCounters ("TP", tp1);
  }
}
