#part {
  #introduction {
    #title {
      .style(){
        content: initial;
      }
    }
    #chapter-outline {
      #title {
        .style() {
          color: @teal;
        }
      }
    }
  }
  #chapter {
    #learning-objectives {
      #title {
        .style () {
          color: @teal;
        }
      }
    }
  }
}

.x-eoc-headings() {
  color: black;
  font-size: 13px !important;
  border-bottom: 0;
  font-weight: bold;
  margin-bottom: 0;
}

#content {
  #heading {
    .style(h5) {
      color: @black;
      font-style: normal;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }
  #note {
   .style('astronomy-basics'; any) {
     .x-feature-color(@dark-blue, @dark-blue, @white, @accent-dark-blue, @cnx-string-astronomy-basics );
   }
        .style('making-connections'; any) {
     .x-feature-color(@purple, @accent-purple, @white, @purple, @cnx-string-making-connections);
   }
   .style('seeing-for-yourself'; any) {
     .x-feature-color(@teal, @accent-green, @white, @teal, @cnx-string-seeing-for-yourself);
   }
   .style('voyagers-in-astronomy'; any) {
     .x-feature-color(@red, @accent-red, @white, @red, @cnx-string-voyagers-in-astronomy);
   }
    .style('link-to-learning'; ...) {
    .x-feature-color(@dark-orange, @accent-orange, @white, @dark-orange, @cnx-string-link-to-learning);
    }
   #title {
     .style('astronomy-basics'; any) {
      color: @accent-dark-blue;
     }
     .style('making-connections'; any) {
      color: @purple;
     }
     .style('seeing-for-yourself'; any) {
      color: @teal;
     }
     .style('voyagers-in-astronomy'; any) {
      color: @red;
     }
   }
  }
  #table {
    #caption {
      .number(any; any) {
        padding-right: .5em;
      }
    }
    #header {
      .style(any; any) {
        background-color: @accent-med-blue;
      }
    }
    #data {
      .style('header'; any) {
        background-color: @accent-med-blue;
      }
    }
  }
}

//chapter end
#part {
  #chapter-end {
    #title{
      .style() {
        font-size: 13pt !important;
      }
    }
   #summary {
     .style() {
       margin-bottom: 5px;
     }
   }
   #further-reading {
     .style() {
     }
     #title {
      .style() {
      }
      .link() {
        display: none;
      }
     }
    #item{
      .style(){
        margin-left: 20px;
        text-indent: -20px;
      }
    }
   }
   #interactivity {
     .style() {
        margin-bottom: 5px;
        &:after {
          display: block;
          content: "Exercises";
          color: @dark-blue;
          text-align: left;
          border-bottom-color: @orange;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          font-size: 13pt;
          line-height: 17pt;
          font-weight: 700;
          margin-top: 0;
          #utils>#pb>.after(avoid);
        }
     }
     #title {
      .style() {
      }
      .link() {
        display: none;
      }
     }
   }
   #review-questions {
     .style() {
      .x-column-count(1);
     }
     #title {
      .style() {
        .x-eoc-headings();
      }
      .link() {
        display: none;
      }
     }
   }
   #thought-questions {
     .style() {

     }
     #title {
      .style() {
        .x-eoc-headings();
      }
      .link() {
        display: none;
      }
     }
   }
    #figuring-for-yourself {
     .style() {
     }
     #title {
      .style() {
        .x-eoc-headings();
      }
      .link() {
        display: none;
      }
     }
    }
  }
}
