// .book > .toc {
//     ul > .toc-chapter {
//         > ul {
//
//         }
//         .toc-section {
//             .scale-padding(2, line-height);
//         }
//     }
// }
div.itemizedlist, div.orderedlist {
  ul, ol {
    li {
      #content>#list>.item(any; any);
    }
  }
}


div.book div.preface {
  > div.section {
    #content>#section>.style(any; preface);
    p + .section {
      margin-top: 18px;
    }
    > div.section {
      #content>#section>.style(any; preface; section);
    }
  }
  > p + .section {
      margin-top: 18px;
  }
}
.chapter {
  > .introduction {
    #part>#introduction>.style();
  }
}

div.book > div.chapter > div.titlepage {
  #part>#chapter>#titlepage>.style();

  div div > h1.title {
    #part>#chapter>#title>.style();
    &::before {
      #part>#chapter>#title>.number();
    }
    &::after {
      #part>#chapter>#title>.icon();
    }
  }
}
.chapter > .introduction > .figure.splash {
  //height: 4.3in;

  div.mediaobject {
    border-left: none;
    height: 4.53in;
    position: relative;
    //overflow: hidden;

    &::before {
      height: 4px;
      background-color: @secondary-color;
      bottom: 70px;
      width: 100%;
      left: 0;
      right: 0;
    }

    &::after {
      width: 100%;
      content: '';
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 70px;
      background-color: @quinary-color;
    }

    img {
      width: 8.5in;
      height: 4.53in;
    }
  }
}

.chapter > .introduction > .toc {
    .cnx-gentext-n {
      #content>#list>.number('unordered'; introduction; chapter-outline);
    }
    // overide hyperlink medium blue color
    .toc-section .cnx-gentext-t {
      color: @tertiary-color;
    }
}
.chapter .note {
  &.link-to-learning {
    #content>#note>.style('link-to-learning-new'; any);
  }
  &.making-connections {
    #content>#note>.style('making-connections'; any);
  }
  &.voyagers-in-astronomy {
    #content>#note>.style('voyagers-in-astronomy'; any);
  }
  &.astronomy-basics {
    #content>#note>.style('astronomy-basics'; any);
  }
  &.seeing-for-yourself {
    #content>#note>.style('seeing-for-yourself'; any);
  }
}
.example > div.body > div.note {
  #content>#note>.style(any; any; example);
  div.title {
    #content>#note>#title>.style(any; any; example);
  }
  div.body {
    #content>#note>#body>.style(any; any; example);
  }
}

.cnx-eoc {
  &.group-activities {
    #part>#chapter-end>#group-activities>.style();
    > div.title > span { #part>#chapter-end>#group-activities>#title>.style();}
    > div.section {
      > div.title {
        #part>#chapter-end>#group-activities>#section>#title>.style();
      }
      > div.body {
        #part>#chapter-end>#group-activities>#section>#body>.style();
        div.orderedlist > ol.orderedlist {
          #content>#list>.style('ordered', chapter-end, group-activities);
          > li.listitem {
            #content>#list>.item('ordered', chapter-end, group-activities);
            > p {
              #content>#list>.itemtext('ordered', chapter-end, group-activities);
            }
          }
        }
      }
    }
  }
  &.review-questions, &.thought-questions, &.figuring-for-yourself {
    #part>#chapter-end>#review-questions>.style();
    > div.title > span {
      #part>#chapter-end>#review-questions>#title>.style();
    }
    > .section {
      > div.title { display: none; }
      > div.body {
        div.problem::before {
          #content > #problem > .style('review-question-number'; chapter-end; exercises);
        }
        div.problem > p {
          #content > #problem > .item('review-question'; chapter-end; exercises);
        }
        div.orderedlist > ol.orderedlist {
          #content>#list>.style('review-ordered'; chapter-end; exercises);
          >li.listitem {
            #content>#list>.item('review-ordered'; chapter-end; exercises);
            > p {
              #content>#list>.itemtext('review-ordered'; chapter-end; exercises);
            }
          }
        }
      }
    }
  }
  &.further-exploration {
    #part>#chapter-end>#further-exploration>.style();
    > div.title > span {
      #part>#chapter-end>#further-exploration>#title>.style();
    }
    > .section {
      > div.title { display: none; }
      > div.body > div.section {
        #part>#chapter-end>#further-exploration>#section>.style();
      }
      > div.body div.titlepage h4 {
        #part>#chapter-end>#further-exploration>#section>#title>.style();
      }
      div.titlepage h5 { display: none; }
    }
  }
}
div.abstract {
  display: none;
}
div.book div > div.section > div.section.learning-objectives {
  > div.titlepage > div > div > h3 {
    #part>#chapter>#learning-objectives>#titlepage>.style();
  }
  .itemizedlist > ul {
    #part>#chapter>#learning-objectives>#list>.style();
  }
  .listitem {
    #part>#chapter>#learning-objectives>#list>#listitem>.style();

    p { margin-bottom: 0; }
  }
}

div.book > div.appendix > div.section > div.titlepage {
  #content>#section>#title>.style(any; appendix);
  &::before {
    #content>#section>#title>.number(any; appendix);
  }
  span.cnx-gentext-t {
    #content>#section>#title>.text(any; appendix);
  }
  span.cnx-gentext-autogenerated:first-of-type {
    #content>#section>#title>.label(any; appendix);
  }
}

div.appendix {
  div.itemizedlist, div.orderedlist {
    ul, ol {
      list-style: none;
      margin: 0 0 0 30px;
      li {
        #content>#list>.item(any; appendix);
      }
    }
  }
}

div.colophon.end-of-book-solutions {
  div.chapter-area div.solution div.body img {display:block; margin: 0 auto;}
  div.orderedlist > ol.orderedlist {
    #content>#list>.style('answer-key'; book-end; solution);
    > li.listitem {
      #content>#list>.item('answer-key'; book-end; solution);
      p {
        #content>#list>.itemtext('answer-key'; book-end; solution);
      }
    }
  }
}

.preface, .chapter .introduction, .appendix {
  > p {
    .line-height();
  }
}
