
.chapter .note {
  &.astronomy-basics {
    #content>#note>.style('astronomy-basics'; any);
    >.title {
      #content>#note>#title>.style('astronomy-basics'; any);
    }
  }
  &.making-connections {
    #content>#note>.style('making-connections'; any);
    >.title {
      #content>#note>#title>.style('making-connections'; any);
    }
  }
  &.seeing-for-yourself {
    #content>#note>.style('seeing-for-yourself'; any);
    >.title {
      #content>#note>#title>.style('seeing-for-yourself'; any);
    }
  }
  &.voyagers-in-astronomy {
    #content>#note>.style('voyagers-in-astronomy'; any);
    >.title {
       #content>#note>#title>.style('voyagers-in-astronomy'; any);
    }
  }
}

//end of chapter
div.book div.chapter > div.cnx-eoc {

  &.further-exploration {
    #part>#chapter-end>#further-exploration>.style();
    .body p { #part>#chapter-end>#further-exploration>#item>.style(); }
    > .title { #part>#chapter-end>#further-exploration>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#further-exploration>#title>.link(); }
  }

  &.group-activities {
    counter-reset: group-activities;
    ol {
      #content>#list>.style(any; any; group-activities);
    }
    div.section {
     &.empty {display: none;}
     div.section {
      &:before {
        display: inline;
        float: left;
        font-weight: bold;
        margin-top: 6px;
        padding-right: 5px;
        content: counter(group-activities)". ";
        counter-increment: group-activities;
        font-family: @font-family-serif
      }
     }
     .title {display: none;}
      &.empty {display: none}
    }
    #part>#chapter-end>#group-activities>.style();
    > .title { #part>#chapter-end>#group-activities>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#group-activities>#title>.link(); }
  }

  &.review-questions {
    #part>#chapter-end>#review-questions>.style();
     > .title { #part>#chapter-end>#review-questions>#title>.style(); }
     > .section .title > a { #part>#chapter-end>#review-questions>#title>.link(); }
  }

  &.thought-questions  {
    #part>#chapter-end>#thought-questions >.style();
    > .title { #part>#chapter-end>#thought-questions>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#thought-questions>#title>.link(); }
  }

  &.figuring-for-yourself  {
    #part>#chapter-end>#figuring-for-yourself >.style();
    > .title { #part>#chapter-end>#figuring-for-yourself>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#figuring-for-yourself>#title>.link(); }
  }
}

.note img {max-width: 6in;}

.inlinemediaobject {
  #content>#image>.style(any; 'inline');
}
