@import url('includes/theme-colors.less');

@primary-color: @scooter-blue;
@secondary-color: @flirt-red;
@tertiary-color: @jagger-violet;
@quaternary-color: @sea-buckthorn-orange;
@quinary-color: @flamingo-orange;
@accent-color: #F4F4F4;
//@secondary-accent-color: rgba(#3C2747, 0.4);

.folio-chapter-header() {
  background-color: transparent;
  color: white;
}

#part {
  #toc {
    #title {
      .style() {
        text-transform: uppercase;
        color: @tertiary-color;
        .scale-padding(2, margin-bottom);
      }
    }
    #chapter {
      .number() {
        display: inline-block;
        height: auto;
        line-height: normal;
        color: @secondary-color;
        border: 1px solid @quaternary-color;
        .font-scale(0);
        padding: 2px 5px;
        margin-right: 15px;
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }
  #chapter {
    #titlepage {
      .style() {
        height: 100%;
        margin-top: 0;
      }
    }
    #title {
      .style() {
        padding: 0;
        padding-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //bottom: -3.4in;
        //left: 80px;
        //right: 0;
        width: 8.5in;
        height: 3.53in;
        color: @tertiary-color;
        .font-scale(2);
      }
      .number() {
        top: auto;
        left: 0;
        bottom: 52px;
        background-color: white;
        border-radius: 50%;
        padding: 8px 15px;
        min-width: 0;
        min-height: 0;
        color: @secondary-color;
      }
      .text() {
        position: absolute;
        bottom: 35px;
        left: 80px;
      }
      .icon() {
        content: '';
        display: block;
        background: url(ccap-astronomy/ch-intro-telescope.svg) 0 0 no-repeat;
        width: 175px;
        height: 55px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate3d(-1in, 0, 0);
      }
    }
  }
  #introduction {
    .style() {
      margin-top: -1in;
    }
    #title {
      .style() {
        color: @tertiary-color;
        margin-bottom: 1em;
      }
    }
    #chapter-outline {
      #title {
        .style() {
          .scale-padding(1, margin-bottom);
          .font-scale(2);
        }
      }
    }
  }
  #chapter {
    .style(any; chapter) {
      page: chapter;
      prince-page-group: start;
    }
    #learning-objectives{
      #list {
        .style() {
          color: @tertiary-color;
          margin-bottom: 18px;
          list-style: none;
        }
        #listitem {
          .style() {
            background: url("ccap-astronomy/learning-objectives.svg") no-repeat 0;
            background-size: 7px 10px;
            margin-left: 20px;
            padding-left: 20px;
          }
        }
      }

      #title {
        .style() {
          display: none;
        }
      }
    }
  }
  #module {
    #title {
      .style() {
        font-family: @font-family-serif;
        text-transform: uppercase;
        color: @tertiary-color;
        .font-scale(2);
        font-weight: 600;
      }
      .text() {
        top: 3px;
      }
      .number() {
        border: 2px solid @quaternary-color;
        padding: 3px 4px;
        .font-scale(-1);
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}

#content {
  #link {
    .style('chapter'; any; toc) {
      position: relative;
      color: @primary-color;
      .scale-padding(1, margin-bottom);
      bottom: -5px;
    }
    .style('index'; any; toc) {
      color: @primary-color;
      .scale-padding(1, margin-bottom);
    }
  }
  #list {
    .style('chapter'; any; toc) {
      border-left: 4px solid @accent-color;
      .scale-padding(0, padding-left);
    }
    .style('unordered'; introduction; chapter-outline) {
        border-left: 4px solid @accent-color;
    }
    .number('unordered'; introduction; chapter-outline) {
      color: @summer-sky;
    }
    .item('chapter'; any; toc) {
      margin-bottom: 20px;
    }
    .item('2n+0', 'chapter'; any; toc) {
      background-color: @accent-color;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
  #figure {
    .style('splash'; chapter) {
      transform: translate3d(-1in, 0, 0);
    }
    #title {
      .style() {
        color: @black-60;
        .font-scale(-1);
      }
      .number() {
        color: black;
      }
    }
    #body {
      .style('splash'; chapter) {
        padding-bottom: 5px;
      }
    }
  }
  #section {
    #title {
        .style(any; any) {
          font-family: @font-family-serif;
          margin-bottom: 1em;
          color: @secondary-color;
          .font-scale(2);
        }
      }
  }
}
