#part {

  // .counter-resets() {}
  #title {
    //NOTE: Use separate Mixins (instead of @scope:default) when you do not want the default CSS to be used for all scopes
    .style(@scope) {}
    .style(default) {
      margin-bottom: 0em; //1st span contains the 'chapter'
      padding: 0.25em 0.5em;
      font-size: 2.5em; // xx-large;
      font-weight: normal;
      text-transform: uppercase;
      color: white;
    }
    .style(preface) {
      padding-left: .25em;
    }

    .number(@scope:default) {
      color: black;
      padding-right: 1em;
    }
  }

  #introduction {
    .title(chapter) {
      padding-right: 3em;
      font-weight: bold;
      font-size: normal;
    }
    #splash-figure {
      // .style() {}
      // .caption() {}
      .image(chapter) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: none;
      }
    }
  }

  // This is the ToC inside the Introduction
  #toc {
    .style() {
      display: table;
      margin: auto;
      margin-bottom: 1em;
      border-spacing: 0px;
      page-break-inside: avoid;
    }
    .title() {
      color: white;
      font-size: large;
      font-weight: bold;
      text-align: center;
      padding: 0.25em;
      margin: 0em;
    }
    .title-content() {
      content: "Learning Objectives";
    }
    .children() {
      padding-left: 0em;
      margin-left: 1em;
    }
    #entry {
      .style() {
        list-style-type: none;
        margin: 0.50em 0em;
      }
      .title() {
        color: inherit;
        font-weight: bold;
        padding: 0.25em 0em;
        margin: 0em 1em 0em 0.5em;
      }
      .children-indent() {
        margin-left: 0.25em;
      }
      // This next line is deprecated and should be moved elsewhere
      .d-section-colon() {
        content: ":"; //add : after section #
      }

      // Each Chapter ToC entry contains the abstract in addition to the title
      #abstract {
        .style() {
          margin-left: 2.5em;
          padding-left: 0em;
        }
        //FIXME: Decide how to style content inside the abstract
        // Normally macros only contain rules, not selectors
        .content-style() {
          ul {
            margin-left: 0em;
            padding-left: 1.5em;
            > li { list-style-type: disc; }
          }
        }
      }
    }
  }
  // End-of-chapter parts
  // #end {
  //   #glossary {}
  //   #section {}
  //   #solution {}
  // }
  // #content {}

}

