
@import url('themes/business-theme.less');

@book-title: business-ethics;


/* -------------------------
 * Business Ethics Notes
 * ------------------------
 */
@cnx-string-real-world: "Cases from the Real World";
@cnx-string-what-would: "What Would You Do?";
@cnx-string-ethics-across: "Ethics Across Time and Cultures";
@cnx-string-think-it-through: "Think It Through";
.chapter .note {
  &.real-world {
    .notes(@cnx-string-real-world, @secondary-color, #e6eaef, link-to-learning);
  }
  &.what-would {
    .notes(@cnx-string-what-would, @secondary-color, #e6eaef, link-to-learning);
  }
   &.ethics-across {
    .notes(@cnx-string-ethics-across, @secondary-color, #e6eaef, link-to-learning);
  }
  &.ethics-across {
    .notes(@cnx-string-think-it-through, @secondary-color, #e6eaef, link-to-learning);
  }
}