@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');
@import url('precalculus-slots.less');
@import url('calculus-slots.less');



@book-title: calculus;

// color palette for pre-calculus
@dark-blue:     #233A67;
@medium-blue:   #528CBE;
@light-blue:    #DBE8F2;
@light-green:   #D3ECED;
@light-orange:  #EFD8B0;
@orange:        #D7562C;
@soft-orange:   #F1DDB6;

@white:       #FFF;
@black:       #000;

@table-border: 1pt solid @black;
@page-width: 6.5in;

// The base CCAP books use sans fonts but the statistics book uses serif fonts.
@font-family-serif: Liberation Serif, serif, @stix-fonts;

// Finished printed size of the QR code is dependent on: 1-distance between qr code and scanning device
// 2-size of dots in the code(amount of data inputed into the code, the smaller the dots become)
// For most smartphones the relationship between scan distance and minimum QR code size is approximately 10:1 so a 2.5cm (1 inch)
@qr: 1.25in;

// Images in Calculus are 150DPI
html {
  prince-image-resolution: 150dpi;
}

@import url('math-slots.less');

@import url('../ccap-numbering.less');
@import url('../ccap-precalculus-numbering.less');

@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');
@import url('precalculus-skeleton.less');
@import url('calculus-skeleton.less');
@import url('mathml-svg.less');



@import url('math-skeleton.less');

