
@cnx-string-preface: "Preface";
@cnx-string-chapter: "Chapter";
@cnx-string-appendix: "Appendix";

#content {
  #table {
    .style(any; any; note) {
      background-color: #fff;
    }
    #caption {
      .style(any; any) {
        color: black;
        font-weight: normal;
      }
      .number(any; any) {
        color: @orange;
        font-weight: bold;
      }
    }
  }

  #commentary {
    #title {
      .style(@kind; @part; exercise) {
        #content>#commentary>#title>.style(@kind; @part; exercise; example);
      }
    }
  }
  #section {
    #title {
      .number(any; appendix) {
        display: none;
      }
    }
  }
}
