#part {
  #title {
    .style(default) {
      padding: 0 0.5em 0.25em 0.5em;
    }
  }
  #chapter-end {
    #title {
      .style(...) {
        margin-top: 0em;
      }
    }
  }
}
#content {
  #heading {
    .style(h2-h3-h4) {
      margin: 0em 0em 1em 0em;
    }
  }
  #note {
    .style(...) {
      margin-top: 0em;
    }
  }
}