#part {
  #preface {
    #titlepage {
      .subtitle(...) {
        font-size: 13pt !important;//really bad skeleton design in the science theme
      }
    }
  }
  #appendix {
    #title {
      .text() {
        line-height: 1em;
        padding-top: .25em;
        sup {
          display: none;
        }
      }
    }
  }
}

#content {
  #section {
    #title {
      .style(any; preface; section) {
        font-size: 11pt !important;//really bad skeleton design in the science theme
        color: @dark-blue;
      }
    }
  }
  #table {
    #data {
      .style (any; any) {
        text-align: center;
      }
    }
  }
}
