#note {
  .style('everyday-connection'; ...) {
    .x-feature-color(@dark-blue, @dark-blue, @dark-blue, @orange, @cnx-string-everyday-connection);
  }
  .style('dig-deeper'; ...) {
    .x-feature-color(@dark-blue, @orange, @orange, @dark-blue, @cnx-string-dig-deeper);
  }
  .style('what-do-you-think'; ...) {
    .x-feature-color(@dark-blue, @dark-blue, @white, @teal, @cnx-string-what-do-you-think);
   }
  .style('connect-the-concepts'; ...) {
    .x-feature-color(@light-blue, transparent, @light-blue, transparent, @cnx-string-connect-the-concepts);
      margin-top: 1.5em;
      padding: 0;
    p {
      &:last-of-type {
        padding-bottom: 10px;
      }
     }
    > .body {
        padding: 0 1em;
    }
     // paragraph titles
     > .title {
       padding-bottom: 0;
      padding: 0 1em;
       span.cnx-gentext-tip-t {
        padding: 5px 0 0 0;
       display: block;
       }
    }
      // Create the header/title
     &::before, > .title::before {
     font: 700 normal normal 14pt/14pt @font-family-sans-serif;
      width: 100%;
      text-align: center;
      display: inline-block;
     }
    &::before {
       border-bottom: 1px solid @light-blue;
       border-radius: 0px;
       padding: 0px;
       margin-left: -1px;
      margin-top: 10px;
       position: relative;
     }
  > .title::before {
    .x-feature-before-color(@light-blue, @cnx-string-connect-the-concepts);
      color: lighten(@black, 65%);
     text-indent: 19px; // Fix a text-offset bug
    }
  }
      .style('link-to-learning'; ...) {
      // This feature requires some "bugfix" pieces to work
      // properly, such as a clearfix. Selectors for these are
      // placed inline in this slot.
      .x-feature-color(@red, @orange, @white, @red, @cnx-string-link-to-learning);
      #utils>#pb>.inside(avoid);
      text-align: left;
      //clearfix
      > .body::after {
        content: "";
        display: table;
        clear: both;
      }
      .mediaobject {
        float: left;
        img {
          margin: 0;
        }
      }
    }
}