/********************************************************************
 * Styling for Learning Objectives Box
 ********************************************************************/

.section > .titlepage {
  .abstract {
    &::before {
     #part>#chapter>#learning-objectives>#title>.style();
    }
    .itemizedlist > ul {
      #part>#chapter>#learning-objectives>#list>.style();
     }

    p { font-family: @font-family; margin: 1em 0em .75em 1em; }

    .itemizedlist > .listitem > p {
      margin: 0em .3em;
      display: inline;
      text-align: left;
    }


    // Special three-part numbering for Learning Objective chapter.section.learning-objectives
    .itemizedlist > .listitem {
      counter-increment: learning-objectives;
      display: block;

      &::before {
        content: "" " " counter(chapter, decimal) "." counter(section, decimal) "." counter(learning-objectives) " " "";
        color: @medium-blue;
        font-weight: bold;
      }
    }
  }
}