@import url('themes/business/theme.less');

@has-learning-outcomes: true;

@cnx-string-what-students-say: "What Students Say";
@cnx-string-activity: "Activity";
@cnx-string-get-connected: "Get Connected";
@cnx-string-analysis-question: "Analysis Question";
@cnx-string-application: "Application";

.chapter .note {
    &.what-students-say {
        .notes(@cnx-string-what-students-say, @white, @tertiary-color, @feature-style-2-body-color, what-students-say);
    }
    &.activity {
        .notes(@cnx-string-activity, @white, @tertiary-color,@feature-style-2-body-color, activity);
    }
    &.get-connected {
        .notes(@cnx-string-get-connected, @white, @primary-color, @feature-style-3-body-color,expanding-around-globe);
    }
    &.analysis-question {
        .notes(@cnx-string-analysis-question, @white, @primary-color, @feature-style-3-body-color, ethics-in-practice);
    }
    &.application {
        .notes(@cnx-string-application, @white, @secondary-color, @feature-style-2-body-color, concept-check);
    }
}

.handle-eoc-sections(".section-summary", @eoc-summary-icon);
.handle-eoc-sections(".career-connection", @eoc-case-study-icon);
.handle-eoc-sections(".rethinking", @eoc-thoughtprovoker-icon);
.handle-eoc-sections(".where-go",  @eoc-where-go-icon);
.handle-eoc-sections(".multiple-choice", @eoc-multiplechoice-icon);

div.chapter > div.titlepage > div div > h1.title::after {
    bottom: -17.5px;
    background: url("ccap-business/college-success-splash.svg") 0 0 no-repeat;
}
