@import url('themes/business/theme.less');

@has-learning-outcomes: true;

@cnx-string-what-students-say: "What Students Say";
@cnx-string-activity: "Activity";
@cnx-string-get-connected: "Get Connected";
@cnx-string-analysis-question: "Analysis Question";
@cnx-string-application: "Application";
@cnx-string-student-profile: "Student Profile";

.chapter .note {
    &.what-students-say {
        .notes(@cnx-string-what-students-say, @white, @tertiary-color, @feature-style-2-body-color, what-students-say);
    }
    &.activity {
        .notes(@cnx-string-activity, @white, @tertiary-color,@feature-style-2-body-color, activity);
    }
    &.get-connected {
        .notes(@cnx-string-get-connected, @white, @primary-color, @feature-style-3-body-color,expanding-around-globe);
    }
    &.analysis-question {
        .notes(@cnx-string-analysis-question, @white, @primary-color, @feature-style-3-body-color, ethics-in-practice);
    }
    &.application {
        .notes(@cnx-string-application, @white, @secondary-color, @feature-style-2-body-color, concept-check);
    }
    &.student-profile {
        .note-border-top(@cnx-string-student-profile, @tertiary-color);
    }
}

.cnx-eoc.summary > .section > .title {
    //this is stupid, but there is a style in eoc.less that prevents the section-title: false setting in the mixin below from working properly. Instead of changing the style that affects all titles using the business theme, I'm putting this here.
    display: none !important;
}

.handle-eoc-sections(".summary", @eoc-summary-icon, @section-title: false);
.handle-eoc-sections(".career-connection", @eoc-case-study-icon, @section-title: false);
.handle-eoc-sections(".rethinking", @eoc-thoughtprovoker-icon, @section-title: false);
.handle-eoc-sections(".where-go",  @eoc-where-go-icon, @section-title: false);
.handle-eoc-sections(".multiple-choice", @eoc-multiplechoice-icon);

div.chapter > div.titlepage > div div > h1.title::after {
    bottom: -17.5px;
    background: url("ccap-business/college-success-splash.svg") 0 0 no-repeat;
}

div.end-of-book-solutions, div.end-of-book-references {
    display: none;
}

div.note {
    div.table {
        table thead tr:first-of-type {
            th {
                &:last-child {
                    text-align: left;
                }
            }
        }
    }
}