@import url('themes/business/theme.less');


@cnx-string-what-students-say: "What Students Say";
@cnx-string-activity: "Activity";
@cnx-string-get-connected: "Get Connected";
@cnx-string-analysis-question: "Analysis Question";
@cnx-string-application: "Application";

.chapter .note {
    &.what-students-say {
        .note(@cnx-string-what-students-say, );
    }
    &.activity {
        .note(@cnx-string-activity, );
    }
    &.get-connected {
        .note(@cnx-string-get-connected, );
    }
    &.analysis-question {
        .note(@cnx-string-analysis-question, );
    }
    &.application {
        .npte(@cnx-string-application, );
    }
}