@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');

@import url('themes/new-math-slots.less');
@import url('developmental-math-slots.less');

@table-border: 1pt solid @black;
@page-width: 6.5in;

@font-family: 'Noto Sans', sans-serif, @stix-fonts;
@font-family-serif: 'Roboto Slab', serif, @stix-fonts;


// Images in Basic Mathematics are 150DPI
html {
  prince-image-resolution: 150dpi;
}


@import url('../ccap-numbering.less');
@import url('../ccap-precalculus-numbering.less');

@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');

@import url('themes/new-math-skeleton.less');
@import url('developmental-math-skeleton.less');

@import url('folio.less');

@cnx-string-chapter: "Chapter";

/* -------------------------
 * Chapter
 *
 * Refactor folio.less into skeletons/slots, then this goes away.
 * -------------------------
 */
div.book div.chapter > div.titlepage > div > div h1.title {
  span.cnx-gentext-t {
    string-set: cnx-header "@{cnx-string-chapter} " counter(chapter, decimal)  "\0020\0020\0020" content();
  }
}

//this is not pretty, but necessary to override a few other counters :/
div.book > div.chapter > div.section div.example div.exercise {
  .solution, .problem {
    .table:not(.unnumbered) {
      counter-increment: table !important;
    }
  }
}

div.book div.chapter {
  counter-reset: be-prepared-math section figure subfigure table equation example exercise footnote toc-section try theorem checkpoint be-prepared-exercise check-understanding;
  > div.section div.note.be-prepared {
    counter-increment: be-prepared-math;
    background-color: transparent;
    margin-bottom: 2em;
    &::before {
      content: "Be Prepared : :";
      color: #093D4C;
      text-transform: uppercase;
      background: url(ccap-basic-math/be-prepared.svg) no-repeat 0;
      background-size: 20px 20px;
      display: inline-block;
      padding: 20px 3px 20px 30px;
      font-size: 11px;
      font-weight: bold;
    }
    &:not(.labeled) {
      counter-increment: be-prepared-math;
    }
    &.labeled {
      counter-increment: none;
    }
    > .title:not(.labeled) {
        display: inline-block;
        padding-left: 0px;
        padding-top: 2.5px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: normal;
        &::before {
          content: "" "" counter(chapter, decimal) "." counter(be-prepared-math) " " "";;
        }
    }
    div.exercise:not(.labeled) > .title > span:first-child:not(.labeled)::before {
      content: none;
    }
    > .body {
      border-top: none;
      display: inline-block;
      vertical-align: text-top;
      margin-top: -5px;
    }
  }
}

.note.be-prepared > .body {
  color: rgba(0, 0, 0, 0.5) !important; 
}
