
@ap-test-prep:"test prep for ap\00ae  courses"; // allows use of registered trademark in title

.x-section-title-font() {
  color: @dark-blue;
  font-size: 17pt;
}

#part {
  #toc {
    .style() {}
    #title {
      .style(...) {
        color: @dark-blue;
        border-bottom-color: @dark-blue;
        font-weight: bold;
        font-size: large;
      }
    }
    #link {
      .style(...) {
        color: @dark-blue;
        font-weight: bold;
        font-size: 12.6px;
        line-height: normal;
      }
    }
  }
  #preface {
    #titlepage {
      .style(...) {
        padding-bottom: 1em;
      }
      .title(...) {
        #utils>#pb>.after(avoid);
        color: @white;
        background-color: @dark-blue;
        margin-bottom: 0;
        padding: 0.1em 0.5em;
        padding-left: .25em;
        font-size: 2.8em;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: none;
      }
      .subtitle() {
        color: @dark-blue;
      }
    }
  }
  #introduction {
    #title {
      .style(...) { display: none }
    }
    #chapter-outline {
      .style(...) { display: none; }
    }
  }
  #chapter {
    #title {
      // Use a mixin here since we need to override
      // psychology for each slot.
      .x-chapter-title-font() {
        text-align: left;
        color: @dark-blue;
        font: bold 34pt/34pt @font-family-sans-serif;
      }
      .style(...) {
        .x-chapter-title-font();
        padding-bottom: .25em;
      }
      .divider(...) {
        .x-chapter-title-font();
        content: "| ";
        color: @black;
      }
      .text(...) {
        .x-chapter-title-font();
        border-top: none;
        display: inline;
        padding-left: .25em !important; // !important used in psychology...
        padding-bottom: 1em;
      }
      .number(...) {
        .x-chapter-title-font();
        content: content(); // reset psychology content:;
      }
    }
    #learning-objectives {
      .style(...) {
        border-bottom: none;
      }
      #title {
        .style(...) { display: none; }
      }
    }
  }
  #module {
    .style(){
      margin-bottom: 12px;
    }
    #title {
      .style() {
        border-bottom: none;
        .x-section-title-font();
      }
      // Separate the section number and title with a pipe
      .divider() {
        .x-section-title-font();
        color: black;
        content: "| ";
      }
      .number() { .x-section-title-font(); }
      .text() { .x-section-title-font(); }
    }
  }
  #chapter-end {
    .style(...) {
      margin-bottom: 20px;
    }
    #title {
      .style(...) {
        -webkit-column-span: all;
        column-span: all;
        color: @dark-blue;
        font: normal normal 700 14pt/1em @font-family-sans-serif;
        border-bottom: none;
        text-transform: capitalize;
        page-break-after: avoid;
        span {
          font-size: 18px;
        }
      }
    }
    #section {
      #title {
        .style(...) {
          a {
            display: inline;
          }
        }
      }
    }
    #summary {
      #title {
        .style(...) {
          content: @cnx-string-summary;
          text-transform: uppercase;
        }
        .link(...) {
          display: inline;
          color: @dark-blue;
          font-family: @font-family-sans-serif;
        }
      }
    }
    #review-questions {
      .style() {
        text-align: justify;
      }
      #title {
        .style() {
          text-transform: uppercase;
        }
      }
    }
    #critical-thinking {
      .style() {
        .x-column-count(2);
        column-fill: balance;
        text-align: justify;
        margin-bottom: 20px;
      }
      #title {
        .style(...) {
          -webkit-column-span: all;
          column-span: all;
          text-transform: uppercase;
        }
      }
    }
    #self-check-questions {
      .style() {
        .x-column-count(1);
      }
      #title {
        .style() {
          text-transform: uppercase;
        }
      }
    }
    #ap-test-prep {
      .style() {
        .x-column-count(1);
      }
      #title {
        .style() {
		  content: @ap-test-prep;
          text-transform: uppercase;
        }
      }
    }
    #problems {
      #title {
        .style() {
          text-transform: uppercase;
        }
      }
    }
  }
    #chapter-end {
      #section{
        #title{
          .style() {
           #utils>#pb>.after(avoid);
         }
       }
      }
    }


  // End of Book Customizations
  #book-end {
    #index {
      #title {
        .style(...) {
          color: @dark-blue;
          text-transform: uppercase;
          border: none;
        }
      }
    }
    #end-of-book-solutions {
      .style(...) {
        font-weight: 500;
      }
      #title {
        .style() {
          color: @dark-blue;
          text-transform: uppercase;
          border: none;
        }
        .style('chapter-area'; any) {
          font-size: 15px;
          font-family: @font-family-sans-serif;
        }
      }
    }
    #end-of-book-references {
      .style(...) { display: block; }
      #chapter-area {
        .style(...) {
          color: black;
          font-size: 16px;
          font-weight: 700;
          font-family: @font-family;
          margin: .5em 0em;
        }
        #title {
          .style(...) {}
        }
      }
    }
    #appendix {
      #title {
        .style() {
          font-size: 34pt;
          font-weight: bold;
          color: @dark-blue;
          padding: 0;
          margin: 0;
          text-transform: none;
        }
        .number() {
          color: @dark-blue;
        }
        .text() {
          // Don't use display: none here because
          // that will cause string-set for the cnx-header to fail.
          // visibility: hidden;
          // height: 0;
          // width: 0;
          // display: block;
        }
        .divider() {
          content: "| ";
          color: @dark-blue;
        }
        .label() {
          display: none;
        }
      }
    }
    #colophon {
      .style() {
        color: @dark-blue;
        text-transform: uppercase;
        border: none;
      }
    }
    #index {
      #title {
        .style(...) {
          font-weight: 500;
        }
      }
      .letter(...) {
        font-family: @font-family-sans-serif;
        padding-bottom: .5em;
      }
      .term(...) {
        font-family: @font-family-sans-serif;
        padding-bottom: 0;
      }
    }
  }

  // End of Book Attribution and About Connexions
  #colophon {
    .style(...) {
      font-weight: 500;
    }
  }
}

// Legacy .x-feature function from Anatomy text used
// due to identical features parameterization
// TODO: This (and other feature macros) should be
// moved to utils.
.x-feature (@color, @bg-color, @svg, @padding-top) {
  color: @color;
  font-family: @font-family;
  padding: 0.2em 1em;

  p:nth-of-type(2) {
    #utils>#pb>.before(avoid);
  }
  &::before {
    padding-top: @padding-top; //from the SVG files
    background-repeat: no-repeat;
    #utils>#pb>.after(avoid);
    background-color: white;
    content: "";
    display: block;
    // the following are tweaked so the overlays really do over lay
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -0.05in;
  }

  background-color: @bg-color;
  &::before { background-image: url("ccap-economics/@{svg}.svg"); }

  > .title {
    font-size: large;
    color: black;
    border: none;
    font-weight: bold;
  }

  // Must apply padding to all elements in body not just blockquote and para, tables
  // are being stuffed inside features as well and must play nice with text alignment
  > .body {
    padding: 0px .8em;

    // W&N requests that all inline elements inside feature be sans-serif
    p, ol, li { font-family: @font-family; }
  }

  .figure {
    img { max-width: (@page-width - .25em); }
    > .title { font-size: 9.5pt; color: @dark-blue; }
  }
}

#content {
  #note {
    .style(...) {
      #utils>#pb>.inside(auto);
    }
    .style('bring-it-home'; chapter) {
      .x-feature(@black, @gray, bring, 0.48in);
    }
    .style('clear-it-up'; chapter) {
      .x-feature(@black, @gray, clear, 0.53in);
    }
    .style('work-it-out'; chapter) {
      .x-feature(@black, @gray, work, 0.38in);
    }
    .style('link-it-up'; chapter) {
      .x-feature(@black, @gray, link, 0.38in);
    }
    .style('chapter-objectives'; introduction) {
      // We must use a background color here to stop Precalculus from assuming this is
      // a generic precalculus note and giving it blue background.
      background-color: @white;
      padding: 0;
      margin: 0;
      border-bottom: none;
    }

    #title {
      .style() {
        font-weight: bold;
        margin: .5em 0;
        padding: 0 10px;
      }
      .style('chapter-objectives'; introduction) {
        font-size: 17pt;
        color: @dark-blue;
        // Border must be removed from title due to Precalculus thinking this is generic
        // note.  Since manual chapter objectives must be a note, we must keep Precalc at bay.
        border: none;
        padding-left: 0;
      }
    }
  }
  #paragraph {
    .style(any) {
      line-height: normal;
    }
    .style('chapter-objectives'; introduction) {
      font: normal normal 10pt/14pt @font-family-serif;
    }
    .style(any; chapter-end; review-questions) {
      text-align: justify;
    }
    .style(any; chapter-end; critical-thinking) {
      text-align: justify;
    }
    .style(any; chapter-end; glossary) {
      font-size: 12.7px;
      line-height: 17px;
    }
  }
  #link {
    .style(...) {
      color: @dark-blue;
    }
  }
  #table {
    .style(...) {
      #utils>#pb>.inside(auto);
    }
    .style(any; any) {
      width: 100%;
      border: none;
      margin: 15px 0;
      border-collapse: collapse;
    }
    .style(any; preface) {
      margin: 0;
      border: none;
      #utils>#pb>.after(avoid);
    }
    .style(any; end-of-book-solutions) {
      width: auto;
      margin: 1em 0;
    }
    #caption {
      .style(any; any) {
        caption-side: bottom;
        border: none;
        color: @dark-blue;
      }
      .number(any; any) {
        color: @dark-blue;
      }
      .link(any; any) {
        font-weight: 400 !important; // !important all the way up T_T
        color: @black;
        font-size: 10pt;
        line-height: 13pt;
        padding-left: 5px;
      }
    }
    #body {
      .style(any; any) {
        border-top: 3px solid @dark-blue !important;
        border-bottom: 1px solid @black;
      }
    }
    #row {
      .style(any; any) {
        border: none;
      }
    }
    #header {
      .style(any; any) {
        background-color: @light-blue;
        border: none;
        border-top: 3px solid @dark-blue !important; // !important is in ccap-base
        text-align: center;
        line-height: normal;
      }
      .style(any; end-of-book-solutions) {
        font-family: @font-family-sans-serif;
      }
    }
    #data {
      .style(any; any) {
        border-color: @black !important;
        border-width: thin;
        border-bottom: 1px solid @black !important;
        font-family: @font-family-sans-serif;
        padding: 4px 10px;
      }
      .style('first-row'; any; any) {
        //border-top: 3px solid @dark-blue !important;
      }
      .style('first-row'; preface; any) {
        border-top: none !important;
      }
      .style(any; preface) {
        padding: 5px;
        font-family: @font-family-sans-serif;
        font-size: 13px;
        border: none !important; // Why does .style(any; any) use important?
      }
    }
  }
  #section {
    .style(any; preface) {
      #utils>#pb>.before(avoid);
      #utils>#pb>.after(avoid);
    }
    .style(any; any) {
      margin: 0 0 11px 0;
    }
    #title {
      .style(any; any) {
        .x-section-title-font();
        border-bottom: none;
        text-transform: none;
        font: bold 13pt/13pt @font-family-sans-serif;
      }
      .style(any; intro) {
        font-weight: bold;
        color: @dark-blue;
      }
      .number(any; appendix) {
        display: none;
      }
      .style(any; chapter-end; 'self-check-questions') {
        display: none;
      }
      .style(any; chapter-end; 'ap-test-prep') {
        display: none;
      }
      .style(any; chapter-end; 'problems') {
        display: none;
      }
      .style(any; preface) {
        font-size: 17px;
      }
      .style(any; preface; section) {
        font-size: 14px;
      }

    }
  }
  #list {
    .item(any; introduction; note; 'chapter-objectives') {
      margin-bottom: .5em;
    }
  }
  #figure {
    #title {
      .number(...) {
        color: @dark-blue;
      }
      .style(any; end-of-book-solutions) { display: none; }
    }
  }
  #glossary {
    .style(...) {
      // Don't show the "Chapter X Review" header from PreCalc
      &::before {
        display: none;
      }
    }
    #title {
      .style(...) {
        /* Change "Glossary" to "Key Terms" */

        // Temp changes in place until we horizontally refactor glossary across books.
        color: @dark-blue !important;
        font-size: 14pt !important;
        text-transform: uppercase !important;
        border:none;
        margin-top: 0;
        padding-top: 0;
      }
    }
    .term() {
      font: normal 700 12.7px/17px @font-family-sans-serif;
    }
    .definition() {
      margin-left: 30px;
    }
    .glossterm(any) {
      font: inherit;
    }
    .dl() {
      margin: 1em 0;
      text-align: left;
    }
  }
  #exercise {
    .style(any; chapter-end) {
      margin-bottom: .75em;
    }
    .style(@kind; @part; section) {
     font-family: @font-family-sans-serif;
   }
  }
  #solution {
    .style(@kind, book-end) {
      display: block;
      padding-bottom: 10px;
    }
    #body {
      .style(@kind, book-end) {
        font: normal normal 10pt/13pt @font-family-serif;
      }
    }
  }
}
