@import url('themes/business-theme.less');

@book-title: entrepreneurship;

//entrepreneurship features
@cnx-string-link-to-learning: "Link to Learning";
@cnx-string-entrepreneur-in-action: "Entrepreneur in Action";
@cnx-string-what-can-do: "What Can You Do";
@cnx-string-think-through: "Think It Through";
@cnx-string-are-you-ready: "Are You Ready?";
@cnx-string-work-it-out: "Work It Out";


/* -------------------------
 * Units
 * ------------------------
 */
.book > .toc {
  .toc-section {

  }
}
div.toc li.toc-part a.target-part { 
  background: url("ccap-entrepreneurship/unit.svg") no-repeat left;
  background-size: contain;
  margin-left: 39px;
  .scale-padding(1, padding-right);
  .scale-padding(6, padding-left);
  .scale-padding(1, margin-bottom);
  .toc-unit-styles();
  &::before {
  // counter(toc-part-num) initialized in business-theme.less
  content: "Part " counter(toc-part-num) ": ";
  }
}
.book .toc ul li.toc-appendix::before {
  margin-left: 37.6px;
}
/* -------------------------
 * Entrepreneurship Notes
 * ------------------------
 */
.chapter .note {
  &.link-to-learning {
    .notes(@cnx-string-link-to-learning, @quinary-color, @feature-style-1-body-color, link-to-learning);
  }
  &.entrepreneur-in-action {
    .notes(@cnx-string-entrepreneur-in-action, @primary-color, @feature-style-3-body-color, entrepreneur-in-action);
  }
  &.think-through {
    .notes(@cnx-string-think-through, @primary-color, @feature-style-3-body-color, think-through);
  }
    &.are-you-ready {
    .notes(@cnx-string-are-you-ready, @primary-color, @feature-style-3-body-color, are-you-ready);
  }
    &.work-it-out{
    .notes(@cnx-string-work-it-out, @primary-color, @feature-style-3-body-color, work-it-out);
  }
    &.what-can-do{
    .notes(@cnx-string-what-can-do, @primary-color, @feature-style-3-body-color, what-can-do);
  }
}
