
@import url('themes/business-theme.less');






@book-title: entrepreneurship;


//entrepreneurship features
@cnx-string-entrepreneur-in-action: "Entrepreneur in Action";
@cnx-string-think-it-through: "Think It Through";
@cnx-string-are-you-ready: "Are You Ready?";
@cnx-string-work-it-out: "Work It Out";
@cnx-string-what-can-do: "What Can You Do";


//business ethics features

@cnx-string-real-world: "Cases from the Real World";
@cnx-string-what-would: "What Would You Do?";
@cnx-string-ethics-across: "Ethics Across Time and Cultures";

/* -------------------------
 * Units
 * ------------------------
 */
.book > .toc {
  .toc-section {

  }
}

/* -------------------------
 * Entrepreneurship Notes
 * ------------------------
 */
.chapter .note {
  &.entrepreneur-in-action {
    .notes(@cnx-string-entrepreneur-in-action, @secondary-color, #e6eaef, link-to-learning);
  }
  &.think-it-through {
    .notes(@cnx-string-think-it-through, @secondary-color, #e6eaef, link-to-learning);
  }
    &.are-you-ready {
    .notes(@cnx-string-are-you-ready, @secondary-color, #e6eaef, link-to-learning);
  }
    &.work-it-out{
    .notes(@cnx-string-work-it-out, @secondary-color, #e6eaef, link-to-learning);
  }
    &.what-can-do{
    .notes(@cnx-string-what-can-do, @secondary-color, #e6eaef, link-to-learning);
  }
}

/* -------------------------
 * Business Ethics Notes
 * ------------------------
 */
@cnx-string-real-world: "Cases from the Real World";
@cnx-string-what-would: "What Would You Do?";
@cnx-string-ethics-across: "Ethics Across Time and Cultures";
.chapter .note {
  &.real-world {
    .notes(@cnx-string-real-world, @secondary-color, #e6eaef, link-to-learning);
  }
  &.what-would {
    .notes(@cnx-string-what-would, @secondary-color, #e6eaef, link-to-learning);
  }
   &.ethics-across {
    .notes(@cnx-string-ethics-across, @secondary-color, #e6eaef, link-to-learning);
  }
}