@cnx-string-preface: "Preface";
@cnx-string-chapter: "Chapter";
@cnx-string-appendix: "Appendix";
@cnx-string-introduction: "Introduction";
@cnx-string-index: "Index";

/* -------------------------
 * Table of Contents
 * -------------------------
 */
div.book > div.toc {
  page: table-of-contents;
}

/* -------------------------
 * Preface
 * -------------------------
 */
div.book div.preface {
  page: preface;

  > .titlepage {
    h1.title {
      string-set: cnx-header @cnx-string-preface;
    }
  }
}

/* -------------------------
 * Chapter
 * -------------------------
 */
div.book div.chapter > div.titlepage > div > div h1.title {
  span.cnx-gentext-t {
    string-set: cnx-header "@{cnx-string-chapter} " counter(chapter, decimal)  " | " content();
  }
}

/* -------------------------
 * Appendix
 * -------------------------
 */
div.book > div.appendix > div.titlepage > div > div h1.title {
  span.cnx-gentext-t {
    string-set: cnx-header "@{cnx-string-appendix} " counter(appendix, upper-latin);
  }
}

/* -------------------------
 * Index
 * -------------------------
 */
 div.book div.index div.title h2 {
   string-set: cnx-header @cnx-string-index;
 }
