#part {
  #chapter {
    .title() {
      color: @red;
      border: none;
    }
    .title-text() {
      border: none;
    }
  }

  // End of chapter section slots
  // These sections #summary, #review-questions, and #critical-thinking
  // can be refactored to use new factory mixin later. Leaving for now.
  #chapter-end {
    .style() {}

    #summary {
      .style() {}

      .title() {
        content: "Summary";
        color: @red; 
        font-size: 13pt;
        font-weight: bold;
        border: none;
      }
    }
    #review-questions {
      .style() {}

      .title() {
        color: @red; 
        font-size: 13pt;
        font-weight: bold;
        border: none;
      }
    }
    #critical-thinking {
      .style() {}

      .title() {
       color: @red; 
        font-size: 13pt;
        font-weight: bold;
        border: none;
      }
    }
  }

  // End of Book Customizations
  #book-end {
    // End of Book solutions
    #end-of-book-solutions {
      .style() {
        column-count: 1;
      }
      .title() {
        column-span: all;
        color: @red;
        font-size: 18pt;
        text-transform: none;
        border: none;
      }
    }

    // End of book references
    #end-of-book-references {
      .style() {}

      .title() {
        color: @red;
      }
    }
    #index {
      .style() {}

      .title() {
        h2 { color: @red; }
        border: none;
      }
    }
  }
}
#content {
  #glossary {
   .style(@scope; default) {}
   
    #title {
      .style() {
        color: @red;
        font-size: 13pt;
        text-transform: none;
      }
    }
  }
}




