.chapter .note {
  &.my-story {
    #content>#note>.style(my-story);
  }
  &.defining-american  {
    #content>#note>.style(defining-american);
  }
  &.americana {
    #content>#note>.style(americana);
  }
  &.click-and-explore {
    #content>#note>.style(click-and-explore);
  }
}

// History end of chapter skeleton parts
.cnx-eoc {
  // For history summary it is wished for sections to be displayed
  &.summary {
    > .section .title {
      display: block;
      padding-bottom: 0;
    }

    p:nth-of-type(1) {  margin-top: 0; }
  }
}

// In psychology.less this high specificity is inheriting 
// the bottom border. Can only seem to turn it off like this
// Ask Derek & Phil about converting to namespace slot
div.book div.chapter div.titlepage > div > div > h2.title {
  border: none;
}

// Not sure how this can be made into skeleton/slot
.colophon > h1.title { 
  background: none;
}

div.end-of-book-solutions {
  > h1.title {
    #part>#book-end>#end-of-book-solutions>#title>.style();
  }
}

div.end-of-book-references {
  #part>#book-end>#end-of-book-references>.style();
  
  > .title {
    #part>#book-end>#end-of-book-references>.title();
  }

  // Chapter numbers subtitle "Chapter 1", "Chapter 2", etc.
  .chapter-area {
    > .title { 
      color: @black; 
    }
  }
}

// Once book-wide link color is set we can remove
// this below. index-term link will inherit it Placing here for now 
// for template build and testing
.index {
  > .title h2 {
    #part>#book-end>#index>#title>.style();
  }
  .index-term a { color: @red; }
}

// We most likely do not need to target these in a skeleton
// change but through @part somehow. There's lots of different
// permutations: .chapter h1.title, .section h3.title, etc. etc.
.section h3 {
  #content>#heading>.style(h3;);
}




// Finish up of Template Burt Reynolds Style for deadline.
// Namespace and clean up later after the powers that be
// have gorged themselves on CCAP blood.

// TOC title has a page break always on it somewhere. 
.book > .toc > .title {
  color: @red;
  border-bottom: 1px solid @red;
  page-break-after: avoid;
  page-break-before: avoid;
}

// No design direction for toc.  Turn everything red.
// Kill 'em All - Let Jeremy sort 'em out.
.book > .toc a { color: @red; }

// Turn off underlines for Introduction header
.chapter > .introduction > h3.title {
  border: none;
}

// Turn off underlines on h2 headers
div.book div.chapter div.titlepage > div > div > h2 {
  border: none;
}

// Style figures and captions
.figure {
  > .title {
    font-size: 9pt;
    font-weight: bold;
    color: @red;
  }
  > .caption {
    font-size: 9pt;
    color: black;
  }
}


