

// History end of chapter skeleton parts
.cnx-eoc {
  // For history summary it is wished for sections to be displayed
  &.summary {
    > .section .title {
      display: block;
      padding-bottom: 0;
    }

    p:nth-of-type(1) {  margin-top: 0; }
  }
}

// In psychology.less this high specificity is inheriting 
// the bottom border. Can only seem to turn it off like this
// Ask Derek & Phil about converting to namespace slot
div.book div.chapter div.titlepage > div > div > h2.title {
  border: none;
}

// Not sure how this can be made into skeleton/slot
.colophon > h1.title { border: none; }

div.end-of-book-references {
  #part>#book-end>#end-of-book-references>.style();
  
  > .title {
    #part>#book-end>#end-of-book-references>.title();
  }

  // Chapter numbers subtitle "Chapter 1", "Chapter 2", etc.
  .chapter-area {
    > .title { 
      color: @black; 
    }
  }
}

// Once book-wide link color is set we can remove
// this below. index-term link will inherit it Placing here for now 
// for template build and testing
.index {
  .index-term a { color: @red; }
}
