#part {
  #chapter {
    #title {
      .style() {
        color: @red;
        border: none;
      }
      .text() {
        border: none;
      }
    }
  }

  // End of chapter section slots
  // These sections #summary, #review-questions, and #critical-thinking
  // can be refactored to use new factory mixin later. Leaving for now.
  #chapter-end {
    .style(...) {}

    #summary {
      .style(...) {}
      #title {
        .style(...) {
          content: "Summary";
          color: @red; 
          font-size: 13pt;
          font-weight: bold;
          border: none;
        }
      }
    }
    #review-questions {
      .style(...) {}

      #title {
        .style(...) {
          color: @red; 
          font-size: 13pt;
          font-weight: bold;
          border: none;
        }
      }
    }
    #critical-thinking {
      .style(...) {}

      #title {
        .style(...) {
          color: @red; 
          font-size: 13pt;
          font-weight: bold;
          border: none;
        }
      }
    }
  }

  // End of Book Customizations
  #book-end {
    // End of Book solutions
    #end-of-book-solutions {
      .style() {
        column-count: 1;
      }
      .title() {
        column-span: all;
        color: @red;
        font-size: 18pt;
        text-transform: none;
        border: none;
      }
    }

    // End of book references
    #end-of-book-references {
      .style() {}

      .title() {
        color: @red;
        margin-left: 0;
      }
    }
    #index {
      .style() {}

      .title() {
        border: none;
        h2 {
          color: @red;
          text-transform: none;
        }
      }
    }
  }
}

.x-history-feature(@left-color, @header-text) {
  border-left: 2.5em solid @left-color;

  &::before {
    background-color: @light-gray;
    border-bottom: 1px solid @orange;
    content: @header-text;
    text-transform: uppercase;
    width: 100%;
    padding: .5em 0 .5em 0; // Center text vertically
    display: block;
    text-align: center;
    font: normal bold 14pt/1em @font-family-sans-serif;
    color: @dark-blue;
  }

  > .body, > .title { 
    margin-right: 20px;
    padding: 5px 0 0 20px;
  }
  > .title {
    font: italic bold 14pt/17pt @font-family-serif;
  }
  > .body, > .body p {
    font: normal normal 9pt/12pt @font-family-sans-serif;
  }
}

#content {
  #note {
    .style(...) {
      padding: 0;
    }
    .style(my-story; ...) {
      .x-history-feature(@dark-blue, @cnx-string-my-story);
    }
    .style(defining-american; ...) {
      .x-history-feature(@orange, @cnx-string-defining-american);
    }
    .style(americana; ...) {
      .x-history-feature(@red, @cnx-string-americana);
    }
    .style(click-and-explore; ...) {
    }
    #title {
      .style(non-feature) {
        border: none;
      }
    }
  }
  #glossary {
   .style(@scope; default) {}
   
    #title {
      .style() {
        color: @red;
        font-size: 13pt;
        text-transform: none;
      }
    }
  }
}




