#part {
  #chapter {
    .title() {
      color: @red;
      border: none;
    }
    .title-text() {
      border: none;
    }
  }

  // End of chapter code Burt Reynolds style
  #chapter-end {
    .style() {
    }

    #summary {
      .title() {
        // Trying to change summary title to blue and make big to just see that it's working. Doesn't work?
        color: @yellow; 
        font-size: 40px;
      }
    }

    #review-questions {
      .title() {
        // Trying to change summary title to blue and make big to just see that it's working. Doesn't work?
        color: @yellow; 
        font-size: 40px;
      }
    }
  }
}