@import url('themes/business/theme.less');

/* -------------------------
* Intro to Business Overrides
* ------------------------
*/
@border-radius: 5px;
@has-units: false;

@book-title: Introduction to Business;
@cnx-string-summary: "Summary of Learning Outcomes";
//Intro to Business features
@cnx-string-catching-spirit: "Catching the Entrepreneurial Spirit";
@cnx-string-managing-change: "Managing Change";
@cnx-string-expanding-around-globe: "Expanding Around The Globe";
@cnx-string-customer-satisfaction: "Customer Satisfaction";
@cnx-string-ethics-in-practice: "Ethics In Practice";
@cnx-string-concept-check: "Concept Check";
@cnx-string-exploring-business : "Exploring Business Careers";
@FIGURE_NAME: "Exhibit ";

/* -------------------------
 * Intro to Learning outcomes
 * ------------------------
 */
.learning-outcomes {
  .titlepage h3 {
    .titles-h3-style {

    }
  }
}


/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
.chapter .note {
  &.catching-spirit {
    .notes(@cnx-string-catching-spirit, @primary-color, @feature-style-3-body-color, catching-spirit);
  }
  &.managing-change {
    .notes(@cnx-string-managing-change, @primary-color, @feature-style-3-body-color, managing-change);
  }
  &.expanding-around-globe {
    .notes(@cnx-string-expanding-around-globe, @primary-color, @feature-style-3-body-color, expanding-around-globe);
  }
  &.customer-satisfaction {
    .notes(@cnx-string-customer-satisfaction, @primary-color, @feature-style-3-body-color, customer-satisfaction);
  }
  &.ethics-in-practice {
    .notes(@cnx-string-ethics-in-practice, @primary-color, @feature-style-3-body-color, ethics-in-practice);
  }
  &.concept-check {
    .notes(@cnx-string-concept-check, @secondary-color, @feature-style-2-body-color, exercises);
  }
  &.link-to-learning {
    .notes(@cnx-string-link-to-learning, @quinary-color, @feature-style-1-body-color, link-to-learning);
  }
  &.exploring-business-careers {
    .note-border-top(@cnx-string-exploring-business,@tertiary-color);
  }
}

/* -------------------------
 * Image Tables
 * ------------------------
 */

div.book>div.chapter {
  .table {
    max-width: @book-width;
    margin: auto;
  }
}
div.mediaobject>img,
span.inlinemediaobject>img {
  max-width: @book-width;
  width: 100%;
}

/* -------------------------
 * Exhibits
 * ------------------------
 */
 div.book {
   .foo-figure-counter(@prefixFn) {
     div.figure > div.title > span.cnx-gentext-t:not(.labeled)::before {
       content: "" @FIGURE_NAME @prefixFn counter(figure) " ";
     }
   }
   div.preface  {
    .foo-figure-counter("");
      div.figure > div.title {
        display: inline;
   }
 }
   div.chapter  { .foo-figure-counter(counter(chapter, decimal) "."); }
   div.appendix { .foo-figure-counter(counter(appendix, upper-alpha)); }
 }
// Hide Chapter Outline for SRM Business titles
div.chapter > div.introduction > div.toc {
  display: none;
}

/* -------------------------
 * EOC specific to SRM books
 * ------------------------
 */
.cnx-eoc {
  > .section {
    .hideEocSectionTitle();
    // > .title {
    //   display: none;
    // }
  }
}
