@import url('themes/business/theme.less');

/* -------------------------
* Intro to Business Overrides
* ------------------------
*/

@has-learning-outcomes: true;

@book-title: Introduction to Business;
@cnx-string-summary: "Summary of Learning Outcomes";
//Intro to Business features
@cnx-string-catching-spirit: "Catching the Entrepreneurial Spirit";
@cnx-string-managing-change: "Managing Change";
@cnx-string-expanding-around-globe: "Expanding Around The Globe";
@cnx-string-customer-satisfaction: "Customer Satisfaction and Quality";
@cnx-string-ethics-in-practice: "Ethics In Practice";
@cnx-string-concept-check: "Concept Check";
@cnx-string-exploring-business : "Exploring Business Careers";
@FIGURE_NAME: "Exhibit ";




/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
.chapter .note {
  &.catching-spirit {
    .notes(@cnx-string-catching-spirit, @white, @primary-color, @feature-style-3-body-color, catching-spirit);
  }
  &.managing-change {
    .notes(@cnx-string-managing-change, @white, @primary-color, @feature-style-3-body-color, managing-change);
  }
  &.expanding-around-globe {
    .notes(@cnx-string-expanding-around-globe, @white, @primary-color, @feature-style-3-body-color, expanding-around-globe);
  }
  &.customer-satisfaction {
    .notes(@cnx-string-customer-satisfaction, @white, @primary-color, @feature-style-3-body-color, customer-satisfaction);
  }
  &.ethics-in-practice {
    .notes(@cnx-string-ethics-in-practice, @white, @primary-color, @feature-style-3-body-color, ethics-in-practice);
  }
  &.concept-check {
    .notes(@cnx-string-concept-check, @white, @secondary-color, @feature-style-2-body-color, concept-check);
  }
  &.link-to-learning {
    .notes(@cnx-string-link-to-learning, @white, @quinary-color, @feature-style-1-body-color, link-to-learning);
  }
  &.exploring-business-careers {
    .note-border-top(@cnx-string-exploring-business, @tertiary-color);
  }
}

/* -------------------------
 * Image Tables
 * ------------------------
 */

div.book>div.chapter {
  .table {
    max-width: @book-width;
    margin: auto;
  }
}
div.mediaobject>img,
span.inlinemediaobject>img {
  max-width: @book-width;
}

/* -------------------------
 * Exhibits
 * ------------------------
 */
 div.book {
   .foo-figure-counter(@prefixFn) {
     div.figure > div.title > span.cnx-gentext-t:not(.labeled)::before {
       content: "" @FIGURE_NAME @prefixFn counter(figure) " ";
     }
   }
   div.preface  {
    .foo-figure-counter("");
      div.figure > div.title {
        display: inline;
   }
 }

  div.chapter > .introduction > .figure.splash div.caption {
   &::before {
      content: @FIGURE_NAME  counter(chapter, decimal) "." counter(figure) " ";
   }
  }
   div.chapter  { .foo-figure-counter(counter(chapter, decimal) "."); }
   div.appendix { .foo-figure-counter(counter(appendix, upper-alpha)); }

   a.xref.target-figure {
    content: @FIGURE_NAME target-counter(attr(href), chapter) "." target-counter(attr(href), figure);
   }
 }
// Hide Chapter Outline for SRM Business titles
div.chapter > div.introduction > div.toc {
  display: none;
}

//Table callout numbering
a.xref.target-table {
  content: "Table " target-counter(attr(href), chapter) "." target-counter(attr(href), table);
}

/* -------------------------
 * Business Table Styles
 * ------------------------
 */
div.table table caption {
  .font-scale(-1);
  &::before:not(.unnumbered) {
    .font-scale(-1);
  }
}

/* -------------------------
 * Figures/Subfigures
 * ------------------------
 */
.figure,
.preface .figure {
  > .title {
    .font-scale(-1);
  }

  .caption {
    .font-scale(-1);
  }
}

/* -------------------------
 * EOC specific to SRM books
 * ------------------------
 */

.handle-eoc-sections(".hot-links", @eoc-hotlinks-icon, @section-title: false);
.handle-eoc-sections(".prep-workplace", @eoc-assessment-icon, @section-title: false);
.handle-eoc-sections(".ethics-activity", @eoc-case-study-icon, @section-title: false);
.handle-eoc-sections(".working-net", @eoc-workingnet-icon, @section-title: false);

/* -------------------------
 * Answer Key
 * ------------------------
 */
 .end-of-book-solutions {
   display: none;
 }
