// Specific to mathematics texts
//  - End of chapter review exercises and practice tests
//    are two columns.
#part {
  #chapter-end {
    #review-exercises {
      .style(...) {
        .x-column-count(2);
      }
    }
    #practice-test {
      .style(...) {
        .x-column-count(2);
      }
    }
  }
}
#content {
  //  - Non-figure images are centered.
  .x-center-image() {
    display: block;
    margin: auto;
  }
  #image {
    .style(any; chapter) {
      .x-center-image();
    }
    .style(any; book-end; solutions) {
      .x-center-image();
    }
  }
//  - Figures render with captions similar to tables.
  #figure {
    .style(...) {
      display: table;
      caption-side: bottom;
      padding-bottom: 0;
      //#utils>#pb>.inside(auto);
    }
    .style(any; chapter-end; exercise) {
      display: table;
    }
    #body {
      .style(any; any) {
        min-width: 312px;
      }
    }
    #title {
      .figure-caption() {
        display: table-caption;
        text-align: left;
        #utils>#pb>.before(avoid);
      }
      .style(...) {
        .figure-caption();
        font-family: @font-family-serif;
      }
      
      .style(any; any; feature-qa) {
        .figure-caption();
      }
      .number() {
        content: "Figure " counter(chapter, decimal) "." counter(figure) " ";
        display: inline;
      }
      .number(...) {
       font-family: @font-family;  
      }
      .number(any; appendix) {
        content: "Figure " counter(appendix, upper-alpha) counter(figure);
      }
    }
  }
//  - Section exercises are two columns
  #section {
    .style(section-exercises; @part; ...) {
      .x-column-count(2);
    }
  }
}








