.chapter .note {
  &.clinical-focus {
    #content>#note>.style('clinical-focus'; any);
    >.title {
      #content>#note>#title>.style('clinical-focus'; any);
    }
  }
  &.clinical-focus-opener {
    #content>#note>.style('clinical-focus-opener'; any);
	>.title {
        #content>#note>#title>.style('clinical-focus-opener'; any);
      }
    }
  &.micro-connection {
    #content>#note>.style('micro-connection'; any);
    >.title {
      #content>#note>#title>.style('micro-connection'; any);
    }
  }
  &.disease-profile {
    #content>#note>.style('disease-profile'; any);
    >.title {
       #content>#note>#title>.style('disease-profile'; any);
    }
  }
  &.case-in-point {
    #content>#note>.style('case-in-point'; any);
    >.title {
       #content>#note>#title>.style('case-in-point'; any);
    }
  }
  &.eye-on-ethics {
    #content>#note>.style('eye-on-ethics'; any);
    >.title {
       #content>#note>#title>.style('eye-on-ethics'; any);
       &::before {
         content: url('./ccap-microbiology/sx-logo.png');
         width: 180px;
         display: block;
         padding-bottom: 10px;

       }
    }
  }
  &.check-your-understanding {
    #content>#note>.style('check-your-understanding'; any);
      >.title {
        .cnx-gentext-tip-t { display: none; }
        #content>#note>#title>.style('check-your-understanding'; any);
    }
  }
}

div.table table td .itemizedlist p,
div.table table td .orderedlist p {
  #content>#paragraph>.style(any; any; table);
}

.glossary > dl > dd > p {
  #content>#glossary-def>.style();
}

//end of chapter
.cnx-eoc {
  &.summary > .section:not(.empty) {
    #part>#chapter-end>#summary>#section>.style();
    ul > li > p {
      #content>#summary-point>.style();
    }
  }
  &.multiple-choice {
    #part>#chapter-end>#multiple-choice>.style();
    > .title {
      #part>#chapter-end>#multiple-choice>#title>.style();
    }
    > .section .title > a {
      #part>#chapter-end>#multiple-choice>#title>.link();
    }
    .exercise {
      #content>#multiple-choice>#exercise>.style();
    }
  }
  &.matching {
    #part>#chapter-end>#matching>.style();
    > .title {
      #part>#chapter-end>#matching>#title>.style();
    }
    > .section .title > a {
      #part>#chapter-end>#matching>#title>.link();
    }
    .exercise {
      #content>#matching>#exercise>.style();
    }
  }
  &.true-false {
    #part>#chapter-end>#true-false>.style();
    > .title { #part>#chapter-end>#true-false>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#true-false>#title>.link(); }
    .exercise {
      #content>#true-false>#exercise>.style();
    }
  }
  &.short-answer {
    #part>#chapter-end>#short-answer>.style();
    > .title { #part>#chapter-end>#short-answer>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#short-answer>#title>.link(); }
    .exercise {
      #content>#short-answer>#exercise>.style();
    }
  }
  &.fill-in-the-blank {
    #part>#chapter-end>#fill-in-the-blank>.style();
    > .title { #part>#chapter-end>#fill-in-the-blank>#title>.style(); }
    > .section .title > a { #part>#chapter-end>#fill-in-the-blank>#title>.link(); }
    .exercise {
      #content>#fill-in-the-blank>#exercise>.style();
    }
  }
  &.critical-thinking {
    .empty {
      page-break-after: auto;
      page-break-before: auto;
    }
    .title + .empty,
    .title + .empty + .empty  {
      page-break-before: avoid;
      page-break-after: avoid;
    }
    .exercise {
      #content>#critical-thinking>#exercise>.style();
    }
  }
}

//End of book
div.colophon.end-of-book-solutions > div.chapter-area {
  > div.multiple-choice {
    #part>#book-end>#end-of-book-solutions>#multiple-choice>.style();
  }
  > div.true-false {
    #part>#book-end>#end-of-book-solutions>#true-false>.style();
  }
  > div.matching {
    #part>#book-end>#end-of-book-solutions>#matching>.style();
  }
  > div.fill-in-the-blank {
    #part>#book-end>#end-of-book-solutions>#fill-in-the-blank>.style();
  }
  > div.short-answer {
    #part>#book-end>#end-of-book-solutions>#short-answer>.style();
  }
  > div.critical-thinking {
    #part>#book-end>#end-of-book-solutions>#critical-thinking>.style();
  }
}

div.appendix > div.column-container {
  #content>#section>.style("column-container");
   div.itemizedlist > ul.itemizedlist {
    #content>#list>.style("column-container");
     li {
      #content>#list>#item>.style("column-container");
    }
     p {
      #content>#list>#list-text>.style("column-container");
    }
  }
}
