@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');
@import url('themes/science-slots.less');
@import url('microbiology-slots.less');

// Color palette needed from precalculus
@white:         #FFF;
@black:         #000;

// Color palette needed from psychology
@shadow:        #888888;
@orange:        #E28F26;
@red:           #A63C1D;
@light-orange:  #EFD8B0;
@teal:          #3F989B;

// color palette needed from history
@light-blue:    #0067AC;

// Color palette for chemistry
@dark-blue:     #354DA1;
@medium-blue:   #7291CB;
@orange:        #F6862D;
@purple:        #944C8D;
@green:         #8FB73E;
@red:           #993720;
@light-red:     #BB4829;

//color for micro
@brown: #AD7B3C;
@xibrown: #8A642A;
@xiblue: #0C2D83;
@gold: #DCB227;

// Accent colors for chemistry
@dark-orange:   #E6661F;
@dark-purple:   #6D0059;
@dark-green:    #007339;
@example-blue:  #DDE2F2;

//accents for microbiology
@dark-brown: #8F5000;
@dark-gold: #BE7D00;

@font-family-serif: Liberation Serif, serif, @stix-fonts;
@font-family-sans-serif:  Liberation Sans, sans-serif, @stix-fonts;

@book-title: chemistry;

@page-width: 6.5in;

/* The QR code variable is needed for psychology skeleton but we are not using it since it's going away */

// Finished printed size of the QR code is dependent on: 1-distance between qr code and scanning device
// 2-size of dots in the code(amount of data inputed into the code, the smaller the dots become)
// For most smartphones the relationship between scan distance and minimum QR code size is approximately 10:1 so a 2.5cm (1 inch)
@qr: 1.25in;

// Images in Chemistry are 200DPI
html {
  prince-image-resolution: 200dpi;
  prince-background-image-resolution: 200dpi;
}

@table-border: none;

// Chemistry static strings
@cnx-string-how-sciences-interconnect: "How Sciences Interconnect";
@cnx-string-chemistry-in-everyday-life: "Chemistry in Everyday Life";
@cnx-string-portrait-of-a-chemist: "Portrait of a Chemist";
@cnx-string-link-to-learning: "Link to Learning"; // Used in psychology also - unchanged

// Chemistry End of chapter/book strings
@cnx-string-key-equations: "Key Equations";
@cnx-string-exercises: "Exercises";

// Static strings needed from Psychology
// @cnx-string-everyday-connection: "everyday connection";
// @cnx-string-dig-deeper: "dig deeper";
// @cnx-string-what-do-you-think: "what do you think?";
// @cnx-string-connect-the-concepts: "connect the concepts";

// End of chapter/book strings
@cnx-string-summary: "Summary";
@cnx-string-review-questions: "Review Questions";
@cnx-string-critical-thinking-questions: "Critical Thinking";
@cnx-string-personal-application-questions: "Personal Application Questions";


//Microbiology
@cnx-string-clinical-focus: "Clinical Focus";
@cnx-string-micro-connection: "Micro Connections";
@cnx-string-disease-profile: "Disease Profile";
@cnx-string-case-in-point: "Case in Point";
@cnx-string-eye-on-ethics: "Eye on Ethics";


#content {
  // Enable page breaking inside tables.
  #table {
    .style(...) {
      #utils>#pb>.inside(auto);
    }
  }
  //  - Non-figure images are centered.
  .x-center-image() {
    display: block;
    margin: auto;


  }
  #image {
    .style(any; chapter) {
      .x-center-image();
    }
    .style(any; book-end; solutions) {
      .x-center-image();
    }
  }
}

@import url('../ccap-numbering.less');
@import url('../ccap-precalculus-numbering.less');
@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');
@import url('themes/science-skeleton.less');
@import url('microbiology-skeleton.less');
// Ad-hoc numbering changes. Removes numbering for various pieces of content
// which use a .unnumbered class.
@import url('unnumbered-content.less');


@import url('folio.less');
