#content {
  #note {
   .style('clinical-focus'; any) {
     .x-feature-color(@dark-blue, @dark-blue, @white, @medium-blue, @cnx-string-clinical-focus);
   }
   .style('clinical-focus-opener'; any) {
     .x-feature-color(@dark-blue, @dark-blue, @white, @medium-blue, @cnx-string-clinical-focus);
     float: bottom;
     page-break-after: always;
     &:before {
      position: relative;
      top: -40px;
      padding: 10px 255px 10px 20px;
     }
   }
     .style('micro-connection'; any) {
     .x-feature-color(@dark-purple, @dark-purple, @white, @purple, @cnx-string-micro-connection);
   }
   .style('disease-profile'; any) {
     .x-feature-color(@dark-brown, @dark-brown, @white, @brown, @cnx-string-disease-profile);
   }
   .style('case-in-point'; any) {
     .x-feature-color(@dark-green, @dark-green, @white, @green, @cnx-string-case-in-point);
   }
   .style('eye-on-ethics'; any) {
     .x-feature-color(@dark-gold, @dark-gold, @white, @gold, @cnx-string-eye-on-ethics);
   }
   .style('check-your-understanding'; any) {

   }
   #title {
     .style('clinical-focus'; any) {
      color: @medium-blue;
     }
     .style('clinical-focus-opener'; any) {
      color: @medium-blue;
      margin-top: -20px;
     }
     .style('micro-connection'; any) {
      color: @purple;
     }
     .style('disease-profile'; any) {
      color: @brown;
     }
     .style('case-in-point'; any) {
      color: @green;
     }
     .style('eye-on-ethics'; any) {
      color: @gold;
     }
     .style('check-your-understanding'; any) {
      display: block;
      background: url('./ccap-microbiology/Check_Your_Understanding.png') no-repeat left top;
      background-size: 70%;
      height: 50px;
      width: 100%;
     }
   }
  }
  #table {
   .style(any; any) {
     border-collapse: collapse;
   }
   .style(matching; any) {
     border: none;
   }
   #head {
     .style(any; any) {
      border-top: none;
     }
   }
   #header {
     #title {
      .style(any; any) {
        border-left: 0;
        border-right: 0;
      }
     }
   }
   #row {
     .style(any; any){
      border-left: solid 1px @dark-blue;
      border-right: solid 1px @dark-blue;
     }
     .style(matching; any) {
      border: none !important;
     }
   }
   #data {
     .style(matching; any) {
      border: none;
     }
   }
   #body {
     .style(any; any) {
      border: none;
     }
   }
   #caption {
     .style(matching; any) {
      border: none;
     }
   }
  }
}
//chapter end

#part {
  #chapter-end {
   #summary {
     .style() {
      &:after {
        display: block;
        content: "Review Questions";
             color: @dark-blue;
             text-align: left;
             border-bottom-color: @orange;
             border-bottom-width: 1px;
             border-bottom-style: solid;
             font-size: 13pt;
             line-height: 17pt;
             font-weight: 700;
             margin-top: 0;
             #utils>#pb>.after(avoid);
             .x-header-spacing();
      }
     }
   }
   #multiple-choice {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: initial;
        border-bottom: 0;
        font-weight: bold;
        margin-bottom: 0;
      }
      .link() {
        display: none;
      }
     }
   }
   #matching {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: initial;
        border-bottom: 0;
        font-weight: bold;
        margin-bottom: 0;
      }
      .link() {
        display: none;
      }
     }
   }
   #true-false {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: initial;
        border-bottom: 0;
        font-weight: bold;
        margin-bottom: 0;
      }
      .link() {
        display: none;
      }
     }
   }
   #true-false {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: initial;
        border-bottom: 0;
        font-weight: bold;
        margin-bottom: 0;
      }
      .link() {
        display: none;
      }
     }
   }
   #short-answer {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: initial;
        border-bottom: 0;
        margin-bottom: 0;
        font-weight: bold;
      }
      .link() {
        display: none;
      }
     }
   }
   #critical-thinking {
     .style() {

     }
     #title {
      .style() {
        color: black;
        font-size: 13px;
        border-bottom: 0;
        margin-bottom: 0;
        font-weight: bold;
      }
      .link() {
        display: none;
      }
     }
   }
  }
}
