.chapter .note {
  &.clinical-focus {
    #content>#note>.style('clinical-focus'; any);
    >.title {
      #content>#note>#title>.style('clinical-focus'; any);
    }
  }
  &.clinical-focus-opener {
    #content>#note>.style('clinical-focus-opener'; any);
	>.title {
        #content>#note>#title>.style('clinical-focus-opener'; any);
      }
    }
  &.micro-connection {
    #content>#note>.style('micro-connection'; any);
    >.title {
      #content>#note>#title>.style('micro-connection'; any);
    }
  }
  &.disease-profile {
    #content>#note>.style('disease-profile'; any);
    >.title {
       #content>#note>#title>.style('disease-profile'; any);
    }
  }
  &.case-in-point {
    #content>#note>.style('case-in-point'; any);
    >.title {
       #content>#note>#title>.style('case-in-point'; any);
    }
  }
  &.eye-on-ethics {
    #content>#note>.style('eye-on-ethics'; any);
    >.title {
       #content>#note>#title>.style('eye-on-ethics'; any);
       &:before {
         content: url('./ccap-microbiology/logo.svg');
         height: 200px;
         display: block;
         padding-bottom: 10px;

       }
    }
  }
  &.check-your-understanding {
    #content>#note>.style('check-your-understanding'; any);
      >.title {
        .cnx-gentext-tip-t { display: none; }
        #content>#note>#title>.style('check-your-understanding'; any);
    }
  }
}

//end of chapter
.cnx-eoc {
  &.multiple-choice {
      #part>#chapter-end>#multiple-choice>.style();
      > .title {
        #part>#chapter-end>#multiple-choice>#title>.style();
      }
      > .section .title > a {
        #part>#chapter-end>#multiple-choice>#title>.link();
      }
  }
    &.matching {
      #part>#chapter-end>#matching>.style();
      > .title {
        #part>#chapter-end>#matching>#title>.style();
      }
      > .section .title > a {
        #part>#chapter-end>#matching>#title>.link();
      }
  }
    &.true-false {
      #part>#chapter-end>#true-false>.style();
      > .title { #part>#chapter-end>#true-false>#title>.style(); }
      > .section .title > a { #part>#chapter-end>#true-false>#title>.link(); }
  }
    &.short-answer {
      #part>#chapter-end>#short-answer>.style();
      > .title { #part>#chapter-end>#short-answer>#title>.style(); }
      > .section .title > a { #part>#chapter-end>#short-answer>#title>.link(); }
  }
      &.fill-in-the-blank {
      #part>#chapter-end>#fill-in-the-blank>.style();
      > .title { #part>#chapter-end>#fill-in-the-blank>#title>.style(); }
      > .section .title > a { #part>#chapter-end>#fill-in-the-blank>#title>.link(); }
  }
}
