#content {
	#note {
		.style('clinical-focus'; any) {
			.x-feature-color(@dark-blue, @dark-blue, @white, @medium-blue, @cnx-string-clinical-focus);
		}
	 	.style('micro-connection'; any) {
			.x-feature-color(@dark-purple, @dark-purple, @white, @purple, @cnx-string-micro-connection);
		}
		.style('disease-profile'; any) {
			.x-feature-color(@dark-brown, @dark-brown, @white, @brown, @cnx-string-disease-profile);
		}
		.style('case-in-point'; any) {
			.x-feature-color(@dark-green, @dark-green, @white, @green, @cnx-string-case-in-point);
		}
		.style('eye-on-ethics'; any) {
			.x-feature-color(@dark-gold, @dark-gold, @white, @gold, @cnx-string-eye-on-ethics);
		}
		.style('check-your-understanding'; any) {

		}
		#title {
			.style('clinical-focus'; any) {
				color: @medium-blue;
			}
			.style('micro-connection'; any) {
				color: @purple;
			}
			.style('disease-profile'; any) {
				color: @brown;
			}
			.style('case-in-point'; any) {
				color: @green;
			}
			.style('eye-on-ethics'; any) {
				color: @gold;
			}
			.style('check-your-understanding'; any) {
				display: block;
				background: url('./ccap-microbiology/Check_Your_Understanding.png') no-repeat left top;
				height: 50px;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
	#table {
		.style(any; any) {
			border-collapse: collapse;
		}
		#head {
			.style(any; any) {
				border-top: none;
			}
		}
		#header {
			#title {
				.style(any; any) {
					border-left: 0;
					border-right: 0;
				}
			}
		}
		#row {
			.style(any; any){
				border-left: solid 1px @dark-blue;
				border-right: solid 1px @dark-blue;
			}
		}
		#body {
			.style(any; any) {
				border: none;
			}
		}
	}
}

