//@kind:EOM,EOC,EOB;
//@part:exercises, key terms, key equations, key concepts, review exercise, Practice test, Answer Key, Index;
//.numbering(@kind; @part;);

//Preface
//chapter section
//eoc
//appendix
//eob



//EOM
.eom-numbering(@part;@counter;) {
   counter-increment: @counter;
    content: counter(@counter) ". ";

  
};

.section.section-exercises {
    counter-reset: exercise;
  }
  .section-exercises .exercise .title:before {
    .eom-numbering("exercise";exercise;);
  }
  
  
  //CHAPTER
  .book {
    counter-reset: chapter;
  }
  .chapter {
    counter-reset: section;
    counter-increment: chapter
  }
  div.chapter > div.section > div.titlepage h2:before {
    counter-increment: section;
    content: counter(chapter) "." counter(section) " ";
  }
  .chapter > .introduction > .toc {
    counter-reset: section;
    & a:before {
      counter-increment: section;
    content: counter(chapter) "." counter(section) " ";

    }
    }
  