@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');
@import url('themes/math-slots.less');
@import url('precalculus-slots.less');

@table-border: 1pt solid @black;

// The base CCAP books use sans fonts but the statistics book uses serif fonts.
//@font-family-serif: Liberation Serif, serif, @stix-fonts;

@font-family: 'Noto Sans', sans-serif, @stix-fonts;
@font-family-serif: 'Noto Serif', serif, @stix-fonts;

// Finished printed size of the QR code is dependent on: 1-distance between qr code and scanning device
// 2-size of dots in the code(amount of data inputed into the code, the smaller the dots become)
// For most smartphones the relationship between scan distance and minimum QR code size is approximately 10:1 so a 2.5cm (1 inch)
@qr: 1.25in;

// Images in Pre-Calculus are 150DPI
html {
  prince-image-resolution: 150dpi;
}


@import url('../ccap-numbering.less');
@import url('../ccap-precalculus-numbering.less');

@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');

@import url('themes/math-skeleton.less');
@import url('precalculus-skeleton.less');

@import url('folio.less');

/* -------------------------
 * Refactor this into folio-skeleton/folio-slots.
 * This *should* be the same for all titles, but
 * we're now deviating with our own designs.
 * -------------------------
 */
div.book div.chapter > div.titlepage > div > div h1.title {
  span.cnx-gentext-t {
    string-set: cnx-header "@{cnx-string-chapter} " counter(chapter, decimal)  "\0020\0020\0020" content();
  }
}
