@import url('themes/business/theme.less');

/* -------------------------
* Principles of Management Overrides
* ------------------------
*/

@has-learning-outcomes: true;

/* -------------------------
 * Principles of Management Strings
 * ------------------------
 */
@book-title: principles-management;
@cnx-string-summary: "Summary of Learning Outcomes";
@cnx-string-catching-spirit: "Catching the Entrepreneurial Spirit";
@cnx-string-ethics-in-practice: "Ethics In Practice";
@cnx-string-concept-check: "Concept Check";
@cnx-string-exploring-business : "Exploring Managerial Careers";
@cnx-string-customer-satisfaction: "Customer Satisfaction and Quality";
@cnx-string-sustainability-responsible: "Sustainability and Responsible Management";
@cnx-string-managerial-leadership: "Managerial Leadership";
@FIGURE_NAME: "Exhibit ";

/* -------------------------
 * Principles of Management Notes
 * ------------------------
 */
.chapter .note {
  &.catching-spirit {
    .notes(@cnx-string-catching-spirit, @white, @primary-color, @feature-style-3-body-color, catching-spirit);
  }
  &.ethics-in-practice {
    .notes(@cnx-string-ethics-in-practice, @white, @primary-color, @feature-style-3-body-color, ethics-in-practice);
  }
  &.concept-check {
    .notes(@cnx-string-concept-check, @white, @secondary-color, @feature-style-2-body-color, concept-check);
  }
  &.link-to-learning {
    .notes(@cnx-string-link-to-learning, @white, @quinary-color, @feature-style-1-body-color, link-to-learning);
  }
  &.exploring-manage-careers {
    .note-border-top(@cnx-string-exploring-business, @tertiary-color);
  }
  &.customer-satisfaction {
    .notes(@cnx-string-customer-satisfaction, @white, @primary-color, @feature-style-3-body-color, customer-satisfaction);
  }
  &.sustainability-responsible {
    .notes(@cnx-string-sustainability-responsible, @white, @primary-color, @feature-style-3-body-color, sustainability-responsible, @icon-top: -11.4px);
  }
  &.managerial-leadership {
    .notes(@cnx-string-managerial-leadership, @white, @primary-color, @feature-style-3-body-color, managerial-leadership);
  }
}

/* -------------------------
 * EOC specific to SRM books
 * ------------------------
 */
.cnx-eoc {
  > .section {
    .hideEocSectionTitle();
  }
}
.handle-eoc-sections(".chapter-review", @eoc-assessment-icon, @section-title: false);
.handle-eoc-sections(".manage-skills", @eoc-assessment-icon, @section-title: false);
.handle-eoc-sections(".manage-exercises", @eoc-assessment-icon, @section-title: false);

/* -------------------------
 * Exhibits
 * ------------------------
 */
 div.book {
   .foo-figure-counter(@prefixFn) {
     div.figure > div.title > span.cnx-gentext-t:not(.labeled)::before {
       content: "" @FIGURE_NAME @prefixFn counter(figure) " ";
     }
  }
   div.preface  {
    .foo-figure-counter("");
      div.figure > div.title {
      display: inline;
   }
 }
   div.chapter  { .foo-figure-counter(counter(chapter, decimal) "."); }
   div.appendix { .foo-figure-counter(counter(appendix, upper-alpha)); }
 }

 div.chapter > .introduction > .figure.splash div.caption {
   &::before {
      content: @FIGURE_NAME counter(chapter, decimal) "." counter(figure) " ";
   }
 }
/* Hide Chapter Outline for SRM Business titles */
div.chapter > div.introduction > div.toc {
  display: none;
}


/* -------------------------
 * Business Table Styles
 * ------------------------
 */
div.table table caption {
  .font-scale(-1);
  &::before:not(.unnumbered) {
    .font-scale(-1);
  }
}

/* -------------------------
 * Figures/Subfigures
 * ------------------------
 */
.figure,
.preface .figure {
  > .title {
    .font-scale(-1);
  }

  .caption {
    .font-scale(-1);
  }
}


/* -------------------------
 * Answer Key
 * ------------------------
 */
 .end-of-book-solutions {
   display: none;
 }


 /* -------------------------
  * EOB
  * ------------------------
  */
.densify-eob-references();
