@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');

@import url('themes/humanities-slots.less');
@import url('psychology-slots.less');

// A mixture of serif and sans-serif fonts.x
@font-family-sans-serif: Liberation Sans, sans-serif, @stix-fonts;
@font-family-serif: URW Palladio L, URWPalladioL, serif, @stix-fonts;

@book-title: psychology;

// color palette needed from precalculus
@medium-blue:   #528CBE;
@light-orange:  #EFD8B0;

// color palette for psychology
@orange:        #EEAD58;
@light-blue:    #007196;
@dark-blue:     #25408F;
@teal:          #3F989B;
@red:           #B8292F;
@shadow:        #888888;

@white:         #FFF;
@black:         #000;

// Fixed widths
@qr: 1.25in;
@figure-size-one: 225px;

@page-width: 6.5in;

@table-border: 1pt solid @orange;

// Static strings
@cnx-string-everyday-connection: "Everyday Connection";
@cnx-string-dig-deeper: "Dig Deeper";
@cnx-string-what-do-you-think: "What Do You Think?";
@cnx-string-connect-the-concepts: "Connect the Concepts";
@cnx-string-link-to-learning: "Link to Learning";
@cnx-string-summary: "Summary";
@cnx-string-review-questions: "Review Questions";
@cnx-string-critical-thinking-questions: "Critical Thinking Questions";
@cnx-string-personal-application-questions: "Personal Application Questions";

// Utilizing this selector outside skeleton.  Keeping as little CSS in skeleton
// going forward
.index {
 .title h2 { border: none; }
}



// Images in Psychology are 150DPI
html {
  prince-image-resolution: 150dpi;
}

@import url('../ccap-numbering.less');
@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');
//@import url('precalculus-skeleton.less');
//
@import url('themes/humanities-skeleton.less');
@import url('psychology-skeleton.less');
@import url('mathml-svg.less');

// overwriting  .cnx-indentation-base() mixin in base - this needs to be also applied to precalculus later on
.cnx-eoc p {
   margin-bottom: 0;
 }
.chapter .table {
  page-break-inside: auto;
}

@import url('folio.less');

div.book {
  > div.chapter, 
  > div.chapter > div.section > div.section > div.table, 
  > div.chapter > div.section > div.section > div.section > div.table, 
  > div.chapter > div.section > div.table {
    &::after {
      content: "" "Table " counter(chapter, decimal) "." counter(table) " " "";
      font-weight: bold;
      font-size: 13px;
      line-height: 17px;
      color: #B8292F;
      font-family: Liberation Sans, sans-serif, STIXGeneral, STIXSizeOneSym, STIXSize1;
      margin: auto;
    }
    > table > caption {
      border-style: none;
      &::before {
        content: none !important;
      }
    }
  }
}