.x-feature-before-color(@title-color, @title) {
  text-transform: uppercase;
  color: @title-color;
  content: @title;
}
.x-feature-color(@border-color, @title-border-color, @title-color, @background-color, @title) {
  box-shadow: 10px 10px 5px @shadow; // On the roadmap for PrinceXML 9.1
  border: 1px solid @border-color;
  border-radius: 15px;
  
  margin-top: 48px; // Clear the title ::before.
  &::before {
    .x-feature-before-color(@title-color, @title);
    background-color: @background-color;
    border: 1px solid @title-border-color;
    border-radius: 15px;
    width: 60%;

    // Reposition the titles
    position: absolute;
    margin-top: -48px;
    margin-left: -5px;
    padding: 8px;
    padding-left: 0px;

    // Text styles
    font-weight: 700;
    font-size: 12pt;
    text-indent: 0.1875in;
  }
}

#part {
  #chapter {
    #title {
      .style(...) {
        color: @red;
        border-bottom-color: @orange;
      }
      .text(...) {
        color: @black;
        border-top-color: @orange;
      }
      .number(...) {
        color: @red;
      }
    }
  }

 // End-of-chapter parts
  #chapter-end {
    #summary {
      .style() {}

      .title() {
        content: @cnx-string-summary; 
        padding-bottom: 0;
        margin-bottom: 1em;
      }
    }
    #review-questions {
      .style(...) {
        .x-column-count(2); 
      }
      #title {
        .style(...) {
          content: @cnx-string-review-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
    #critical-thinking {
      .style(...) {
        .x-column-count(1); 
      }
      #title {
        .style(...) {
          content: @cnx-string-critical-thinking-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
    #personal-application {
      .style(...) {
        .x-column-count(1);
      }
      #title {
        .style(...) {
          content: @cnx-string-personal-application-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
  }

  // End of Book Customizations
  #book-end {
    #end-of-book-solutions {
      .style(...) {
        column-count: 2;
      }
      #title {
        .style(...) {
          column-span: all;
        }
      }
    }
    #end-of-book-references {
      .style() {
        margin: 1em 0;
      }
    }
    #index {
      .style() {
        h3 { margin: 1em 0em 0em; }
      }

      .title() {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        column-span: all;
        margin-bottom: 1em;
      }
    }
  }
}

#content {
  #note {
    .style(...) {
      padding: 20px;
      background-color: @white;
    }
    .style(everyday-connection; ...) {
      .x-feature-color(@dark-blue, @dark-blue, @dark-blue, @orange, @cnx-string-everyday-connection);
    }
    .style(dig-deeper; ...) {
      .x-feature-color(@dark-blue, @orange, @orange, @dark-blue, @cnx-string-dig-deeper);
    }
    .style(what-do-you-think; ...) {
      .x-feature-color(@dark-blue, @dark-blue, @white, @teal, @cnx-string-what-do-you-think);
    }
    .style(connect-the-concepts; ...) {
      // This feature is a little more complex, requiring
      // some "hacky" bugfix type things to work. Some 
      // selectors are placed inline in this slot.

      .x-feature-color(@light-blue, transparent, @light-blue, transparent, @cnx-string-connect-the-concepts);

      // Padding has to be applied inside this element in order to
      // do the header/title styling.
      padding: 0px;
      p {
        padding: 0 20px;
        &:last-of-type {
          padding-bottom: 10px;
        }
      }
      // paragraph titles
      > .title {
        padding-bottom: 0;

        span.cnx-gentext-tip-t {
          padding: 5px 20px 0;
          display: block;
        }
      }

      // Create the header/title
      &::before, > .title::before {
        width: 100%;
        text-align: center;
        display: inline-block;
      }
      &::before {
        border-bottom: 1px solid @light-blue;
        border-radius: 0px;
        padding: 0px;
        margin-left: -1px;
        margin-top: 10px;
        position: relative;
      }
      > .title::before {
        .x-feature-before-color(@light-blue, @cnx-string-connect-the-concepts);
        text-indent: 19px; // Fix a text-offset bug
      }
    }
    .style(link-to-learning; ...) {
      // This feature requires some "bugfix" pieces to work
      // properly, such as a clearfix. Selectors for these are
      // placed inline in this slot.
      .x-feature-color(@red, @orange, @white, @red, @cnx-string-link-to-learning);
      #utils>#pb>.inside(avoid);

      //clearfix
      > .body::after {
        content: "";
        display: table;
        clear: both;  
      }
      .mediaobject {
        float: left;
        width: @qr;
        img {
          margin: 0;
          width: @qr;
          height: @qr;
        }
      }
    }
    #title {
      .style(...) {
        padding: 0;
        margin: 0;
      }
    }
  }
}
