#part {
  #chapter {
    #title {
      .style(...) {
        color: @red;
        border-bottom-color: @orange;
      }
      .text(...) {
        color: @black;
        border-top-color: @orange;
      }
      .number(...) {
        color: @red;
      }
    }
  }

 // End-of-chapter parts
  #chapter-end {
    #summary {
      .style() {}

      .title() {
        content: @cnx-string-summary; 
        padding-bottom: 0;
        margin-bottom: 1em;
      }
    }
    #review-questions {
      .style(...) {
        .x-column-count(2); 
      }
      #title {
        .style(...) {
          content: @cnx-string-review-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
    #critical-thinking {
      .style(...) {
        .x-column-count(1); 
      }
      #title {
        .style(...) {
          content: @cnx-string-critical-thinking-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
    #personal-application {
      .style(...) {
        .x-column-count(1);
      }
      #title {
        .style(...) {
          content: @cnx-string-personal-application-questions;
          column-span: all !important; // added override to resolve bug on staging where titles
          margin-top: 2em;             // are spanning single column. cannot replicate locally or on naginat
          margin-bottom: 1em;
        }
      }
    }
  }

  // End of Book Customizations
  #book-end {
    #end-of-book-solutions {
      .style(...) {
        column-count: 2;
      }
      #title {
        .style(...) {
          column-span: all;
        }
      }
    }
    #end-of-book-references {
      .style() {
        margin: 1em 0;
      }
    }
    #index {
      .style() {
        h3 { margin: 1em 0em 0em; }
      }

      .title() {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        column-span: all;
        margin-bottom: 1em;
      }
    }
  }
}
#content {
  #solution {
    .style(...) {}

    .style(@kind; book-end) {
      display: inline;
      padding: 0;
    }
    #title {
      .style(...) {}

      .style(@kind; book-end) {
        display: inline;
        padding: 0;

        &::before { 
          // We must blow up "TARGET-EXERCISE" text coming from ::before
          // in numbering.less This is the major culprit in inline-solutions bug.
          content: " "; 
          display: inline;
          padding: 0;
        }
        &::after {
          // We need period after numbering
          content: ".";
          margin-right: .15em;
        }
      }

      .link(...) {}
    }
    #body {
      .style(...) {}

      .style(@kind; book-end) {
        //border: 1px solid green;
        display: inline;
        margin-right: .15em;
      }
    }
  }
}

