@import url('themes/business-theme.less');
/* -------------------------
 * SRM Business Strings
 * ------------------------
 */
@book-title: srm-business;
@cnx-string-summary: "Summary of Learning Outcomes";
@cnx-string-catching-spirit: "Catching the Entrepreneurial Spirit";
@cnx-string-managing-change: "Managing Change";
@cnx-string-expanding-around-globe: "Expanding Around The Globe?";
@cnx-string-customer-satisfaction: "Customer Satisfaction";
@cnx-string-ethics-in-practice: "Ethics In Practice";
@cnx-string-concept-check: "Concept Check";
/* -------------------------
 * SRM Business Notes
 * ------------------------
 */
.chapter .note {
  &.catching-spirit {
    .notes(@cnx-string-catching-spirit, @primary-color, @feature-style-3-body-color, link-to-learning);
  }
  &.managing-change {
    .notes(@cnx-string-managing-change, @primary-color, @feature-style-3-body-color, link-to-learning);
  }
    &.expanding-around-globe {
    .notes(@cnx-string-expanding-around-globe, @primary-color, @feature-style-3-body-color, link-to-learning);
  }
    &.customer-satisfaction {
    .notes(@cnx-string-customer-satisfaction, @primary-color, @feature-style-3-body-color, link-to-learning);
  }
    &.ethics-in-practice {
    .notes(@cnx-string-ethics-in-practice, @primary-color, @feature-style-3-body-color, link-to-learning);
  }
    &.concept-check {
    .notes(@cnx-string-concept-check, @secondary-color, @feature-style-2-body-color, link-to-learning);
  }
}
//refactor me
//convert into a mixin?
.note.exploring-business-careers {
  box-sizing: border-box;
  display: table;
  position: relative;
  border: solid 1px @notes-border-color;
  //override generic note corners
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 18px;
  .title {
    border-top: 5px solid #D34F32;
    border-left: solid 1px @notes-border-color;
    border-right: solid 1px @notes-border-color;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 18px;
    .font-scale(1);
    font-family: @font-family-titles;
    letter-spacing: 4px;
    text-transform: uppercase;
    #utils>#pb>.after(avoid);
    display: table-caption;
  }
}
/* -------------------------
 * Image Tables
 * ------------------------
 */
div.book>div.chapter {
  .table {
    max-width: @book-width;
    margin: auto;
  }
}
div.mediaobject>img,
span.inlinemediaobject>img {
  max-width: @book-width;
  width: 100%;
}
/* -------------------------
 * Exhibits
 * ------------------------
 */
div.book div.figure > div.title > span.cnx-gentext-t:not(.labeled)::before {
      content: "" "Exhibit " counter(chapter, decimal) "." counter(figure) " " "" !important; //using !important to override 'Figure'. !Important assures that all exhibits throughout the SRM books will be labled properly as 'Exhibit' and not as 'Figure'. Adding div.chaper to the selector can avoid using !important, but only exhibits in chapters will be labled as 'exhibit', and any outside of the chapter will be labled as 'figure'.
}
