@import url('themes/business-theme.less');


@book-title: srm-business;


//Six Red Marbles books features
@cnx-string-: "Catching the Entrepreneurial Spirit";
@cnx-string-: "Ethics in Practice";
@cnx-string-: "Managing Globally";
@cnx-string-: "Ethics Across Time and Cultures";
@cnx-string-: "Managerial Leadership";
@cnx-string-: "Sustainability and Responsible Management";
@cnx-string-: "Technology and Innovation";
@cnx-string-: "Challenges for the New Manager";



/* -------------------------
 * Entrepreneurship Notes
 * ------------------------
 */

.chapter .note {
  // &.entrepreneur-in-action {
  //   .notes(@cnx-string-entrepreneur-in-action, @secondary-color, #e6eaef, link-to-learning);
  // }
}



/* -------------------------
 * Image Tables 
 * ------------------------
 */

div.book>div.chapter {
  .table {
    max-width: 6in;
    margin: auto;
  }
}

div.mediaobject>img,
span.inlinemediaobject>img {
  max-width: 6in;
  width: 100%;
}
