@import url('themes/business-theme.less');

// @book-title: srm-business;
@book-title: Introduction to Business;


//Intro to Business features
@cnx-string-catching-spirit: "Catching the Entrepreneurial Spirit";
@cnx-string-managing-change: "Managing Change";
@cnx-string-expanding-around-globe: "Expanding Around The Globe?";
@cnx-string-customer-satisfaction: "Customer Satisfaction";
@cnx-string-ethics-in-practice: "Ethics In Practice";
@cnx-string-concept-check: "Concept Check";

/* -------------------------
 * Units
 * ------------------------
 */

 /*
.book > .toc {
  .toc-section {

  }
}

*/
/* -------------------------
 * Intro to Business Notes
 * ------------------------
 */
.chapter .note {

  &.catching-spirit {
    .notes(@cnx-string-catching-spirit, @primary-color, @feature-content-based-bg-color, link-to-learning);
  }
  &.managing-change {
    .notes(@cnx-string-managing-change, @primary-color, @feature-content-based-bg-color, link-to-learning);
  }
    &.expanding-around-globe {
    .notes(@cnx-string-expanding-around-globe, @primary-color, @feature-content-based-bg-color, link-to-learning);
  }
    &.customer-satisfaction {
    .notes(@cnx-string-customer-satisfaction, @primary-color, @feature-content-based-bg-color, link-to-learning);
  }
    &.ethics-in-practice {
    .notes(@cnx-string-ethics-in-practice, @primary-color, @feature-content-based-bg-color, link-to-learning);
  }
    &.concept-check {
    .notes(@cnx-string-concept-check, @secondary-color, @feature-do-it-bg-color, link-to-learning);
  }


  >div.body.body {
    padding: 5px 13px 15px;
    font-size: 1.275em;
    color: @secondary-color;
  }
}




/* -------------------------
 * Image Tables 
 * ------------------------
 */

div.book>div.chapter {
  .table {
    max-width: 6in;
    margin: auto;
  }
}

div.mediaobject>img,
span.inlinemediaobject>img {
  max-width: 6in;
  width: 100%;
}
