@import url('../ccap-tables.less');
@import url('utils.less');
@import url('page-slots.less');
@import url('ccap-base-slots.less');
@import url('content-slots.less');
//@import url('precalculus-slots.less');
@import url('themes/math-slots.less');
@import url('uni-physics-slots.less');
//@import url('math-slots.less');

// color palette for pre-calculus
@dark-blue:     #233A67;
@medium-blue:   #528CBE;
@light-blue:    #DBE8F2;
@light-green:   #D3ECED;
@light-orange:  #EFD8B0;
@orange:        #D7562C;
@soft-orange:   #F1DDB6;

@white:       #FFF;
@black:       #000;

@table-border: 1pt solid @black;
@page-width: 6.5in;

@font-family-serif: Liberation Serif, serif, @stix-fonts;


// Images in Calculus are 150DPI
html {
  prince-image-resolution: 150dpi;
}


@import url('../ccap-numbering.less');
@import url('../ccap-precalculus-numbering.less');

@import url('page-skeleton.less');
@import url('ccap-base-skeleton.less');
@import url('content-skeleton.less');
//@import url('precalculus-skeleton.less');
@import url('themes/math-skeleton.less');
@import url('uni-physics-skeleton.less');

//@import url('math-skeleton.less');

@import url('folio.less');
