@cnx-string-preface: "Preface";
@cnx-string-chapter: "Chapter";
@cnx-string-appendix: "Appendix";
@cnx-string-introduction: "Introduction";
@cnx-string-chapter-outline: "Chapter Outline";
@cnx-string-learning-objectives: "Learning Objectives";
@cnx-string-key-equations: "Key Equations";

//Variables for University Physics
@cnx-string-key-concepts: "Summary";
@cnx-string-check-understanding: "Check Your Understanding";
@cnx-string-review-conceptual-questions: "Conceptual Questions";
@cnx-string-review-problems: "Problems";
@cnx-string-review-challenge: "Challenge";

.x-solutions-subheading-style() {
  margin-top: 7.5px;
  color: @medium-blue;
  text-transform: uppercase;
}

#part {
  #chapter-end {
    #title {
      .style(...) {
        margin-bottom: 0px;
      }
      .style('chapter-review'; chapter) {
        padding-top: 9px;
        -webkit-column-span: all;
        column-span: all;
      }
      .style('chapter-review'; chapter; title) {
        padding: 0px;
      }
      .style('chapter-review'; chapter; section; title) {
        padding-top: 9px;
        padding-bottom: 4px;
        text-transform: none;
      }
    }
  }
  #book-end {
    #end-of-book-solutions {
      #title {
        .style(check-understanding) {
          .x-solutions-subheading-style();
          content: @cnx-string-check-understanding;
        }
        .style(review-conceptual-questions) {
          .x-solutions-subheading-style();
          content: @cnx-string-review-conceptual-questions;
        }
        .style(review-problems) {
          .x-solutions-subheading-style();
          content: @cnx-string-review-problems;
        }
        .style(review-challenge) {
          .x-solutions-subheading-style();
          content: @cnx-string-review-challenge;
        }
      }
    }
  }
}
#content {
  #note {
    .style(equation-callout) {
      #content>#note>.style(problem-solving);
      padding-top: 13px;
    }
    .style(check-understanding; ...) {
      #content>#note>.style(checkpoint);
    }
    #title {
      .style(@kind; @part; equation-callout) {
        display: none;
      }
    }
  }
  #table {
    .style(any; any) {
      border: none;
    }
    #header {
      .style(any; any) {
        border-right: none;
        border-bottom-width: 2px;
        padding: 4px 13px;
      }
    }
    #data {
      .style(any; any) {
        border: none;
        padding: 4px 13px;
      }
    }
  }
}