// This file contains ad-hoc changes to numbering which
// disable numbering for various content which use a
// .unnumbered class.

/* -------------------------
 * Equations
 * -------------------------
 */
div.book div.chapter > div.section div.equation.unnumbered,
div.book div.chapter > div.section div.equation:not(.labeled).unnumbered,
div.book div.chapter > div.section div.example div.exercise div.equation.unnumbered,
div.book div.chapter > div.section div.example div.exercise div.equation:not(.labeled).unnumbered {
  counter-increment: none !important;
}
div.book div.chapter > div.section div.equation.unnumbered > *:last-child::after,
div.book div.chapter > div.section div.equation.unnumbered > *:last-child::before {
  display: none !important;
}

/* -------------------------
 * Tables
 * -------------------------
 */
div.book div.chapter .table.unnumbered,
div.book div.chapter .table:not(labeled).unnumbered {
  counter-increment: none !important;
}
div.book div.chapter div.table:not(.labeled).unnumbered > table > caption:not(.labeled)::before,
div.book div.appendix div.table:not(.labeled).unnumbered > table > caption:not(.labeled)::before {
  display: none !important;
}
