#utils {

  @import url('utils-pb.less');

  .page-float(@float: bottom) { float: @float; }

  .column-count(@num: 2) {
    -webkit-column-count: @num; // Supported by webkit
    -moz-column-count: @num;    // Supported by Firefox
    column-count: @num;         // Not supported (but should be)
    columns: @num;              // Supported by PrinceXML
    column-fill: auto;          // Fill up the left column 1st, dont balance
    column-gap: 24px;           // .25inches at 96 PPI
  }

}

.x-page-float(@float: bottom) { #utils>.page-float(@float); }
.x-column-count(@num: 2) { #utils>.column-count(@num); }

// Define variables
@stix-fonts: STIXGeneral, STIXSizeOneSym, STIXSize1;
@font-family: Liberation Sans, sans-serif, @stix-fonts;
