#utils {

  @import url('utils-pb.less');

  .page-float(@float: bottom) { float: @float; }

  .column-count(@num: 2) {
    -webkit-column-count: @num; // Supported by webkit
    column-count: @num;         // Not supported (but should be)
    columns: @num;              // Supported by PrinceXML
    column-fill: auto;          // Fill up the left column 1st, dont balance
  }

}
