@import url('notes.less');
@import url('titles.less');
.folio-typography() {
  font-family: @font-family-serif;
  color: @folio-color;
  font-size: 10px;
}
.folio-chapter-header() {
  background-color: transparent;
  color: @folio-chapter-header-color;
  font-weight: bold;
}
.line-height() {
  line-height: 1.6em;
}



//EOC exercises custom numbering
.eocCustomCounters (@identifier) {
  .exercise {
   //counter-increment: @counterName !important;
    div.body > div.problem::before {
      content: "" @identifier "" counter(chapter, decimal) "-" counter(exercise) "" !important;
     }
    }
  }
.side-border() {
  border-left: 2px solid rgba(red(@light-green), green(@light-green), blue(@light-green), .3);
}
.material-set-2() {
  width: 48%;
  min-width: initial;
}
.material-set-2-numbered() {
  width: 48%;
}
.material-set-3() {
  width: 31%;
  min-width: initial;
}
.material-set-4() {
  width: 29%;
  min-width: initial;
}
.x-list-indent() {
  margin: 0 0 0 40px;
  padding: 0;
}
.x-inline-blocks() {
  box-sizing: border-box;
  display: inline-block;
  .scale-padding(2, padding-right);
}
.folio-chapter-header() {
  background-color: @dark-blue;
  color: @light-blue;
}
.folio-chapter-header-reset() {
  content: " "; /*Page area must have content to receive layout.*/
}
.primary-header() {
}
.secondary-header-toc() {
  .font-scale(1);
  font-weight: bold;
}

.x-center-image() {
  display: block;
  margin: auto;
  max-width: 6.5in;
}

.figure-caption() {
  display: table-caption;
  text-align: left;
  #utils>#pb>.before(avoid);
}
.caption-style () {
  color: @caption-color;
  .font-scale(-1);
  text-align: center;
  // font-size: 10px;
  display: table-caption;
  text-align: left;
  page-break-before: avoid;
  font-family: @font-family;
  // font-weight: bold;
  caption-side: bottom;
}
.caption-number-style() {
    //#content>#table>#caption>.number(any; any);
    font-family: @font-family;
    border: none;
    padding-top: .5em;
    padding-left: 0px;
    padding-bottom: 1em;
    .scale-padding(-5, margin-right);
    caption-side: bottom;
    .font-scale(-1);
    line-height: 17px;
    font-weight: 700;
    color: @caption-number-color;
}
.link-style (@link-color) {
  color: @link-color;
  text-decoration: none;
  border-bottom: @link-color solid 0.02em;
  padding-bottom: 0.1em;
}
.link-no-border-style (@link-color) {
  color: @link-color;
  text-decoration: none;
}

.toc-unit-styles() {
  .font-scale(2);
  background-size: 15px;
  font-weight: bold;
  color: @toc-chapter-link-color;
  font-family: @font-family-titles;
}
.toc-square-number-styles() {
  display: inline-block;
  color: @toc-number-color;
  border: 1px solid @toc-number-border-color;
  .font-scale(0);
  padding: 0;
  margin-top: -2px;
  .scale-padding(1, margin-left);
  .scale-padding(1, margin-right);
  font-weight: 700;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  float: left;
}

// .toc-chapter::before when (@has-units = true) {
//   .toc-square-number-styles();
//   margin-left: -36.4px;
//   }

// .toc-chapter&:nth-child(2n) when (@has-units = false) {
//   margin-left: -12.1px;
//   }

.table-header-style() {
  background-color: @first-th-bg-color;
  color: @first-th-color;
  font-weight: bold;
  font-size: 9pt;
}

.table-2d-header-style() {
  background-color: @2d-th-bg-color;
  color: @2d-th-color;
}
.footnotes() {
  border-top: none;
  padding-top: 1.333em;
  background-image: @footnote-bg-color;
  background-position: left top;
  background-size: 65px 1px;
  background-repeat: no-repeat;
}
