@import url('notes.less');
@import url('titles.less');

/* ------------------------
 * Conditionals
 * -----------------------
 */
 .learning-outcomes {
   .titlepage>div>div {
     h1,h2,h3,h4,h5 {
       & when (@has-learning-outcomes = true) {
         .titles-h3-style ()
       }
     }
   }
 }

.folio-typography() {
  font-family: @font-family-serif;
  color: @folio-color;
  font-size: 10px; //cannot acheive with font-scale
}
.folio-chapter-header() {
  background-color: transparent;
  color: @folio-chapter-header-color;
  font-weight: bold;
}
.standard-line-height() {
  line-height: 1.6em;
}
//EOC exercises custom numbering
.eocCustomCounters(@identifier) {
  .exercise {
   //counter-increment: @counterName !important;
    div.body > div.problem::before {
      content: "" @identifier "" counter(exercise) "." !important;
     }
    }
  }
.side-border() {
  border-left: 2px solid rgba(red(@light-green), green(@light-green), blue(@light-green), .3);
}
.material-set-2() {
  width: 48%;
  min-width: initial;
}
.material-set-2-numbered() {
  width: 48%;
}
.material-set-3() {
  width: 31%;
  min-width: initial;
}
.material-set-4() {
  width: 29%;
  min-width: initial;
}
.x-list-indent() {
  // margin: 0 0 0 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  .scale-padding(7, margin-left); //40.5px
  padding: 0;
}
.x-inline-blocks() {
  box-sizing: border-box;
  display: inline-block;
  .scale-padding(2, padding-right);
}
.folio-chapter-header() {
  background-color: @dark-blue;
  color: @light-blue;
}
.folio-chapter-header-reset() {
  content: " "; /*Page area must have content to receive layout.*/
}

.secondary-header-toc() {
  .font-scale(1);
  font-weight: bold;
}

.x-center-image() {
  display: block;
  margin: auto;
  max-width: 6.5in;
}

.figure-caption() {
  display: table-caption;
  text-align: left;
  #utils>#pb>.before(avoid);
}
.caption-style () {
  color: @caption-color;
  .font-scale(0);
  text-align: center;
  display: table-caption;
  text-align: left;
  page-break-before: avoid;
  font-family: @font-family;
  caption-side: bottom;
  .standard-line-height();
}
.caption-number-style() {
    //#content>#table>#caption>.number(any; any);
    font-family: @font-family;
    border: none;
    // padding-top: .5em; //4.615px computed value
    .scale-padding(-6, padding-top);
    padding-left: 0px;
    // padding-bottom: 1em; //9.231px computed value
    .scale-padding(-1, padding-bottom);
    .scale-padding(-5, margin-right);
    caption-side: bottom;
    .font-scale(0);
    font-weight: 700;
    color: @caption-number-color;
}
.link-style (@link-color) { //tester
  color: @link-color;
  text-decoration: none;
  border-bottom: @link-color solid 0.02em;
  .scale-padding(-14, padding-bottom);
}
.link-no-border-style (@link-color) {
  color: @link-color;
  text-decoration: none;
}

.toc-unit-styles() {
  .font-scale(2);
  background-size: 15px;
  font-weight: bold;
  color: @toc-chapter-link-color;
  font-family: @font-family-titles;
}
.toc-square-number-styles() {
  display: inline-block;
  color: @toc-number-color;
  border: 1px solid @toc-number-border-color;
  .font-scale(0);
  padding: 0;
  margin-top: -2px;
  margin-right: 10.6px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  float: left;
}

.table-header-style() {
  background-color: @first-th-bg-color;
  color: @first-th-color;
  font-weight: bold;
  // font-size: 9pt;
  .font-scale(0);
}

.table-2d-header-style() {
  background-color: @2d-th-bg-color;
  color: @2d-th-color;
}

.table-white-header-style() {
  background-color: @white;
  .font-scale(0);
  font-weight: bold;
  color: @first-th-color;
}
.footnotes() {
  border-top: none;
  // padding-top: 1.333em; //1.59 computed value
  .scale-padding(-12, padding-top);
  background-image: @footnote-bg-color;
  background-position: left top;
  background-size: 65px 1px;
  background-repeat: no-repeat;
}

.handle-eoc-sections(@class, @eoc-icon: false, @section-title: true, @custom-counter: false, @hide-eoc-section: false, @subtitle: false) {
  @classname: ~"@{class}";  // takes a string value and rms the quotation marks
  .cnx-eoc {
    &@{classname} {
        > .title {
          & when (isurl(@eoc-icon)) { //true if input is a url
            .titles-h2-style-icon(@svg-icon: @eoc-icon);
          }
          .titles-h2-style();
        }
        > .section > .title {
          & when (@section-title = false) {
            display: none;
          }
        }
        > .section > .body > .section > .titlepage {
          & when (@subtitle = true) {
            display: block;
          }
        }
      & when (isstring(@custom-counter)) { //true if input is string
          .eocCustomCounters(@custom-counter);
      }
      & when (@hide-eoc-section = true) {
        display: none;
      }
    }
  }
}

.handle-answer-key(@class, @counter-prefix: false, @assessment-section-title: false) {
  @classname: ~"@{class}";
  .end-of-book-solutions > .chapter-area > @{classname} {
    .scale-padding(0, margin-bottom);
    & when (isstring(@assessment-section-title)) {
      &::before {
        content: @assessment-section-title;
        .titles-h4-style();
      }
    }
    & when (isstring( @counter-prefix)) {
      .solution {
        .scale-padding(-8, margin-top);
        &::before {
        content: @counter-prefix;
        font-weight: bold;
        }
      }
    }
  }
}

.densify-eob-references() {
  .end-of-book-references > .chapter-area > .body > .section-area > .body {
    > .note.reference {
      margin: 0;
      .body {
        &::before {
          font-weight: bold;
        }
      .scale-padding(-4, margin-right);
       }
      .title, .body {
        display: inline;
          p {
           display: inline;
         }
       }
     }
   }
}
