
/* ==========================================================
/* Quick reference for using .font-scale();                 */
/* ==========================================================

See typography.less for details on calulation.

The below are values to retrieve commonly used font sizes using .font-scale() mixin.


@base-font: 12px; |   Size in px      |   Size in pt (for PDF)
  .font-scale(-1) :   9.23076923px;   |   7pt
  .font-scale(0)  :   12px;           |   9pt
  .font-scale(1)  :   15.6px;         |   11.75pt
  .font-scale(2)  :   18px;           |   13.5pt
  .font-scale(3)  :   20.28px;        |   15.25pt



=========================================================== */


@page-width: 6.5in;
@full-bleed-width: 8.75in;
@blank: ""; // For prince-text-replace in removing text.
@base-font-size: 12px;
@font-family-serif: 'Dosis',
sans-serif,
@stix-fonts;
@font-family: 'Noto Sans', sans-serif;
@font-family-titles: 'Roboto Condensed';
@book-width: 6in;
//Strings
@cnx-string-link-to-learning: "Link to Learning";
@cnx-string-exercises: "Exercises";
// End of chapter/book strings
@cnx-string-key-terms: "Key Terms";
@cnx-string-summary: "Summary";
@cnx-string-review-questions: "Review Questions";
@cnx-string-chapter: "Chapter";
@cnx-string-introduction: "Introduction";
@cnx-string-chapter-outline: "Chapter Outline";
@cnx-string-learning-objectives: "Learning Objectives";


//Figures
// Updated points width for PreCalculus assets @150 dpi
@figure-width-medium: 351pt; // Width of 3/4 size art
@figure-width-small: 234pt; // Width of 1/2 size art
