/******************************************************************************
 * Tables
 ******************************************************************************/

div.table {
  // First, reset div.table so it just goes away. Apply styling to the actual
  // table element.
  margin: 0 auto;
  padding: 0;
  border: none;
  table {
    #content>#table>.style(any; any);
    caption {
      #content>#table>#caption>.style(any; any);
      &::before {
        #content>#table>#caption>.number(any; any);
      }
    }
  .cnx-figure-horizontal .informalfigure .caption {
    text-align: center; //center subfigure caption
    * {
      font-weight: normal; //override strong tag
      font-family: @font-family-serif;
    }
  }

    thead {
      #content>#table>#head>.style(any; any);
      .footnote::footnote-call {
        #content>#table>#header>#title>.footnote(any; any);
      }
    }
    tbody { #content>#table>#body>.style(any; any); }
    table tbody[valign=top]>tr>td { vertical-align: top; }

    tr { #content>#table>#row>.style(any; any); }
    tr:last-child > td:first-child { #content>#table>#data>.style('left-rounded'; any); }
    tr:last-child > td:last-child { #content>#table>#data>.style('right-rounded'; any); }
    tr td:nth-child(even) { #content>#table>#data>.style('even'; any); }

    th { #content>#table>#header>.style(any; any); }
    th:not(:only-child) { #content>#table>#header>.style(any; any);}
    th:nth-child(even) { #content>#table>#header>.style('even'; any); }
    tr:first-child > th:first-child { #content>#table>#header>.style('left-rounded'; any); }
    tr:first-child > th:last-child { #content>#table>#header>.style('right-rounded'; any); }

    td { #content>#table>#data>.style(any; any); }
    td:first-child { #content>#table>#data>.style('first'; any); }
    td:last-child { #content>#table>#data>.style('last'; any); }

    // Add styling for table entries that should render as table headers
    td.header { #content>#table>#data>.style('header'; any); }
    thead > tr:first-child {
      #content>#table>#header>#title>.style(any; any);
    }
    thead > tr:not(:only-child):last-child th {
      #content>#table>#header>#title>.style('header'; any);
    }
    thead > tr:not(:only-child):last-child th:nth-child(even) {
      #content>#table>#header>#title>.style('even'; any);
    }
  }

  //handle lists inside tables
ul.itemizedlist, ol.orderedlist {
    #content>#list>.style(any; any; table);
    > .listitem > p {
      #content>#paragraph>.style(any; any; list; table);
     }
  }

  // Special colored table...
  &.color {
    th { #content>#table>#header>.style(colored; any); }
    tr { #content>#table>#row>.style(colored; any); }
    tr td:first-child { background-color: @light-orange; width: 2.5in; font-weight: bold; }
  }

  //no borders, left aligned, no color change
  &.unstyled {
      table {
        #content>#table>.style(unstyled; any);
        caption {
          #content>#table>#caption>.style(unstyled; any);
        }
        tr {
          #content>#table>#row>.style(unstyled; any);
        }
        td {
          #content>#table>#data>.style(unstyled; any);
        }
        tbody {
          #content>#table>#body>.style(unstyled; any);
      }
    }
  }

  //nested tables with header rows within
  &.multiple-headers {
    table {
      #content>#table>.style(multiple-headers; any);
      tbody {
        #content>#table>#body>.style(multiple-headers; any);
      }
      tr {
        #content>#table>#row>.style(multiple-headers; any);
      }
      td {
        #content>#table>#data>.style(multiple-headers; any);
      }
      tr table {
       thead tr .tablecell {
          #content>#table>#header>.style(multiple-header; table);
        }
        tbody {
          #content>#table>#body>.style(multiple-headers; table);
        }
        tr {
          #content>#table>#row>.style(multiple-headers; table);
        }
        thead tr:only-child, thead tr:only-child .tablecell {
          border-top: 0px !important;
        }
        td {
          #content>#table>#data>.style(multiple-headers; table);
        }
      }
    }
  }
  //left column displays as a table head.
  &.column-header tbody td:first-child  {
    #content>#table>#data>.style('header'; any);
  }
  &.column-header tbody tr:nth-child(even) td:first-child {
    #content>#table>#data>.style('header even'; any);
  }
  table {
    thead tr:first-of-type th {
      #content>#table>#header>#title>.text(any; any);
    }
  }
  &.unnumbered table {
    thead tr:first-child {
      #content>#table>#header>.style(any; unnumbered);
    }
    thead tr:first-of-type th {
      #content>#table>#header>#title>.text(any; unnumbered);
    }
  }
}



/********************************************************************
 * Styling for Appendix
 ********************************************************************/
 div.book > div.appendix .table {
   #utils>#pb>.inside(auto);
 }
