// Tables containing a lot of text content.  ( As seen in Business Ethics, Entrepreneurship, and more. ) 
div.table {

  &.text-heavy {

    table {
      // margin: 0 10em;
      thead tr:first-of-type th {
        background: @white;
        border-bottom: 1px solid @light-grey !important;
        text-align: left;
      }

      thead>tr:first-child {
        height: 40px;
        vertical-align: top;
        color: @secondary-color;
        font-weight: bold;
      }

      tbody {
        border: none;
      }

      tbody>tr>td.tablecell {
        padding: 10px;
        border: none;
      }
    }
  }
}