    // Tables containing a lot of text content.  ( As seen in Business Ethics, Entrepreneurship, and more. ) 
    div.table {

        &.text-heavy {

            table {
                // margin: 0 10em;

                thead tr:first-of-type th {
                    background: #fff;
                    border-bottom: 1px solid #E5E5E5;
                }

                thead>tr:first-child {
                    height: 40px;
                    text-align: left;
                    vertical-align: top;
                    color: #344456;
                    font-weight: bold;
                }

                td {
                    border: none;
                    padding: 10px;
                }
            }
        }


        &:not(.unstyled) {
            table {
                tbody {
                    tr {
                        td:first-child,
                        td:last-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }