// Tables containing a lot of text content.  ( As seen in Business Ethics, Entrepreneurship, and more. ) 
div.table {

  &.text-heavy {

    table {
      // margin: 0 10em;
      thead tr:first-of-type th {
        background: #fff;
        border-bottom: 1px solid #E5E5E5;
        text-align: left !important;

      }

      thead>tr:first-child {
        height: 40px;
        vertical-align: top;
        color: #344456;
        font-weight: bold;
      }

      td {
        padding: 10px;
        border: none !important;
        border-left: none !important;
        border-right: none !important;
      }
    }
  }
}