//http://www.color-blindness.com/color-name-hue/


@dark-blue:     #093D4C;
@medium-blue:  #1E7E91;
@light-blue:    #34BDD8;
@light-green:   #C4CEBB;
@light-green-10: fade(@light-green, 10%);
@bright-green:   #C6CE33;

 //math theme
 @sapphire: #093D4C;
 @bright-turquoise: #1E7E91;
 @summer-sky: #34BDD8;
 @harp-green: #C4CEBB;
 @fuego-green: #C6CE33;

//not used right now
@light-orange:  #EFD8B0;
@orange:        #D7562C;

@ui-red: #CC0000;
@ui-green: #47B247;
@ui-yellow: #F6D727;

@white:       #FFF;
@black:      #000;






