//http://www.color-blindness.com/color-name-hue/


@dark-blue:     #093D4C;
@medium-blue:  #1E7E91;
@light-blue:    #34BDD8;
@light-green:   #C4CEBB;
@bright-green:   #C6CE33;

 //math theme
 @sapphire: #093D4C;
 @bright-turquoise: #1E7E91;
 @summer-sky: #34BDD8;
 @harp-green: #C4CEBB;
 @fuego-green: #C6CE33;

//not used right now
@light-orange:  #EFD8B0;
@orange:        #D7562C;

@ui-red: #CC0000;
@ui-green: #47B247;
@ui-yellow: #F6D727;

@white:       #FFF;
@black:      #000;

@black-10: rgba(0,0,0,.1);
@black-20: rgba(0,0,0,.2);
@black-30: rgba(0,0,0,.3);
@black-40: rgba(0,0,0,.4);
@black-50: rgba(0,0,0,.5);
@black-60: rgba(0,0,0,.6);
@black-70: rgba(0,0,0,.7);
@black-80: rgba(0,0,0,.8);
@black-90: rgba(0,0,0,.9);





