/********************************************************************
 * This is a "flattened" version of the slots & skeletons for Astronomy.

 Book parts have been reorganized following the book structure (from top to bottom) for greater clarity.

 I kept the slot commented out in case they are needed to find a particular style.
 ********************************************************************/

//@import url('../../ccap-tables.less');
//@import url('../page-slots.less');
//@import url('new-math-slots.less');
//current order:
@primary-color: #24739e;
@secondary-color: #344456;
@tertiary-color: #d34d32;
@quaternary-color: #f37541;
@quinary-color: #0dc0dc;
@accent-color: #F4F4F4;
@accent-color-tinted: #F9F9F9;
//@import url('../../ccap-numbering.less');
//@import url('../../ccap-precalculus-numbering.less');
//@import url('../page-skeleton.less');
//@import url('new-math-skeleton.less');
// Ad-hoc numbering changes. Removes numbering for various pieces of content
// which use a .unnumbered class.
@import url('../utils.less');
@import url('business-color-map.less');
@import url('../ccap-base-slots.less');
@import url('../content-slots.less');

@import url('../ccap-base-skeleton.less');
@import url('../content-skeleton.less');


@import url('../includes/business-mixins.less');
@import url('../includes/numbering.less');
@import url('../unnumbered-content.less');
@import url('../folio.less');
@import url('../includes/sub-sup-scripts.less');
@import url('../includes/theme-colors.less');
@import url('../includes/business-tables.less');

@import url('../page-slots.less');
@import url('../page-skeleton.less');
@page-width: 6.5in;
@full-bleed-width: 8.75in;

/* The QR code variable is needed for psychology skeleton but we are not using it since it's going away */

// Finished printed size of the QR code is dependent on: 1-distance between qr code and scanning device
// 2-size of dots in the code(amount of data inputed into the code, the smaller the dots become)
// For most smartphones the relationship between scan distance and minimum QR code size is approximately 10:1 so a 2.5cm (1 inch)
@qr: 1.25in;

// Images in astronomy are 200DPI
html {
  prince-image-resolution: 150dpi;
  prince-background-image-resolution: 150dpi;
}

body {
  color: @default-text;
}

//variables
@base-font-size: 12px;
@font-family-serif: 'Dosis',
sans-serif,
@stix-fonts;
@font-family: 'Noto Sans',
sans-serif,
@stix-fonts;

//Strings
@cnx-string-link-to-learning: "Link to Learning";
@cnx-string-exercises: "Exercises";

// End of chapter/book strings
@cnx-string-summary: "Summary";
@cnx-string-review-questions: "Review Questions";
@cnx-string-chapter: "Chapter";
@cnx-string-introduction: "Introduction";
@cnx-string-chapter-outline: "Chapter Outline";
@cnx-string-learning-objectives: "Learning Objectives";




//global theme stuff
.bold.centered-text {
  text-align: center;
  display: inline-block;
  strong {
    font-weight: 100;
  }
}





@page landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}

.landscape {
  page: landscape;
  img {
    height: 5.2in;
    width: 9.4in;
  }
}


/* -------------------------
 * Global Styles
 * ------------------------
 */

a:link {
  color: @link-color;
}

blockquote {
  .style(...) {
    color: inherit;
    font-size: inherit;
    .line-height();
    &::before,
    &::after {
      display: none;
    }
  }
}

p {
  .line-height();
}

//remove chapter outline
div.abstract {
  display: none;
}


/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */

// Updated points width for PreCalculus assets @150 dpi
@figure-width-medium: 351pt; // Width of 3/4 size art
@figure-width-small: 234pt; // Width of 1/2 size art
img {
  .x-center-image();
}

.figure {
  //#content>#figure>.style();
  .x-center-image();
  width: 100%;
  float: column-top; // size the surrounding container to the size of the image container to allow the
  // left justified alignment of the Figure numbering and associated caption
  // default width is (hero) full size @ 625px. Specifying no class or width defwidth: 100%;aults
  // to full size.
  // 3/4 size art
  &.medium {
    //width: @figure-width-medium;
  } // 1/2 size art
  &.small {
    //width: @figure-width-small;
  }

  >.body {
    //#content>#figure>#body>.style(any; any);
  }

  >.title {
    // #content>#figure>#title>.number(); // "Figure x.x..."
    // color: black;
    // .font-scale(-1);
    .caption-number-style(); // content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title);
  }
  .caption {
    .caption-style();
    display: inline;
  }
}

//captions
span.colored-text {
  color: @colored-text-color;
}

.footnote {
  //#content>#footnote>.style();
  .font-scale(-1);
  color: @footnote-color;
  line-height: 1.5em;
  span {
    line-height: 1.5em;
    .font-scale(-1);
    color: @footnote-color;
  }
  sup {
    color: @footnote-color;
    .font-scale(-2);
  } // Footnotes in table headings (which may have white text) need to reset their colors.
  &::footnote-marker,
  >* {
    //#content>#footnote>.descendants-style();
    line-height: 1.5em;
    .font-scale(-1);
    color: @footnote-color;
  }
  &::footnote-call {
    // #content>#footnote>.call-style();
    content: counter(footnote);
    color: @footnote-color !important;
    margin-right: 1.33em !important;
  }
  &::footnote-marker {
    //from numbering
    //#content>#footnote>.marker-style();
  }
}



/* ---------------------------------------------------
 * Citations
 * ---------------------------------------------------
 */

.chapter a.link.cite::before {
  content: target-counter(attr(href), references);
  .scripts(sup);
  font-weight: 100;
}

div.end-of-book-references {
  // #part>#book-end>#end-of-book-references>.style();
  margin-left: 0;
  text-indent: 0em;
  text-align: left;
  display: inline;
  >.chapter-area {
    // #part>#book-end>#end-of-book-references>#chapter-area>.style();
    counter-reset: references;
    margin-bottom: 1em;
    >.body>.section-area .note.reference {
      // #part>#book-end>#end-of-book-references>#chapter-area>#note>.style(any; any);
      margin: 0 0 .5em 0;
      padding: 0px;
      counter-increment: references;
      >.body::before {
        // #part>#book-end>#end-of-book-references>#reference>.number();
        content: counter(references) ".";
        padding-right: .5em;
      }
    }
  }
} //global ugly overrides
.chapter,
.appendix,
.colophon,
.preface {
  #utils>#pb>.before(auto);
  #utils>#pb>.after(auto);
}

.book>.chapter,
.book>.appendix,
.book>.colophon,
.book>.preface,
.book>.part>.chapter,
.book>.part>.appendix,
.book>.part>.colophon,
.book>.part>.preface {
  page-break-before: right !important;
  page-break-after: left !important;
}


/* -------------------------
 * Book TOC
 * ------------------------
 */

.book>.toc,
.book>.part>.toc {
  //#part>#toc>.style();
  counter-reset: toc-chapter-counter 0;
  a {
    //#part>#toc>#link>.style();
    //TODO variable
    color: @toc-links-color;
    text-align: left;
    &::after {
      //#part>#toc>#link>.number();
      content: target-counter(attr(href), page);
      padding-left: 15px;
    }
  }
  >.title {
    // #part>#toc>#title>.style();
    text-align: left;
    text-transform: uppercase;
    .scale-padding(2,
    margin-bottom);
    color: @toc-title-color;
    display: inline-block;
    font-family: @font-family-serif;
    background: @toc-title-background;
    background-size: contain;
    margin-bottom: 10px; //Note: EOC sections have side paddings of 2.3 rather than 2.66, maybe change others for consistency?
    padding: .3em 2.66em;
    padding-right: 15px;
    margin-left: 10px;
    border-bottom: : 0;
    ;

    &::before {
      // display: none;
      // content: @toc-title-icon;
      // padding-right: 15px;
      // margin-left: 10px;
    }
  }

  .toc-preface,
  .toc-appendix,
  .toc-index {
    //#content>#list>.item('preface'; any; toc);
    margin-bottom: 20px;
    .secondary-header-toc(); //margin-left: 46px;
    a.target-preface,
    a.target-appendix,
    a.target-index {
      // #content>#link>.style('preface'; any; toc);
      color: @toc-chapter-link-color;
      .scale-padding(1,
      margin-bottom);

      font-size: 16px;
    }
    a.target-preface,
    a.target-index {
      margin-left: 48px;
    }
  }
  .toc-chapter {
    //#content>#list>.item('chapter'; any; toc);
    counter-increment: toc-chapter-counter;
    margin-bottom: 20px;
    &::before {
      // TODO: suggestions for refactoring this slot?
      //#part>#toc>#chapter>.number();
      .toc-square-number-styles();
      content: counter(toc-chapter-counter, decimal);
    }
    &:nth-child(2n+1) {
      //#content>#list>.item('2n+1', 'chapter'; any; toc);
      background-color: @toc-odd-bg-color;
      padding: 11px 0;
    }
    a.target-chapter {
      // #content>#link>.style('chapter'; any; toc);
      color: @toc-chapter-link-color;
      .scale-padding(1,
      margin-bottom);
      font-size: 16px;
      width: 90%;
      .secondary-header-toc();
      margin-bottom: .5em;
      display: inline-block;
    }
    .cnx-gentext-chapter {
      display: none;
    }
    >ul {
      //#content>#list>.style('chapter'; any; toc);
      border-left: 4px solid @toc-side-border-color;
      margin-left: 48px;
      .scale-padding(-1,
      padding-left);
      li {
        margin-left: 0;
      }
      li a span.cnx-gentext-n {
        font-weight: 700;
      }
      >li.toc-chapter:nth-child(2n+1) {
        //#content>#list>.item('2n+1', 'chapter'; any; toc);
        background-color: @toc-odd-bg-color;
        padding-top: 1em;
        padding-bottom: 1em;
      }
      >ul>li {
        margin: 0;
        padding: 1em 1em 1em 0em;
      }
    }
    .cnx-gentext-chapter.cnx-gentext-t {
      display: inline;
    }


    >.target-chapter::before {
      display: none;
    }
  }

  .toc-appendix {
    counter-increment: toc-appendix-counter; //#content>#link>.style('appendix'; any; toc);
    &::before {
      //#part>#toc>#chapter>.number('appendix'; any; toc);
      content: counter(toc-appendix-counter, upper-latin);
      .toc-square-number-styles();
    }
    .target-section {
      margin-left: 0;
    }
    .cnx-gentext-autogenerated,
    .cnx-gentext-n {
      display: none;
    }
  } // .toc-appendix {
  //   > a.target-appendix {
  //     //#content>#link>.style('appendix'; any; toc);
  //     color: @primary-color;
  //     .scale-padding(1, margin-bottom);
  //     margin-left: .20em;
  //     font-size: 16px;
  //   }
  // }
  // > ul > li.toc-appendix > a.target-appendix::before {
  //   content: target-counter(attr(href), appendix, upper-latin) " ";
  // }
  // .toc-index > a.target-index {
  //   //#content>#link>.style('index'; any; toc);
  //   color: @primary-color;
  //   .scale-padding(1, margin-bottom);
  //   margin-left: 48px;
  //   font-size: 16px;
  // }
}

//UGLY overrides from base
.book>.toc>.title {
  border-bottom-width: 0;
  border-bottom-style: none;
}


/* Preface
 * ------------------------
 */

div.book {
  div.preface {
    //#part>#preface>#titlepage>.style();
    h1.title {
      //#part>#preface>#titlepage>.title();
      padding-bottom: 0;
    }
    >div.section {
      div.titlepage>div>div>h2 {
        // #content>#section>#title>.style(any; preface);
        color: @preface-h2-color;
        .font-scale(2);
        font-weight: bold;
        font-family: @font-family-serif;
        padding-bottom: 0;
        .cnx-gentext-autogenerated,
        .cnx-gentext-n {
          display: none;
        }
      } //#content>#section>.style(any; preface);
      .scale-padding(2,
      margin-bottom);
      p+.section {
        margin-top: 18px;
      }
      >div.section {
        //#content>#section>.style(any; preface; section);
        .scale-padding(2,
        margin-bottom);
      }
    }
    >p+.section {
      margin-top: 18px;
    }

    .figure>.caption::before {
      //#content>#figure>#title>.number('preface'; any);
      color: black;
      .font-scale(-1);
      content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title); // Override numbering for preface figures
      content: "Figure " counter(figure) " " string(cnx-figure-title);
    }
  }
}



/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */

div.chapter {
  >div.titlepage {
    //#part>#chapter>#titlepage>.style();
    height: 100%;
    margin-top: 0;
    z-index: 1;
    position: relative;
    z-index: 1;

    div div>h1.title {
      // string-set: cnx-header "@{cnx-string-chapter} " counter(chapter, decimal)  "\0020\0020\0020" content();
      //#part>#chapter>#title>.style();
      .font-scale(1);
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 8.5in;
      height: 3.5in; //TODO
      color: @chapter-title-color;
      white-space: nowrap;
      font-weight: bold;
      font-family: @font-family-serif;

      &::before {
        //#part>#chapter>#title>.number();
        content: counter(chapter);
        font-family: @font-family;
        top: auto;
        left: 0;
        bottom: 62px;
        background-color: @chapter-number-bg-color;
        border-radius: 50%;
        min-width: 0;
        min-height: 0;
        width: 45px;
        height: 45px;
        padding-top: 0;
        border: none;
        display: block;
        line-height: 45px;
        color: @chapter-number-color;
        position: absolute;
        border: 1px solid @chapter-number-border-color;
        text-align: center;
      }
      &::after {
        //#part>#chapter>#title>.icon();
        content: '';
        display: block; //background: url(ccap-astronomy/ch-intro-telescope.svg) 0 0 no-repeat;
        width: 210px;
        height: 50px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate3d(-1in, 0, 0);
      }

      span.cnx-gentext-autogenerated,
      span.cnx-gentext-n {
        display: none;
      }
      span.cnx-gentext-t {
        &::before {
          display: none;
        }
      }

      span.cnx-gentext-t {
        //#part>#chapter>#title>.text();
        position: absolute;
        bottom: -0;
        left: 80px;
        width: 60%;
        height: 70px;
        white-space: normal;
        &::before {
          //#part>#chapter>#title>.divider();
        }
      }
    }
    div,
    div div {
      height: inherit;
    }
  }
}



/* -------------------------
 * Chapter intro: splash, toc (chapter outline)
 * -------------------------
 */

div.chapter {
  //chapter introduction
  >.introduction {
    //#part>#introduction>.style();
    margin-top: -0.80in;
    >.title {
      //#part>#introduction>#title>.style();
      color: @chapter-title-color;
      margin-bottom: 1em;
      content: initial;
      &::before {
        //#part>#introduction>#title>.style('intro-icon'; any);
        //background: @intro-icon;
        background-size: 23px 27px;
        height: 38px;
        top: 12px;
        padding-right: 13px;
      }
    }
  }
}

div.chapter {
  >.introduction {
    // chapter splash
    >.figure.splash {
      width: @full-bleed-width;
      margin-left: 0;
      position: relative;
      &::before {
        background: @intro-folio-bg;
        background-size: 100% 122px;
        height: 122px;
        width: @full-bleed-width;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -1in;
        right: -1in;
      }
      div.caption {
        width: 6.5in;
      }
      div.mediaobject {
        width: @full-bleed-width;
        border-left: none;
        height: 4.3in;
        position: relative;
        transform: translate3d(-1in, 0, 0);

        &::before {
          display: none;
        }

        &::after {
          width: 100%;
          content: '';
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 70px;
          background-color: @splash-bottom-bar-color;
          border-top: @splash-bottom-bar-border-top;
        }

        img {
          width: @full-bleed-width;
          height: 3.58in;
        }
      }
    }
    .chapter-objectives {
      display: none;
    }
  }
}

div.chapter {
  //chapter introduction
  >.introduction {
    //chapter toc
    >.toc {
      width: 100%;
      >ul {
        // #content>#list>.style('unordered'; introduction; chapter-outline);
        .side-border();
        margin: 0;
        padding-left: .75em; //border-left: 4px solid @accent-color;
      }
      >.title {
        //#part>#introduction>#chapter  -outline>#title>.style();
        page-break-before: avoid;
        page-break-before: avoid;
        content: @cnx-string-chapter-outline;
        color: @chapter-outline-title-color;
        text-align: left;
        font-family: @font-family-serif;
        padding: 0em;
        .scale-padding(1,
        margin-bottom);
        .font-scale(2);
      }
      .toc-section {
        .cnx-gentext-t {
          color: @chapter-outline-sections-color;
          font-weight: normal;
        }
        .cnx-gentext-n {
          // #content>#list>.number('unordered'; introduction; chapter-outline);
          color: @chapter-outline-number-color;
          &::after {
            content: "";
          }
        } // overide hyperlink medium blue color
        .cnx-gentext-t {
          //TODO
          color: @chapter-outline-link-color;
        }
      }
    }
  }
}


/********************************************************************
 * Module/page level Learning objectives
 ********************************************************************/

div.book div.chapter .section.learning-objectives {
  .titlepage {
    //TODO
    color: @LO-title-color;
    .font-scale(2);
  }
  .section {
    margin-left: 0;
    +.section {
      margin-left: 2em;
    }
    max-width: 30%;
    display: inline-block;

    .titlepage {
      .font-scale(1); //TODO
      color: @LO-section-titles-color;
    }
  }
}


/********************************************************************
 * Styling for Module (Page) Titles (h2)
 ********************************************************************/

div.chapter>div.section {
  >div.titlepage h2,
  >div.titlepage h3 {
    //#part>#module>#title>.style();
    font-family: @font-family-serif;
    text-transform: uppercase;
    color: @module-title-color;
    .font-scale(2);
    font-weight: 600;
    margin-bottom: 1em;

    &::before {
      //#part>#module>#title>.number();
      border: @module-number-border;
      padding: 3px 4px;
      .font-scale(-1);
      margin-right: 10px;
      vertical-align: middle;
    }

    span.cnx-gentext-n {
      display: none;
    }

    span.cnx-gentext-t {
      //#part>#module>#title>.text();
      top: 3px;
    }
  } //subsections (h3)
  >div.section {
    //#content>#section>.style(any; any);
    div.titlepage>div>div>h3 {
      //#content>#section>#title>.style(any; any);
      margin-top: 1em;
      color: @subsection-title-color;
    }
  }
}


/* -------------------------
 * Example Elements Styling and Numbering
 * -------------------------
 */

.chapter .example {
  //#content>#example>.style(any);
  border-top: 0;
  border-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .notes("Example " counter(chapter,
  decimal) "." counter(example) " ",
  @notes-title-color,
  #ebe9e9,
  none);

  >.title {
    // #content>#example>#title>.style(any);
    display: none;
    span::before {
      background-color: @example-bg-color;
      color: @example-title-color;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      padding: 0 1em;
    }
  }
}


/* -------------------------
 * Notes
 * ------------------------
 */

.chapter .note {
  width: 100%;
  div.title {
    margin-top: 15px;
  }
  &.link-to-learning {
    //#content>#note>.style('link-to-learning-new'; any);
    .notes(@cnx-string-link-to-learning,
    @quinary-color,
    #e6eaef,
    link-to-learning);
    div.mediaobject {
      display: none;
    }
  }
  .exercise {
    >.title,
    .solution::before {
      .font-scale(1);
    }
  }
}


/********************************************************************
 * End of chapter customizations
 ********************************************************************/

//key terms
.chapter .glossary {
  //#part>#glossary>.style(chapter);
  #utils>#pb>.before(always);
  display: inline;
  .titlepage h2 {
    // #part>#glossary>#title>.style(chapter);
    .moduleTitles (@glossary-title-color);
  }
  dl {
    //#part>#glossary>.style(chapter);
    display: inline;
    dt {
      //#part>#glossary>.term(chapter);
      line-height: 1.5em;
      .font-scale(0);
      &::after {
        //#part>#glossary>.divider(chapter);
      }
    }
    dd {
      // #part>#glossary>.definition(chapter);
      margin-left: 0px;
      line-height: 1.5em;
      .font-scale(0);
    }
  }
}

.cnx-eoc {
  margin-bottom: 2em;
  >.title {
    .moduleTitles(@eoc-titles-color);
  } //summary
  &.section-summary {
    //#part>#chapter-end>#summary>.style();
    >.title {
      // #part>#chapter-end>#summary>#title>.style();
      line-height: 1.75em;
      .font-scale(2) !important; // !important overrides a * selector...
      font-family: @font-family-serif;
      color: @eoc-summary-title-color;
      content: "Summary";
      background: @eoc-summary-icon;
      background-size: contain;
      padding-left: 2.3em !important;
      span {
        // override a * selector...
        padding-left: 0;
        .font-scale(2);
      }
    }
    >.section>.title {
      //#part>#chapter-end>#summary>#subtitle>.style(any; chapter-end; section);
      display: block;
      padding-top: 0;
    }
    >.section .title>a {
      // #part>#chapter-end>#summary>#title>.link();
      font-family: @font-family;
      .font-scale(0);
      color: @link-color;
    }
    p:nth-of-type(1) {
      margin-top: 1em;
    }
  } //EOC solutions
  &.cnx-solutions {
    display: none; //slots & skeleton below to be converted if necessary
    //     //#content>#solution>.style(@kind; chapter);
    //     > .section .title > a { #content>#solution>#title>.link(); }
    //     p:nth-of-type(1) { margin-top: 1em; }
    //   }
    //   .problem ol {
    //     #content>#list>.style(any; any; problem; exercise);
    //   }
    //   .problem::before {
    //     #content>#problem>.number(@kind; chapter-end);
    //   }
    //   .empty {
    //     display: hidden; // hide, but count, empty elements.
    //     #content>#section>.style("empty"; chapter-end);
    //   }
    //   .exercise div.body div.problem .figure { #content>#figure>.style(any; chapter-end; exercise); }
  }
}


/********************************************************************
 * Styling for Appendix
 ********************************************************************/

div.appendix {
  >div.titlepage>div>div h1.title {
    // #part>#book-end>#appendix>#title>.style();
    .font-scale(2);
    font-weight: bold;
    color: @appendix-title-color;
    font-family: @font-family-serif;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 15px;
    span.cnx-gentext-autogenerated:first-of-type {
      display: none;
    }
    span.cnx-gentext-n {
      //#part>#book-end>#appendix>#title>.label();
      border: @appendix-number-border;
      color: @appendix-number-color;
      padding: 4px 7px;
      .font-scale(1);
      margin-right: 10px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
    span.cnx-gentext-t {
      //#part>#book-end>#appendix>#title>.text();
      &::before {
        // #part>#book-end>#appendix>#title>.divider();
        display: none;
      }
    }
  }
  .table {
    //FIXME
    #utils>#pb>.inside(auto);
  }
  >div.section>div.section>div.titlepage h3 {
    ///#content>#section>#title>.style(any; appendix; section);
    .scale-padding(0,
    margin-bottom);
    color: black;
  }
}


/********************************************************************
 * Answer Key (EOB)
 ********************************************************************/

div.colophon.end-of-book-solutions {
  display: none !important; //slots & skeleton below to be converted if necessary
  //   prince-text-replace: "Answer:" ""; //strip out "Answer:" eob solutions for print_pdf
  //   #part>#book-end>#end-of-book-solutions>.style();
  //   > .title {
  //     #part>#book-end>#end-of-book-solutions>#title>.style();
  //   }
  //   // Some miscellaneous stuff we will have to decide on
  //   div.chapter-area:first-of-type h2.title {
  //     margin-top: 0;
  //     padding-top: 0;
  //   }
  //   .chapter-area {
  //     #part>#book-end>#end-of-book-solutions>#chapter-area>.style();
  //     > div {
  //       #part>#book-end>#end-of-book-solutions>#chapter-area>.style('subsection');
  //     }
  //     a.solution {
  //       color: black;
  //     }
  //     > h2.title a.chapter,
  //     > h2.title a.chapter span {
  //       #part>#book-end>#end-of-book-solutions>#title>.style('chapter-area');
  //     }
  //     > h2.title a.chapter {
  //       // Now that this is display: block it honors page break
  //       // rules from .chapter {}. Reset it.
  //       #utils>#pb>.before(avoid);
  //       #utils>#pb>.after(avoid);
  //     }
  //     > h2.title a.chapter span { display: inline; } // reset display: block for spans
  //     > div.review-exercises::before {
  //       #part>#book-end>#end-of-book-solutions>#title>.style('review-exercises');
  //     }
  //     > div.practice-test::before {
  //       #part>#book-end>#end-of-book-solutions>#title>.style('practice-test');
  //     }
  //     > div.try {
  //       &::before { #part>#book-end>#end-of-book-solutions>#title>.style('try-it'); }
  //       div.solution > div.title a.solution::before {
  //         content: target-counter(attr(href), chapter) "." target-counter(attr(href), try);
  //       }
  //     }
  //     > div.section-exercises::before {
  //       #part>#book-end>#end-of-book-solutions>#title>.style('section-exercises');
  //     }
  //     div.solution {
  //       #content>#solution>.style(@kind; book-end);
  //       div.itemizedlist ul, div.orderedlist ul, div.itemizedlist ol, div.orderedlist ol {
  //         #content>#list>.style(any; book-end; solution);
  //       }
  //       > div.title {
  //         #content>#solution>#title>.style(@kind; book-end);
  //       }
  //       > div.body {
  //         div, p { display: inline; }
  //         div.mediaobject {
  //           display: block;
  //           #content>#image>.style(any; book-end; solution);
  //         }
  //         #content>#solution>#body>.style(@kind; book-end);
  //         > a.target-figure {
  //           #content>#link>.style('target-figure'; any);
  //         }
  //         .cnx-svg {
  //           direction: ltr;
  //           vertical-align: middle !important;
  //           display: inline-block;
  //         }
  //       }
  //       div.table table caption { #content>#table>#caption>.style(any; book-end; solution); }
  //     }
  //   }
}


/* ---------------------------------------------------
 * EOB Index
 * ---------------------------------------------------
 */

.index {
  >.title {
    // #part>#book-end>#index>#title>.style();
    .font-scale(2);
    font-family: @font-family-serif;
    color: @index-title-color;
    margin-bottom: 22px;
  } // This is required to override ccap base without targetting both .title and .title h2.
  // The goal here is to make > .title h2 go away.
  >.title h2 {
    padding: 0;
    font-size: inherit;
  }

  h3.letter {
    //#part>#book-end>#index>.letter();
    .font-scale(1);
    font-family: @font-family;
    color: @index-letter-color;
  }
  h3.letter:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  .index-term {
    // #part>#book-end>#index>.term();
    .font-scale(0);
    line-height: 1.5em;
  }

  a {
    //#part>#book-end>#index>.link();
    font-weight: normal;
  }
}