

//current order:
@primary-color:       #24739e;
@secondary-color:     #344456;
@tertiary-color:      #d34d32;
@quaternary-color:    #f37541 ;
@quinary-color:       #0dc0dc;
@accent-color:        #F4F4F4;
@accent-color-tinted: #F9F9F9;

//features
@feature-style-1-body-color: #F2F2F2;
@feature-style-2-body-color: #D6D9DD;
@feature-style-3-body-color: #D3E3EB;
 
//generic colors
//@dark-blue:      #093D4C;
@medium-blue:    #1E7E91;
@light-blue:     #34BDD8;
@light-green:    #C4CEBB;
@bright-green:   #C6CE33;
@light-orange: #EFD8B0; ///?
@white: #fff;
@black: #000;

@ui-red:    #CC0000;
@ui-green:  #47B247;
@ui-yellow: #F6D727;


@default-text: #242424;

// elements
@folio-chapter-header-color: @white;
@colored-text-color: @ui-red;
@link-color: #027eb5;
@folio-color: @secondary-color;
@footnote-color: #6D6F71;
@footnote-bg-color: linear-gradient(180deg, @quaternary-color, @quaternary-color);

//preface titles
@preface-h2-color: @primary-color;
//tables
@border-radius: 2.88px;
@table-border: 1px solid #F4F4F4;
@table-body-border: 1px solid rgba(0,0,0,0.1);
@table-content-color: @secondary-color;
@table-head-color: @secondary-color;
@table-header-bg-color: @quinary-color;
@th-border-color: fade(#1e7e91, 20%) !important; //this may not work
@td-border-color: rgba(0,0,0,0,1);
@colored-table-bg-color: @light-orange;

@first-th-bg-color: @quinary-color;
@first-th-color: @secondary-color;
@2d-th-bg-color: @primary-color;
@2d-th-color: @white;

//text-heavy tables
@text-heavy-bg-color: @white;
@text-heavy-border: 1px solid #E5E5E5 !important;
@text-heavy-color: @secondary-color;

////left column displays as a table head.
@col-header-color: @white;
@col-header-bg-color: @secondary-color;

//TOC
@toc-title-color: @secondary-color;
@toc-title-background: url("ccap-astronomy/TOC.svg") no-repeat left;
@toc-title-icon: url("ccap-basic-math/math-toc-icon.png");

@toc-links-color: @secondary-color;
@toc-chapter-link-color: @primary-color;
@toc-number-border-color: @quinary-color;
@toc-number-color: @primary-color;
@toc-odd-bg-color: @accent-color-tinted;
@toc-side-border-color: @accent-color;

//intro page
@chapter-number-bg-color: @white;
@chapter-number-color: @secondary-color;
@chapter-number-border-color: @white;
@chapter-title-color: @white;
//icons & images for the splash page (not really color but still custom stuff per book)
@intro-icon: url("ccap-astronomy/CH_intro.svg") no-repeat left;
@intro-folio-bg: transparent url('ccap-astronomy/folio-bg.png') 0 0 repeat-x;
@splash-bottom-bar-color: @primary-color;
@splash-bottom-bar-border-top: 4px solid rgba(60 ,39, 71, .5);


//chapter outline
@chapter-outline-title-color: @primary-color;
@chapter-outline-sections-color: @black;
@chapter-outline-number-color: @primary-color;
@chapter-outline-link-color: @secondary-color;

//learning objectives
@LO-title-color: @secondary-color;
@LO-section-titles-color: @primary-color;

//Module/page titles (H2)
@module-title-color: @primary-color;
@module-number-border: 2px solid @quinary-color;

//Subsection titles (h3)
@subsection-title-color: @secondary-color;

//Examples
@example-bg-color: @primary-color;
@example-title-color: @white;

//notes
@notes-title-color: @primary-color;
@notes-subtitle-color: @secondary-color;
@notes-body-text-color: @black;

//Glossary
@glossary-title-color: @primary-color;

//EOC
@eoc-titles-color: @primary-color;

//EOC key terms
//@eoc-key-terms-title: see above
@key-terms-svg : url("ccap-astronomy/key-terms.svg");

//EOC summary
@eoc-summary-title-color: @primary-color;
@eoc-summary-icon: url("ccap-astronomy/Summary.svg") no-repeat left;

//solutions
@solutions-subheading-color: @black;

//captions
@caption-color:#58595B;
@caption-number-color: #221E1F;

//appendices
@appendix-title-color: @primary-color;
@appendix-number-color: @secondary-color !important;
@appendix-number-border: 2px solid @quaternary-color;

//References
@reference-title-color: @black;

//Index
@index-title-color: @secondary-color;
@index-letter-color: @secondary-color;

//Attributions
@attribution-title-color: @black;
