/********************************************************************
 * This is a "flattened" version of the slots & skeletons for Astronomy.

 Book parts have been reorganized following the book structure (from top to bottom) for greater clarity.

 I have kept the slot commented out in case it's needed to find a particular style.
 ********************************************************************/


//variables
@import url('../includes/theme-colors.less');

@primary-color: #344456;
@secondary-color: #24739e;
@tertiary-color: #0dc0dc;
@quaternary-color: #d34d32;
@quinary-color: #f37541;
@accent-color: #F4F4F4;
@accent-color-tinted: #F9F9F9;
@link-color: #34BDD8;
@footnote-color: #6D6F71;


//strings


//mixins
.folio-chapter-header() {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.line-height() {
  line-height: 1.6em;
}
    // color: @tertiary-color;
    // display: inline-block !important;
    // font-family: @font-family-serif;
    // background: url("ccap-astronomy/Key Terms.svg") no-repeat left;
    // background-size: contain;
    // margin-bottom: 10px;
    // padding: .3em 2.3em !important;
    // font-size: 18px !important;
.moduleTitles (@color) {
    color: @color;
    display: inline-block !important;
    font-family: @font-family-serif;
    background: url("ccap-astronomy/Key Terms.svg") no-repeat left; //todo: create icons + variables
    background-size: contain;
    margin-bottom: 10px;
    padding: .3em 2.3em !important;
    .font-scale(2) !important;
}

.notes(@title, @title-background-color, @background-color, @icon, @text-color: #4F5151, @icon-width: 19px, @icon-height: 22px, @icon-top: 12px, @icon-right: 15px) {
  display: table;
  position: relative;
  background-color: @background-color;
  text-align: left;
  color: @text-color;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0;
  box-sizing: border-box;

  &::before {
    display: table-caption;
    content: @title;
    font-weight: 600;
    font-style: normal;
    background-color: @title-background-color;
    color: #fff;
    line-height: 48px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .font-scale(1);
    font-family: @font-family-serif;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    #utils>#pb>.after(avoid);
  }

  > div.title {
    .font-scale(1);
    color: @tertiary-color;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
  }

  > div.body {
    padding: 15px;
    border: 0;
    &::before {
      display: block;
      content: '';
      background: url("ccap-astronomy/@{icon}.svg") no-repeat 0;
      width: @icon-width;
      height: @icon-height;
      position: absolute;
      top: @icon-top;
      right: @icon-right;
    }
    p {
      padding: 0;
    }
    p:first-child {
      margin-top: 0;
    }
  }
}
//EOC exercises custom numbering
.eocCustomCounters (@identifier, @counterName) {
  .exercise {
    counter-increment: @counterName !important;
    div.body > div.problem {
    &::before {
      content: " " @identifier " " counter(@counterName)  "" !important;
     }
    }
  }
}

/* -------------------------
 * Page Configs
 * ------------------------
 */
@page {
   .footnotes() {
    border-top: none;
    padding-top: 1.333em;
    background-image: linear-gradient(180deg, @quaternary-color, @quaternary-color);
    background-position: left top;
    background-size: 65px 1px;
    background-repeat: no-repeat;
  }
  .folio-typography() {
    font-family: @font-family-serif;
    color: @tertiary-color;
    font-size: 10px;
  }
  .top-left(left) { .folio-typography(); }
  .top-left(right) { .folio-typography(); }
  .top-left(chapter) {
    .folio-typography();
   }
  .top-right(left) { .folio-typography(); }
  .top-right(right) { .folio-typography(); }
  .top-right(chapter) {
    .folio-typography();
  }
  .top-left-corner(chapter) {
    .folio-chapter-header();
    .folio-chapter-header-reset();
  }
  .top-right-corner(chapter) {
    .folio-chapter-header();
    .folio-chapter-header-reset();
  }
  .top-left(chapter) {
    .folio-chapter-header();
  }
  .top-center(chapter) {
    .folio-chapter-header();
  }
  .top-right(chapter) {
    .folio-chapter-header();
  }
  .bottom-left(left) {
    .folio-typography();
  }

}
@page  landscape {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}
.landscape {
  page: landscape;
  img {
    height: 5.2in;
    width: 9.4in;
  }
}
/* -------------------------
 * Global Styles
 * ------------------------
 */
blockquote {
  .style(...) {
    color: inherit;
    font-size: inherit;
    .line-height();
    &::before, &::after {
      display: none;
    }
  }
}
//remove chapter outline
div.abstract {
  display: none;
}
/* ---------------------------------------------------
 * Figures/Subfigures
 * ---------------------------------------------------
 */

// Updated points width for PreCalculus assets @150 dpi
@figure-width-medium: 351pt;  // Width of 3/4 size art
@figure-width-small:  234pt;  // Width of 1/2 size art

.figure {
  //#content>#figure>.style();
  width: 100%;
  // size the surrounding container to the size of the image container to allow the
  // left justified alignment of the Figure numbering and associated caption
  // default width is (hero) full size @ 625px. Specifying no class or width defwidth: 100%;aults
  // to full size.

  // 3/4 size art
  &.medium {
    //width: @figure-width-medium;
  }

  // 1/2 size art
  &.small {
    //width: @figure-width-small;
  }

  > .body {
    //#content>#figure>#body>.style(any; any);
  }

  > .title {
   // #content>#figure>#title>.number(); // "Figure x.x..."
    color: black;
    .font-scale(-1);
    content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title);
  }
}
span.colored-text {
  color: #CC0000;
}
.footnote {
  //#content>#footnote>.style();
  .font-scale(-1);
    color: @footnote-color;
    line-height: 1.5em;
  span {
    line-height: 1.5em;
    .font-scale(-1);
    color: @footnote-color;
  }
  sup {
    color: @footnote-color;
    .font-scale(-2);
  }
  // Footnotes in table headings (which may have white text) need to reset their colors.
  &::footnote-marker,
  > * {
    //#content>#footnote>.descendants-style();
          line-height: 1.5em;
      .font-scale(-1);
      color: @footnote-color;
  }
  &::footnote-call {
   // #content>#footnote>.call-style();
    content: counter(footnote);
    color: @footnote-color !important;
    margin-right: 1.33em !important;
  }
  &::footnote-marker {
    #content>#footnote>.marker-style();
  }
}

/* -------------------------
 * Book TOC
 * ------------------------
 */
.book > .toc {
  //#part>#toc>.style();
  counter-reset: toc-chapter-counter 0;

  > .title {
   // #part>#toc>#title>.style();
   &::before {
      display: none;
    }
    text-transform: uppercase;
    .scale-padding(2, margin-bottom);
    color: @tertiary-color;
    display: inline-block;
    font-family: @font-family-serif;
    background: url("ccap-astronomy/TOC.svg") no-repeat left;
    background-size: contain;
    margin-bottom: 10px;
    //Note: EOC sections have side paddings of 2.3 rather than 2.66, maybe change others for consistency?
    padding: .3em 2.66em;
    padding-right: 15px;
    margin-left: 10px;
  }

  .toc-preface.preface, .toc-appendix.appendix {
    //FIXME
    #utils>#pb>.before(avoid);
    #utils>#pb>.after(avoid);
  }

  a {
    //#part>#toc>#link>.style();
    color: @dark-blue;
    text-align: left;

  &::after {
    //#part>#toc>#link>.number();
    content: target-counter(attr(href), page);
   padding-left: 15px;
  }
 }

  .toc-preface {
    //#content>#list>.item('preface'; any; toc);
    margin-bottom: 20px;
    a.target-preface {
      // #content>#link>.style('preface'; any; toc);
      color: @primary-color;
      .scale-padding(1, margin-bottom);
      margin-left: 48px;
      font-size: 16px;
    }
  }
  .toc-chapter {
    //#content>#list>.item('chapter'; any; toc);
    margin-bottom: 20px;
    .cnx-gentext-chapter {
      display: none;
    }
    > ul {
      //#content>#list>.style('chapter'; any; toc);
      border-left: 4px solid @accent-color;
      margin-left: 48px;
      .scale-padding(-1, padding-left);
      li {
        margin-left: 0;
      }
      li a span.cnx-gentext-n {
        font-weight: 700;
      }
      > li.toc-chapter:nth-child(2n+1) {
        //#content>#list>.item('2n+1', 'chapter'; any; toc);
        background-color: @accent-color-tinted;
        padding-top: 1em;
        padding-bottom: 1em;
      }
      > ul > li {
        margin: 0;
        padding: 1em 1em 1em 0em;
      }
    }
    .cnx-gentext-chapter.cnx-gentext-t {
      display: inline;
    }
    &::before {
      // TODO: suggestions for refactoring this slot?
      //#part>#toc>#chapter>.number();
      display: inline-block;
      color: @secondary-color;
      border: 1px solid @quaternary-color;
      .font-scale(0);
      padding: 0;
      margin-right: 10px;
      margin-left: 10px;
      font-weight: 700;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
    }
    a.target-chapter {
      // #content>#link>.style('chapter'; any; toc);
      color: @primary-color;
      .scale-padding(1, margin-bottom);
      font-size: 16px;
      width: 90%;
    }
    > .target-chapter::before {
      display: none;
    }
  }

  .toc-appendix {
    > a.target-appendix {
      //#content>#link>.style('appendix'; any; toc);
      color: @primary-color;
      .scale-padding(1, margin-bottom);
      margin-left: .20em;
      font-size: 16px;
    }
  }
  > ul > li.toc-appendix > a.target-appendix::before {
    content: target-counter(attr(href), appendix, upper-latin) " ";
  }

  .toc-index > a.target-index {
    //#content>#link>.style('index'; any; toc);
    color: @primary-color;
    .scale-padding(1, margin-bottom);
    margin-left: 48px;
    font-size: 16px;
  }
  .preface, .appendix {
    page-break-before: auto;
    page-break-after: auto;
  }
}


/* -------------------------
 * Preface
 * ------------------------
 */
div.book {
  div.preface {
    //#part>#preface>#titlepage>.style();
    h1.title {
      //#part>#preface>#titlepage>.title();
      padding-bottom: 0;
    }
    > div.section {
      div.titlepage > div > div > h2 {
        // #content>#section>#title>.style(any; preface);
        color: @tertiary-color;
        .font-scale(2);
        font-weight: bold;
        font-family: @font-family-serif;
        padding-bottom: 0;
      }
      //#content>#section>.style(any; preface);
      .scale-padding(2, margin-bottom);
      p + .section {
        margin-top: 18px;
      }
      > div.section {
        //#content>#section>.style(any; preface; section);
        .scale-padding(2, margin-bottom);
      }
    }
    > p + .section {
      margin-top: 18px;
    }

    .figure > .caption::before {
      //#content>#figure>#title>.number('preface'; any);
      color: black;
      .font-scale(-1);
      content: "Figure " counter(chapter, decimal) "." counter(figure) " " string(cnx-figure-title);
      // Override numbering for preface figures
      content: "Figure " counter(figure) " " string(cnx-figure-title);
    }
  }
}

/* -------------------------
 * Unit Page
 * ------------------------
 */
div.part > div.titlepage { display: none; }

/* -------------------------
 * Chapter title (over the splash page)
 * ------------------------
 */

div.book > div.chapter {
  > div.titlepage {
  //#part>#chapter>#titlepage>.style();
    height: 100%;
    margin-top: 0;

    div div > h1.title {
      //#part>#chapter>#title>.style();
      padding: 0;
      padding-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 8.5in;
      height: 3.5in;
      color: @tertiary-color;
      .font-scale(2);
    &::before {
      //#part>#chapter>#title>.number();
      font-family: @font-family;
      top: auto;
      left: 0;
      bottom: 42px;
      background-color: white;
      border-radius: 50%;
      min-width: 0;
      min-height: 0;
      width: 45px;
      height: 45px;
      padding-top: 0;
      border: none;
      display: block;
      line-height: 45px;
      color: @secondary-color;
    }
    &::after {
      //#part>#chapter>#title>.icon();
      content: '';
      display: block;
      //background: url(ccap-astronomy/ch-intro-telescope.svg) 0 0 no-repeat;
      width: 210px;
      height: 50px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate3d(-1in, 0, 0);
    }
    span.cnx-gentext-t {
      //#part>#chapter>#title>.text();
      position: absolute;
      bottom: -20px;
      left: 80px;
      width: 60%;
      height: 70px;
      white-space: normal;

      &::before {
        #part>#chapter>#title>.divider();
       }
      }
    }
  }
}
/********************************************************************
 * Module/page level Learning objectives
 ********************************************************************/
 div.book div.chapter .section.learning-objectives {
  .section {
    max-width: 33%;
    display: inline-block;
  }
 }
/********************************************************************
 * Styling for Module (Page) Titles (h2)
 ********************************************************************/
 div.book div.chapter > div.section {
  > div.titlepage h2 {
    //#part>#module>#title>.style();
    font-family: @font-family-serif;
    text-transform: uppercase;
    color: @tertiary-color;  //maybe we should move this at the book level in the headers section
    .font-scale(2);
    font-weight: 600;
    margin-bottom: 1em;

    &::before {
      //#part>#module>#title>.number();
      border: 2px solid @quaternary-color;
      padding: 3px 4px;
      .font-scale(-1);
      margin-right: 10px;
      vertical-align: middle;
    }

    span.cnx-gentext-n { display: none; }

    span.cnx-gentext-t {
      //#part>#module>#title>.text();
      top: 3px;
    }
  }

  //subsections (h3)
> div.section {
  //#content>#section>.style(any; any);
  div.titlepage > div > div > h3 {
    //#content>#section>#title>.style(any; any);
      margin-top: 1em;
      color: @secondary-color;
    }
  }
 }



/* -------------------------
 * Chapter intro: splash, toc (chapter outline)
 * -------------------------
 */

div.book > div.chapter {
  //chapter introduction
  > .introduction {
    //#part>#introduction>.style();
    margin-top: -0.80in;
    >.title {
      //#part>#introduction>#title>.style();
      color: @tertiary-color;
      margin-bottom: 1em;
      content: initial;
      &::before {
        //#part>#introduction>#title>.style('intro-icon'; any);
        background: url("ccap-astronomy/CH_intro.svg") no-repeat left;
        background-size: 23px 27px;
        height: 38px;
        top: 12px;
        padding-right: 13px;
      }
    }

    // chapter splash
    > .figure.splash {
      position: relative;
      &::before {
        background: transparent url('ccap-astronomy/folio-bg.png') 0 0 repeat-x;
        background-size: 100% 122px;
        height: 122px;
        width: 8.5in;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -1in;
        right: -1in;
      }
      div.caption {
        width: 6.5in;
      }
      div.mediaobject {
        border-left: none;
        height: 4.3in;
        position: relative;

        &::before {
          display: none;
        }

        &::after {
          width: 100%;
          content: '';
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 70px;
          background-color: @quinary-color;
          border-top: 4px solid rgba(60 ,39, 71, .5);
        }

        img {
          width: 8.5in;
          height: 3.58in;
        }
      }
    }

    //chapter toc
    > .toc {
      > ul {
        // #content>#list>.style('unordered'; introduction; chapter-outline);
        border-left: 4px solid @accent-color;
      }
      > .title {
        //#part>#introduction>#chapter-outline>#title>.style();
        .scale-padding(1, margin-bottom);
        .font-scale(2);
      }
      .toc-section {
        .cnx-gentext-t {
          color: @black;
          font-weight: normal;
        }
        .cnx-gentext-n {
          // #content>#list>.number('unordered'; introduction; chapter-outline);
          color: @summer-sky;
          &::after {
            content: "";
          }
         }
        // overide hyperlink medium blue color
        .cnx-gentext-t {
         color: @tertiary-color;
        }
      }
    }
  }
}

/* -------------------------
 * Example Elements Styling and Numbering
 * -------------------------
 */
.chapter .example {
  //#content>#example>.style(any);
  border-top: 0;
  border-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  .notes("Example " counter(chapter, decimal) "." counter(example) " ", @primary-color, #ebe9e9, none);

  > .title {
   // #content>#example>#title>.style(any);
    display: none;
    span::before {
      background-color: @primary-color;
      color: @fuego-green;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      padding: 0 1em;
    }
  }
}

/* -------------------------
 * Notes
 * ------------------------
 */
.chapter .note {
  div.title {
    margin-top: 15px;
  }
  &.link-to-learning {
    //#content>#note>.style('link-to-learning-new'; any);
    .notes(@cnx-string-link-to-learning, @secondary-color, #e6eaef, link-to-learning);
      div.mediaobject {
      display: none;
    }
  }
  &.concepts-practice {
    .notes(@cnx-string-concepts-to-practice, @secondary-color, #e6eaef, link-to-learning);
  }
  &.continuing-application {
    .notes(@cnx-string-continuing-application, @secondary-color, #e6eaef, link-to-learning);
  }
  &.think-through {
    .notes(@cnx-string-think-through, @secondary-color, #e6eaef, link-to-learning);
  }
  &.your-turn {
    .notes(@cnx-string-your-turn, @secondary-color, #e6eaef, link-to-learning);
  }
  .exercise {
    > .title, .solution::before {
      .font-scale(1);
    }
  }
}

/********************************************************************
 * End of chapter customizations
 ********************************************************************/

 //key terms
.chapter .glossary {
  //#part>#glossary>.style(chapter);
  #utils>#pb>.before(always);
  display: inline;
  .titlepage h2 {
    // #part>#glossary>#title>.style(chapter);
    .moduleTitles (@tertiary-color);
  }
  dl {
    //#part>#glossary>.style(chapter);
    display: inline;
    dt {
      //#part>#glossary>.term(chapter);
      line-height: 1.5em;
      .font-scale(0);
      &::after {
        #part>#glossary>.divider(chapter);
      }
    }
    dd {
     // #part>#glossary>.definition(chapter);
      margin-left: 0px;
      line-height: 1.5em;
      .font-scale(0);
    }
  }
}

.cnx-eoc {
  margin-bottom: 2em;
  > .title {
    .moduleTitles(@tertiary-color);
  }
  //summary
    &.section-summary {
    //#part>#chapter-end>#summary>.style();
    > .title {
      // #part>#chapter-end>#summary>#title>.style();
      line-height: 1.75em;
      .font-scale(2) !important; // !important overrides a * selector...
      font-family: @font-family-serif;
      color: @tertiary-color;
      content: "Summary";
      background: url("ccap-astronomy/Summary.svg") no-repeat left;
      background-size: contain;
      padding-left: 2.3em !important;
      span { // override a * selector...
      padding-left: 0;
      .font-scale(2);
      }
    }
    > .section > .title {
      //#part>#chapter-end>#summary>#subtitle>.style(any; chapter-end; section);
      display: block;
      padding-top: 0;
    }
    > .section .title > a {
      // #part>#chapter-end>#summary>#title>.link();
      font-family: @font-family;
      .font-scale(0);
      color: @link-color;
    }
    p:nth-of-type(1) { margin-top: 1em; }
  }


  //custom numbering for Accouting
  &.multiple-choice-1 {
    .eocCustomCounters ("MC-1", mc1);
  }
  &.multiple-choice-2 {
    .eocCustomCounters ("MC-2", mc2);
  }
  &.multiple-choice-3 {
    .eocCustomCounters ("MC-3", mc3);
  }
  &.questions-1 {
    .eocCustomCounters ("Q-1", q1);
  }
  &.questions-2 {
    .eocCustomCounters ("Q-2", q2);
  }
  &.questions-3 {
    .eocCustomCounters ("Q-3", q3);
  }
  &.exercise-set-a1 {
    .eocCustomCounters ("EA-1", ea3);
  }
  &.exercise-set-a2 {
    .eocCustomCounters ("EA-2", ea2);
  }
  &.exercise-set-a3 {
    .eocCustomCounters ("EA-3", ea3);
  }
  &.exercise-set-b1 {
    .eocCustomCounters ("EB-1", eb1);
  }
  &.exercise-set-b2 {
    .eocCustomCounters ("EB-2", eb2);
  }
  &.exercise-set-b3 {
    .eocCustomCounters ("EB-3", eb3);
  }
  &.problems-set-a1 {
    .eocCustomCounters ("PA-1", pa1);
  }
  &.problems-set-a2 {
    .eocCustomCounters ("PA-2", pa2);
  }
  &.problems-set-a3 {
    .eocCustomCounters ("PA-3", pa3);
  }
  &.problems-set-b1 {
    .eocCustomCounters ("PB-1", pb1);
  }
  &.problems-set-b2 {
    .eocCustomCounters ("PB-2", pb2);
  }
  &.problems-set-b3 {
    .eocCustomCounters ("PB-3", pb3);
  }
  &.thought-provoker-1 {
    .eocCustomCounters ("TP-1", tp1);
  }
  &.thought-provoker-2 {
    .eocCustomCounters ("TP-2", tp2);
  }
  &.thought-provoker-3 {
    .eocCustomCounters ("TP-3", tp3);
  }

  //EOC solutions
  &.cnx-solutions {
    display: none; //slots & skeleton below to be converted if necessary
    //     //#content>#solution>.style(@kind; chapter);
    //     > .section .title > a { #content>#solution>#title>.link(); }
    //     p:nth-of-type(1) { margin-top: 1em; }
    //   }

    //   .problem ol {
    //     #content>#list>.style(any; any; problem; exercise);
    //   }
    //   .problem::before {
    //     #content>#problem>.number(@kind; chapter-end);
    //   }

    //   .empty {
    //     display: hidden; // hide, but count, empty elements.
    //     #content>#section>.style("empty"; chapter-end);
    //   }

    //   .exercise div.body div.problem .figure { #content>#figure>.style(any; chapter-end; exercise); }
  }
}

/********************************************************************
 * Styling for Appendix
 ********************************************************************/
div.book > div.appendix {
  > div.titlepage > div > div h1.title {
    // #part>#book-end>#appendix>#title>.style();
    .font-scale(2);
    font-weight: bold;
    color: @tertiary-color;
    font-family: @font-family-serif;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 15px;
    span.cnx-gentext-autogenerated:first-of-type {
        display: none;
    }
    span.cnx-gentext-n {
      //#part>#book-end>#appendix>#title>.label();
      border: 2px solid @quaternary-color;
      color: @secondary-color !important;
      padding: 4px 7px;
      .font-scale(1);
      margin-right: 10px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
    span.cnx-gentext-t {
      //#part>#book-end>#appendix>#title>.text();
      &::before {
       // #part>#book-end>#appendix>#title>.divider();
       display: none;
      }
    }
  }
  .table {
    //FIXME
    #utils>#pb>.inside(auto);
  }
  > div.section  > div.section > div.titlepage h3 {
    ///#content>#section>#title>.style(any; appendix; section);
    .scale-padding(0, margin-bottom);
    color: black;
  }
}

/********************************************************************
 * Answer Key (EOB)
 ********************************************************************/
div.colophon.end-of-book-solutions {
  display: none !important; //slots & skeleton below to be converted if necessary
//   prince-text-replace: "Answer:" ""; //strip out "Answer:" eob solutions for print_pdf
//   #part>#book-end>#end-of-book-solutions>.style();

//   > .title {
//     #part>#book-end>#end-of-book-solutions>#title>.style();
//   }

//   // Some miscellaneous stuff we will have to decide on
//   div.chapter-area:first-of-type h2.title {
//     margin-top: 0;
//     padding-top: 0;
//   }

//   .chapter-area {
//     #part>#book-end>#end-of-book-solutions>#chapter-area>.style();

//     > div {
//       #part>#book-end>#end-of-book-solutions>#chapter-area>.style('subsection');
//     }

//     a.solution {
//       color: black;
//     }

//     > h2.title a.chapter,
//     > h2.title a.chapter span {
//       #part>#book-end>#end-of-book-solutions>#title>.style('chapter-area');
//     }
//     > h2.title a.chapter {
//       // Now that this is display: block it honors page break
//       // rules from .chapter {}. Reset it.
//       #utils>#pb>.before(avoid);
//       #utils>#pb>.after(avoid);
//     }
//     > h2.title a.chapter span { display: inline; } // reset display: block for spans

//     > div.review-exercises::before {
//       #part>#book-end>#end-of-book-solutions>#title>.style('review-exercises');
//     }
//     > div.practice-test::before {
//       #part>#book-end>#end-of-book-solutions>#title>.style('practice-test');
//     }
//     > div.try {
//       &::before { #part>#book-end>#end-of-book-solutions>#title>.style('try-it'); }
//       div.solution > div.title a.solution::before {
//         content: target-counter(attr(href), chapter) "." target-counter(attr(href), try);
//       }
//     }
//     > div.section-exercises::before {
//       #part>#book-end>#end-of-book-solutions>#title>.style('section-exercises');
//     }


//     div.solution {
//       #content>#solution>.style(@kind; book-end);

//       div.itemizedlist ul, div.orderedlist ul, div.itemizedlist ol, div.orderedlist ol {
//         #content>#list>.style(any; book-end; solution);
//       }

//       > div.title {
//         #content>#solution>#title>.style(@kind; book-end);
//       }

//       > div.body {
//         div, p { display: inline; }
//         div.mediaobject {
//           display: block;
//           #content>#image>.style(any; book-end; solution);
//         }
//         #content>#solution>#body>.style(@kind; book-end);
//         > a.target-figure {
//           #content>#link>.style('target-figure'; any);
//         }
//         .cnx-svg {
//           direction: ltr;
//           vertical-align: middle !important;
//           display: inline-block;
//         }
//       }
//       div.table table caption { #content>#table>#caption>.style(any; book-end; solution); }
//     }
//   }
 }

/* ---------------------------------------------------
 * EOB Index
 * ---------------------------------------------------
 */
.book > .index {
  > .title {
    // #part>#book-end>#index>#title>.style();
    .font-scale(2);
    font-family: @font-family-serif;
    color: @secondary-color;
    margin-bottom: 22px;
  }

  // This is required to override ccap base without targetting both .title and .title h2.
  // The goal here is to make > .title h2 go away.
  > .title h2 {
    padding: 0;
    font-size: inherit;
  }

  h3.letter {
    //#part>#book-end>#index>.letter();
    .font-scale(1);
    font-family: @font-family;
    color: @secondary-color;
  }
  h3.letter:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  .index-term {
   // #part>#book-end>#index>.term();
    .font-scale(0);
    line-height: 1.5em;
  }

  a {
    //#part>#book-end>#index>.link();
    font-weight: normal;
  }
}
